<div class="container" style="max-width: 350px; margin-bottom: 30px;">

  <div *ngIf="showLoading" class="loading-container" aria-live="polite">
    <div class="loading-indicator">
        <i class="pi pi-spin pi-spinner"></i>
        <span>{{ loadingMessage }}</span>
    </div>
  </div>
  
  <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="p-grid" style="margin-top: 60px;">

      <div class="col-12 p-fluid" class="text-center">
        <h2>dikahub</h2>
      </div>

      <div class="col-12 p-fluid">
        <input pInputText type="text" class="form-control" name="username" placeholder="Username" ngModel
          #usernameInput="ngModel" required>
        <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Insira o
          username</span>
      </div>

      <div class="col-12 p-fluid">
        <input pInputText type="password" class="form-control" name="password" placeholder="Password" ngModel
          #passwordInput="ngModel" required>
        <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Insira a
          senha.</span>
      </div>

      <div class="col-12 p-fluid">

        <button pButton type="submit" [disabled]="loginForm.invalid || showLoading" name="button" class="btn login_btn">
          <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
          <span *ngIf="showLoading">Getting...</span>
          <span *ngIf="!showLoading">Login</span>
        </button>
      </div>
    </div>

    <!--
    <div id="g_id_onload"
      data-client_id="170476897572-k758vjru9e2qqa707qhb5ns2kaaegquc.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-auto_select="true"
      data-login_uri="http://localhost:8080/user/auth/google"
      data-itp_support="true">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>

    <div id="google-signin-button"></div>
    -->

  </form>

  <div id="google-signin-button"></div>

</div>

