<div class="container" style="max-width: 350px; margin-bottom: 30px;">

  <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="p-grid" style="margin-top: 60px;">

      <div class="col-12 p-fluid" class="text-center">
        <!--<img height="20" width="60" src="{{imagePath}}" class="rounded-circle img-fluid img-thumbnail" alt="" />-->
        <h2>Ku-DONDZA</h2>
      </div>

      <div class="col-12 p-fluid">
        <input pInputText type="text" class="form-control" name="username" placeholder="Username" ngModel
          #usernameInput="ngModel" required>
        <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Insira o
          username</span>
      </div>

      <div class="col-12 p-fluid">
        <input pInputText type="password" class="form-control" name="password" placeholder="Password" ngModel
          #passwordInput="ngModel" required>
        <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Insira a
          senha.</span>
      </div>

      <div class="col-12 p-fluid">
        <!--<button pButton type="submit" label="Login"></button>-->

        <button pButton type="submit" [disabled]="loginForm.invalid || showLoading" name="button" class="btn login_btn">
          <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>&nbsp;&nbsp;
          <span *ngIf="showLoading">Getting...</span>
          <span *ngIf="!showLoading">Login</span>
        </button>
      </div>
    </div>
  </form>

</div>