<div class="container" style="margin-top: 70px; max-width: 900px;">

    <!-- Página de Detalhes da Competição -->
    <div *ngIf="showStartScreen" class="competition-details" aria-labelledby="competition-title">
        <!-- Nome da Competição -->
        <header>
            <h1 class="title" id="competition-title">{{ competition.title }}</h1>
            <!-- Descrição da Competição -->
            <p class="competition-description">
                Participe da nossa competição e teste seus conhecimentos em diversas áreas. As questões foram preparadas
                para desafiar sua mente!
            </p>
            
            <div class="competition-status">
                <p class="status-item">
                    <strong>Status: </strong>
                    <span class="status-label {{ competition.status | lowercase }}">
                        {{ getStatus(competition.status) }}
                    </span>
                </p>
                <p class="status-item">
                    <strong>Started at: </strong> {{ competition.startedAt | date: 'short' }}
                </p>
            </div>

            <br>
            <br>

            <div class="button-container">
                <button class="btn-start" (click)="initCompetition()" *ngIf="isPlanned" aria-label="Iniciar Competição">
                    Iniciar
                </button>
                <button class="btn-start" (click)="finishCompetition()" *ngIf="isOngoing" aria-label="Finalizar Competição">
                    Finalizar
                </button>

                <button class="btn-start" (click)="start()" *ngIf="canStart" aria-label="Começar Competição">
                    Começar
                </button>
            
                <button class="btn-start" (click)="sendParticipationRequest(competition)" *ngIf="canSubscribe" aria-label="Solicitar participação">
                    Subscrever
                </button>
            
                <button class="btn-start" (click)="cancelParticipationRequest(competition)" *ngIf="canCancelRequest" aria-label="Cancelar pedido">
                    Cancelar pedido
                </button>

                <button class="btn-start" (click)="onShowUserSubmission(loggedUser)" *ngIf="canViewSubmission" aria-label="Submissão do user actual">
                    Minha submissão
                </button>
            </div>
                        
        </header>

        <br>

        <!-- Informações da Competição -->
        <div class="competition-info">
            <div class="info-card">
                <div class="info-content">
                    <p class="info-label">Duração</p>
                    <p class="info-value"><time datetime="PT30M">30 minutos</time></p>
                </div>
            </div>
            <div class="info-card">
                <div class="info-content">
                    <p class="info-label">Questões</p>
                    <p class="info-value">{{ questions.length }}</p>
                </div>
            </div>
            <div class="info-card">
                <div class="info-content">
                    <p class="info-label">Participantes</p>
                    <p class="info-value">{{ totalRegistrosParticipants }}</p>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Lista de Prêmios -->
        <div class="prizes-section">
            <h3>Prêmios</h3>
            <div class="prizes-list">
                <div *ngFor="let prize of competition.prizes;" class="prize-item">
                    <p><strong>{{ getPosition(prize.position!) }}:</strong> {{ prize.description }}</p>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <!-- Lista de Prêmios -->
        <div class="subject-topics-section">
            <h3>Tópicos avaliados</h3>
            <div class="subject-topics-list">
                <div *ngFor="let topic of topics;" class="subject-topic-item">
                    <p>{{ topic.name }}</p>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="button-container">
            <button class="btn-start" (click)="onShowFriends()">
                Convidar amigos
            </button>
        </div>

        <div class="tab-header" style="margin-top: 50px; margin-bottom: 40px;">
            <div class="tab-link" [class.active]="activeTab === 1" (click)="setActiveTab(1)">
                Participantes
            </div>
            <div class="tab-link" *ngIf="isPlanned" [class.active]="activeTab === 2" (click)="setActiveTab(2)">
                Lista de espera
            </div>
            <div class="tab-link" *ngIf="isFinished" [class.active]="activeTab === 3" (click)="setActiveTab(3)">
                Vencedores
            </div>
        </div>

        <!-- Participantes Confirmados -->
        <div class="participants" aria-labelledby="participants-heading" *ngIf="activeTab === 1 && competition.participants">
            <!--<h3 id="participants-heading">Participantes</h3>-->
            
            <div class="participants-list" role="list" *ngFor="let participant of competition.participants">
                <!-- Card de Participante -->
                <div class="participant-card" role="listitem">
                    <img src="{{participant.profileImageUrl}}" alt="Avatar do João Silva" class="participant-avatar">
                    <div class="participant-info">
                        <p class="participant-name">{{ participant.firstName }} {{ participant.lastName }}</p>
                        <p class="participant-status">Confirmado</p>
                    </div>
                    <button class="btn-details" *ngIf="isPlanned" (click)="removeParticipantFromCompetition(participant)">Remover</button>
                    <button class="btn-details" *ngIf="isFinished" (click)="onShowUserSubmission(participant)" style="margin-left: 10px;">Ver submissão</button>                
                </div>
            </div>

            <!-- Botão "Buscar Mais Participantes" -->
            <button *ngIf="competition.participants.length < totalRegistrosParticipants" (click)="onShowMoreParticipantes()" class="btn-load-more" aria-label="Buscar mais participantes">Buscar Mais</button>

            <div *ngIf="competition.participants.length === totalRegistrosParticipants && totalRegistrosParticipants > 0">
                <p class="competition-description">Todos os participantes foram carregados.</p>
            </div>

        </div>

        <!-- Participantes Na Espera -->
        <div class="participants" aria-labelledby="participants-heading" *ngIf="activeTab === 2 && isPlanned">
            <!--<h3 id="participants-heading">Participantes</h3>-->
            
            <div class="participants-list" role="list" *ngFor="let participantReq of competition.participationRequests">
                <!-- Card de Participante -->
                <div class="participant-card" role="listitem">
                    <img src="{{participantReq.profileImageUrl}}" alt="Avatar do João Silva" class="participant-avatar">
                    <div class="participant-info">
                        <p class="participant-name">{{ participantReq.firstName }} {{ participantReq.lastName }}</p>
                        <p class="participant-status">Não Confirmado</p>
                    </div>
                    <button class="btn-details" (click)="acceptParticipationRequest(participantReq)">Confirmar</button>
                    <button class="btn-details" style="margin-left: 10px;">Detalhes</button>
                    <!-- <button class="btn-details" (click)="rejectParticipationRequest(participantReq)" style="margin-left: 10px;">Rejeitar</button> -->
                </div>
            </div>

            <!-- Botão "Buscar Mais Participantes" -->
            <button *ngIf="competition.participationRequests.length < totalRegistrosParticipantRequests" (click)="onShowMoreParticipanteRequests()" class="btn-load-more" aria-label="Buscar mais participantes">Buscar Mais</button>

            <div *ngIf="competition.participationRequests.length === totalRegistrosParticipantRequests && totalRegistrosParticipantRequests > 0">
                <p class="competition-description">Todos os pedidos foram carregados.</p>
            </div>

        </div>

        <!-- Vencedores -->
        <div class="participants" aria-labelledby="participants-heading" *ngIf="activeTab === 3 && isFinished">
            <!--<h3 id="participants-heading">Participantes</h3>-->
            
            <div class="participants-list" role="list" *ngFor="let winner of competition.winners">
                <!-- Card de Participante -->
                <div class="participant-card" role="listitem">
                    <img src="{{winner.user.profileImageUrl}}" alt="Avatar do João Silva" class="participant-avatar">
                    <div class="participant-info">
                        <p class="participant-name">{{ winner.user.firstName }} {{ winner.user.lastName }}</p>
                        <p class="participant-status">{{ getPosition(winner.prize.position!) }}</p>
                    </div>
                    <button class="btn-details" *ngIf="isFinished" (click)="onShowUserSubmission(winner.user)" style="margin-left: 10px;">Ver submissão</button>                
                </div>
            </div>

            <!-- Botão "Buscar Mais Participantes" -->
            <button *ngIf="competition.participationRequests.length < totalRegistrosParticipantRequests" (click)="onShowMoreParticipanteRequests()" class="btn-load-more" aria-label="Buscar mais participantes">Buscar Mais</button>

            <div *ngIf="competition.participationRequests.length === totalRegistrosParticipantRequests && totalRegistrosParticipantRequests > 0">
                <p class="competition-description">Todos os pedidos foram carregados.</p>
            </div>

        </div>

    </div>

    <!-- Tela do quiz (questões) -->
    <div *ngIf="!showStartScreen && !showResultsScreen">
        <div *ngIf="currentQuestionIndex < questions.length">
            <div class="question-card">

                <img *ngIf="questions[currentQuestionIndex].urlFile" src="{{ questions[currentQuestionIndex].urlFile }}"
                    alt="Gráfico de funções" class="question-graph">

                <!-- Contêiner para expressões matemáticas -->
                <div id="math-container-{{ currentQuestionIndex }}" class="details"
                    *ngIf="questions[currentQuestionIndex].text">
                    \[{{ questions[currentQuestionIndex].text }}\]
                </div>

                <div class="answer-options">
                    <label *ngFor="let answer of questions[currentQuestionIndex].answers" [ngClass]="{
                        'correct-answer': showCorrection && answer.correct,
                        'incorrect-answer': showCorrection && !answer.correct && isSelected(questions[currentQuestionIndex].id, answer.id!)
                    }">
                        <input type="radio" name="question-{{ questions[currentQuestionIndex].id }}" [value]="answer.id"
                            [checked]="isSelected(questions[currentQuestionIndex].id, answer.id!)"
                            (change)="captureUserAnswer(questions[currentQuestionIndex].id, answer.id!)"
                            [disabled]="showCorrection" />

                        <span> \[{{ answer.text }}\] </span>
                    </label>
                </div>

                <!-- Botão para marcar como não respondida -->
                <button class="btn" style="background: transparent; color: black;"
                    (click)="captureUserAnswer(questions[currentQuestionIndex].id, null)" *ngIf="!showCorrection">
                    Não Responder
                </button>

                <!-- Input para mostrar a solução -->
                <div class="solution-container" *ngIf="showCorrection">
                    <div class="solution-input">
                    <label for="solution">Explicação:</label>
                    <div id="math-container-solution-{{ currentQuestionIndex }}" class="solution-text scrollable"
                        *ngIf="questions[currentQuestionIndex].solution">
                        \[{{ questions[currentQuestionIndex].solution }}\]
                    </div>
                    </div>
                </div>
            </div>

            <div class="navigation-buttons text-center">
                <button class="pagination-button" (click)="goToPreviousQuestion()"
                    [disabled]="currentQuestionIndex === 0">
                    <i class="pi pi-chevron-left"></i> Anterior
                </button>
                <button class="pagination-button" (click)="goToNextQuestion()"
                    [disabled]="currentQuestionIndex === questions.length - 1">
                    Próxima <i class="pi pi-chevron-right"></i>
                </button>

                <!-- Botão para submeter respostas -->
                <button class="pagination-button"
                    (click)="submitAnswers(); toggleCorrection(); showResultsScreen = true; scrollToTop()"
                    *ngIf="currentQuestionIndex === questions.length - 1">
                    <span *ngIf="!submited">Submeter</span>
                    <span *ngIf="submited">Resultados</span>
                    <i style="margin-left: 0.5rem;" class="pi pi-arrow-up"></i>
                </button>
            </div>
        </div>

        <div *ngIf="showLoading" class="loading-indicator">
            Carregando...
        </div>
    </div>
    

    <div *ngIf="showResultsScreen" class="results-screen2">
        <div class="results-summary">
            <p class="title">{{ competition.title }}</p>
            <p class="quiz-sub-title">{{ competition.startedAt }}</p>

            <div class="button-container">
                <button class="btn-start" (click)="toggleCorrection()" aria-label="Iniciar Competição">Correção</button>
            </div>

            <h2 class="section-title">Resultados</h2>

            <div class="statistics-container">
                <!-- Cabeçalho -->
                <div class="statistics-header">
                    <h2>Resultado Geral</h2>
                    <!--
                    <p class="description">
                        Visão abrangente sobre o desempenho do tópico {{ topic.name }} ao longo do quiz.
                    </p>
                    -->
                </div>
        
                <!-- Corpo das Estatísticas -->
                <div class="statistics-body"> 
                    <!-- Gráfico de Barras -->
                    <div class="graph">
                        <div class="bar acertos" *ngIf="((result.correctAnswers / competition.questions.length) * 100) > 0"
                            [style.width.%]="((result.correctAnswers / competition.questions.length) * 100).toFixed(1)">
                            {{ ((result.correctAnswers / competition.questions.length) * 100).toFixed(1) }}%
                        </div>
                        <div class="bar erros" *ngIf="(100 - (result.correctAnswers / competition.questions.length) * 100) > 0"
                            [style.width.%]="(100 - (result.correctAnswers / competition.questions.length) * 100).toFixed(1)">
                            {{ (100 - (result.correctAnswers / competition.questions.length) * 100).toFixed(1) }}%
                        </div>
                    </div>
        
                    <!-- Detalhes -->
                    <div class="details">
                        <div class="detail-item">
                            Número de questões:
                            <span>{{ competition.questions.length }}</span>
                        </div>
                        <div class="detail-item">
                            Total de Acertos:
                            <span>{{ result.correctAnswers }}</span>
                        </div>
                        <div class="detail-item">
                            Total de Erros (incluíndo nulas):
                            <span>{{ result.incorrectAnswers + result.nullAnswers }}</span>
                        </div>
                        <!--
                        <div class="detail-item">
                            Total de Nulas:
                            <span>{{ result.nullAnswers }}</span>
                        </div>
                        -->
                        <div class="detail-item">
                            Taxa de Acerto:
                            <span>{{ ((result.correctAnswers / competition.questions.length) * 100).toFixed(1) }}%</span>
                        </div>
                        <div class="detail-item">
                            Taxa de Erro (incluíndo nulas):
                            <span>{{ (100 - (result.correctAnswers / competition.questions.length) * 100).toFixed(1) }}%</span>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
      
            <h2 class="section-title">Estatísticas Por Tópicos</h2>
      
            <div *ngIf="competition.resultsByTopic">
                <div class="statistics-container" *ngFor="let topic of topics">
                    <!-- Cabeçalho -->
                    <div class="statistics-header">
                        <h2>{{ topic.name }}</h2>
                        <!--
                        <p class="description">
                            Visão abrangente sobre o desempenho do tópico {{ topic.name }} ao longo do quiz.
                        </p>
                        -->
                    </div>
        
                    <!-- Corpo das Estatísticas -->
                    <div class="statistics-body">
                        <!-- Gráfico de Barras -->
                        <div class="graph">
                            <div class="bar acertos" *ngIf="competition.resultsByTopic[topic.name].percentage! > 0"
                                [style.width.%]="competition.resultsByTopic[topic.name].percentage!.toFixed(1)">
                                {{ competition.resultsByTopic[topic.name].percentage!.toFixed(1) }}%
                            </div>
                            <div class="bar erros" *ngIf="100 - (competition.resultsByTopic[topic.name].percentage!) > 0"
                                [style.width.%]="(100 - (competition.resultsByTopic[topic.name].percentage!)).toFixed(1)">
                                {{ (100 - (competition.resultsByTopic[topic.name].percentage!)).toFixed(1) }}%
                            </div>
                        </div>
        
                        <!-- Detalhes -->
                        <div class="details">
                            <div class="detail-item">
                                Número de questões:
                                <span>{{ competition.resultsByTopic[topic.name].total || 0 }}</span>
                            </div>
                            <div class="detail-item">
                                Total de Acertos:
                                <span>{{ competition.resultsByTopic[topic.name].correct || 0 }}</span>
                            </div>
                            <div class="detail-item">
                                Total de Erros (incluíndo respostas nulas):
                                <span>{{ competition.resultsByTopic[topic.name].incorrect + competition.resultsByTopic[topic.name].nullAnswers || 0 }}</span>
                            </div>
                            <!--
                            <div class="detail-item">
                                Total de Nulas:
                                <span>{{ competition.resultsByTopic[topic.name].nullAnswers || 0 }}</span>
                            </div>
                            -->
                            <div class="detail-item">
                                Taxa de Acerto:
                                <span>{{ competition.resultsByTopic[topic.name].percentage!.toFixed(1) || 0 }}%</span>
                            </div>
                            <div class="detail-item">
                                Taxa de Erro (incluíndo respostas nulas):
                                <span>{{ (100 - (competition.resultsByTopic[topic.name].percentage!)).toFixed(1) || 0 }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
      
            </div>

        </div>
    </div>

</div>

<div class="overlay" *ngIf="showFriendsDialog">
    <div class="dialog">
        <div class="dialog-header">
            <h4>Seus Amigos</h4>
            <button class="close-btn" (click)="showFriendsDialog = false">&times;</button>
        </div>

        <hr class="header-divider">

        <div class="participants-list" role="list" *ngFor="let friend of friends">
            <!-- Card de Participante -->
            <div class="participant-card" role="listitem">
                <img src="{{friend.profileImageUrl}}" alt="Avatar do João Silva" class="participant-avatar">
                <div class="participant-info">
                    <p class="participant-name">{{ friend.firstName }} {{ friend.lastName }}</p>
                    <p class="participant-status">Confirmado</p>
                </div>
                <button class="btn-details" (click)="sendParticipationInvite(friend)">Convidar</button>
            </div>
        </div>
    </div>
</div>