<body>
    <div class="container">
        <div *ngIf="showLoading" class="loading-container visible" aria-live="polite">
            <div class="loading-indicator">
                <div class="spinner"></div>
                <div class="loading-text">
                    {{ loadingMessage || 'Carregando' }}<span>.</span><span>.</span><span>.</span>
                </div>
            </div>
        </div>

        <button *ngIf="showStartScreen" class="go-back-btn" routerLink="/competitions">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 12H5"></path>
                <path d="M12 19l-7-7 7-7"></path>
            </svg>
            Voltar
        </button>

        <!-- Tela inicial -->
        <div *ngIf="showStartScreen" class="results-screen2">

            <!-- Metadados da questão -->
            <div class="questao-meta">
                <div class="meta-grid">
                    <div class="meta-item">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                            <polyline points="14,2 14,8 20,8" />
                            <line x1="8" y1="12" x2="16" y2="12" />
                            <line x1="8" y1="16" x2="12" y2="16" />
                            <path d="M8 6h2" />
                        </svg>
                        <div>
                            <p class="meta-label">Titulo</p>
                            <p class="meta-valor">{{ competition.title }}</p>
                        </div>
                    </div>
                    <div class="meta-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                        </svg>
                        <div>
                            <p class="meta-label">Disciplina</p>
                            <p class="meta-valor">{{ competition.subject.name }}</p>
                        </div>
                    </div>

                    <div class="meta-item">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z">
                            </path>
                            <line x1="7" y1="7" x2="7.01" y2="7"></line>
                        </svg>
                        <div>
                            <p class="meta-label">Tópicos</p>
                            <p class="meta-valor">{{ competition.totalTopics }}</p>
                        </div>
                    </div>

                    <div class="meta-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 3v18h18"></path>
                            <path d="M18.7 8l-5.1 5.2-2.8-2.7L7 14.3"></path>
                        </svg>
                        <div>
                            <p class="meta-label">Dificuldade</p>
                            <p class="meta-valor">{{ getDifficultyLevelValue(competition.difficultyLevel) }}</p>
                        </div>
                    </div>

                    <div class="meta-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg>
                        <div>
                            <p class="meta-label">Tempo estimado</p>
                            <p class="meta-valor">{{ formatTime(competition.timeLimit) }}
                            </p>
                        </div>
                    </div>

                    <div class="meta-item">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        <div>
                            <p class="meta-label">Encerramento</p>
                            <p class="meta-valor">{{ competition.expiry | date: 'short' }}</p>
                        </div>
                    </div>

                    <div class="meta-item">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
                            <line x1="3" y1="6" x2="21" y2="6" />
                            <path d="M12 11v6" />
                            <path d="M9 14l3-3 3 3" />
                        </svg>
                        <div>
                            <p class="meta-label">Submissões</p>
                            <p class="meta-valor">{{competition.totalSubmissions}}</p>
                        </div>
                    </div>

                    <div class="meta-item">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <path d="m9 12 2 2 4-4"></path>
                        </svg>
                        <div>
                            <p class="meta-label">Status</p>
                            <p class="meta-valor"
                                [ngClass]="{'ativo': competition.active,'inativo': !competition.active}">
                                {{ getStatusValue(competition.active) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container" *ngIf="showStartScreen">
            <!-- Caso 1: Competição ativa E (usuário não logado OU ainda não submeteu) -->
            <ng-container *ngIf="competition.active && (!isUserLoggedIn || !competition.currentUserHasSubmitted)">
                <button class="btn-outline" id="add-btn" (click)="onStart()">
                    Iniciar
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </ng-container>

            <!-- Caso 2: Competição ativa, usuário logado e já submeteu -->
            <ng-container *ngIf="competition.active && isUserLoggedIn && competition.currentUserHasSubmitted">
                <button class="btn-outline" id="add-btn"
                    (click)="onShowUserSubmissionOnly(loggedUser.id); disableEditing = true">
                    Ver sua submissão (sem correção)
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </ng-container>

            <!-- Caso 3: Competição encerrada, usuário logado e disabled se nao submeteu, enabled se submeteu -->
            <ng-container *ngIf="!competition.active && isUserLoggedIn">
                <button class="btn-outline" id="add-btn" (click)="onShowUserSubmissionAndCorrection(loggedUser.id)"
                    [disabled]="!competition.currentUserHasSubmitted">
                    Ver sua submissão (com correção)
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </ng-container>

            <!-- Caso 4: Competição encerrada, usuário NÃO logado -->
            <ng-container *ngIf="!competition.active && !isUserLoggedIn">
                <button class="btn-outline" id="add-btn" (click)="onStart()">
                    Ver questões avaliadas
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </ng-container>
        </div>


        <!-- Submissions Section -->
        <div class="submissions-card" *ngIf="showStartScreen  && competition.active">
            <h2 class="section-title">Submissões</h2>
            <p class="submissions-count">{{ totalRecordSubmissions }} submissões nesta competição</p>

            <ul class="submissions-list">
                <li *ngFor="let submission of submissions" class="submission-item">
                    <img (click)="goToProfile(submission.user.userId)" [src]="submission.user.profileImageUrl" [alt]="submission.user.fullName"
                        class="submission-user-avatar" />
                    <div class="submission-progress">
                        <p (click)="goToProfile(submission.user.userId)" class="submission-user-name">{{ submission.user.fullName }}</p>
                        <div class="progress-bar">
                            <!--<div class="progress-fill" [style.width.%]="submission.user.markedContentRate.toFixed(1)"></div>-->
                        </div>
                    </div>

                    <!-- Competição ativa -->
                    <button *ngIf="competition.active" class="btn-outline"
                        [disabled]="submission.user.id != loggedUser.id"
                        (click)="onShowUserSubmissionOnly(submission.user.id); disableEditing = true"
                        style="margin-left: 10px;">Ver</button>

                    <!-- Competição encerrada -->
                    <button *ngIf="!competition.active" class="btn-outline"
                        (click)="onShowUserSubmissionAndCorrection(submission.user.id)"
                        style="margin-left: 10px;">Ver</button>

                </li>
            </ul>

            <!-- Load-more -->
            <div class="load-more-container">
                <button class="btn-load-more" id="load-more-btn" (click)="onShowMoreSubmissions()"
                    [disabled]="submissions.length === totalRecordSubmissions && totalRecordSubmissions > 0">
                    Buscar mais
                </button>
            </div>

        </div>

        <!-- Ranking Section -->
        <div class="submissions-card" *ngIf="showStartScreen && !competition.active">
            <h2 class="section-title">Ranking</h2>
            <p class="submissions-count">{{ totalRankingEntries }} submissões nesta competição</p>

            <ul class="submissions-list">
                <li *ngFor="let entrie of rankingEntries" class="submission-item">
                    <img (click)="goToProfile(entrie.userCode)" [src]="entrie.profileImageUrl" [alt]="entrie.userName" class="submission-user-avatar" />
                    <div class="submission-progress">
                        <p (click)="goToProfile(entrie.userCode)" class="submission-user-name">{{ entrie.userName }}</p>
                        <div class="progress-bar">
                            <div class="progress-fill" [style.width.%]="(entrie.accuracyRate) * 100"></div>
                        </div>
                    </div>

                    <!-- Competição ativa -->
                    <button *ngIf="competition.active" class="btn-outline" [disabled]="entrie.userId != loggedUser.id"
                        (click)="onShowUserSubmissionOnly(entrie.userId); disableEditing = true"
                        style="margin-left: 10px;">Ver</button>

                    <!-- Competição encerrada -->
                    <button *ngIf="!competition.active" class="btn-outline"
                        (click)="onShowUserSubmissionAndCorrection(entrie.userId)"
                        style="margin-left: 10px;">Ver</button>

                </li>
            </ul>

            <!-- Load-more -->
            <div class="load-more-container">
                <button class="btn-load-more" id="load-more-btn" (click)="onGetMoreRankingEntries()"
                    [disabled]="rankingEntries.length === totalRankingEntries && totalRankingEntries > 0">
                    Buscar mais
                </button>
            </div>

        </div>

        <div *ngIf="!showStartScreen && !showResultsScreen && !showSubmittedScreen">
            <div *ngIf="currentQuestionIndex < competition.questions.length">
                <div class="question-card">

                    <div class="quiz-header">
                        <h1 class="title">{{ competition.title }}</h1>
                        <button class="quiz-close-btn" (click)="showStartScreen = true;" aria-label="Fechar quiz">
                            <i class="pi pi-times"></i>
                        </button>
                    </div>

                    <div class="progress-container">
                        <p class="question-number">{{ formatTime(competition.timeLimit - competition.timeSpent) }}</p>
                        <div class="progress-bar-container">
                            <div class="progress-bar" [style.width]="progressPercentage + '%'"></div>
                        </div>
                        <p class="question-number">{{ currentQuestionIndex + 1 }}/{{ competition.questions.length }}</p>
                    </div>

                    <img *ngIf="competition.questions[currentQuestionIndex].urlFile"
                        src="{{ competition.questions[currentQuestionIndex].urlFile }}" alt="Gráfico de funções"
                        class="question-graph" />
                    <div class="graph-container"
                        *ngIf="!competition.questions[currentQuestionIndex].urlFile && competition.questions[currentQuestionIndex].mathExpressions.length > 0">
                        <canvas #canvas width="400" height="400"></canvas>
                    </div>

                    <!-- Contêiner para expressões matemáticas -->
                    <div id="math-container-{{ currentQuestionIndex }}"
                        *ngIf="competition.questions[currentQuestionIndex].text">
                        {{ competition.questions[currentQuestionIndex].text }}
                    </div>

                    <div class="answer-options">
                        <label *ngFor="let answer of competition.questions[currentQuestionIndex].answers; let i = index"
                            [ngClass]="{
                                'correct-answer': showCorrection && answer.correct,
                                'incorrect-answer': showCorrection && !answer.correct && isSelected(competition.questions[currentQuestionIndex].id, answer.id!),
                                'selected-answer': isSelected(competition.questions[currentQuestionIndex].id, answer.id!)
                                }">
                            <span class="num">{{ i + 1 }}</span>
                            <input type="radio" name="question-{{ competition.questions[currentQuestionIndex].id }}"
                                [value]="answer.id"
                                [checked]="isSelected(competition.questions[currentQuestionIndex].id, answer.id!)"
                                (change)="captureUserAnswer(competition.questions[currentQuestionIndex].id, answer.id!)"
                                [disabled]="showCorrection || disableEditing" />
                            <!--<span>{{ answer.text }}</span>--> <!-- Numeração das opções -->
                            <span [innerHTML]="getTextoComNegrito(answer.text || '')"></span>
                        </label>
                    </div>

                    <br>

                    <!-- Input para mostrar dica e solução -->
                    <div class="tip" *ngIf="!showCorrection"
                        [ngClass]="{'blocked-content': isUserLoggedIn && loggedUser.plan === 'FREE', 'statistics-body': true}">
                        <div class="tip-input">
                            <button class="solution-button"
                                (click)="competition.questions[currentQuestionIndex].showTip = !competition.questions[currentQuestionIndex].showTip; this.renderMathExpressions();">
                                <h1 class="title">Dicas</h1>
                                <svg [class.rotated]="competition.questions[currentQuestionIndex].showTip"
                                    class="chevron-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M6 9l6 6 6-6" />
                                </svg>
                            </button>
                            <p id="math-container-tip-{{ currentQuestionIndex }}" class="tip-content scrollable"
                                *ngIf="competition.questions[currentQuestionIndex].tip && competition.questions[currentQuestionIndex].showTip">
                                {{ competition.questions[currentQuestionIndex].tip }}
                            </p>
                        </div>
                    </div>

                    <div class="solution"
                        [ngClass]="{'blocked-content': isUserLoggedIn && loggedUser.plan === 'FREE', 'statistics-body': true}">
                        <div class="solution-input">
                            <button class="solution-button"
                                (click)="competition.questions[currentQuestionIndex].showSolution = !competition.questions[currentQuestionIndex].showSolution; this.renderMathExpressions();">
                                <h1 class="title">Resolução</h1>
                                <svg [class.rotated]="competition.questions[currentQuestionIndex].showSolution"
                                    class="chevron-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M6 9l6 6 6-6" />
                                </svg>
                            </button>
                            <p id="math-container-solution-{{ currentQuestionIndex }}"
                                class="solution-content scrollable"
                                *ngIf="competition.questions[currentQuestionIndex].solution && competition.questions[currentQuestionIndex].showSolution">
                                {{ competition.questions[currentQuestionIndex].solution }}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="navigation-buttons text-center">
                    <button class="pagination-btn prev" (click)="goToPreviousQuestion()"
                        [disabled]="currentQuestionIndex === 0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                        Anterior
                    </button>
                    <button class="pagination-btn next" (click)="goToNextQuestion()"
                        *ngIf="currentQuestionIndex !== competition.questions.length - 1">
                        Próxima
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </button>
                    <!-- Botão para submeter respostas -->
                    <button class="pagination-btn submit" id="add-btn"
                        (click)="calculateResults(); scrollToTop(); showResultsScreen = true;"
                        *ngIf="(currentQuestionIndex === competition.questions.length - 1) && !competition.active">
                        <span>Resultados</span>
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </button>

                    <button class="pagination-btn submit" id="add-btn"
                        (click)="submitAnswers(); scrollToTop(); disableEditing = true;"
                        *ngIf="(currentQuestionIndex === competition.questions.length - 1) && competition.active && !competition.currentUserHasSubmitted">
                        <span>Submeter</span>
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </button>

                    <button class="pagination-btn submit" id="add-btn" (click)="showStartScreen = true; scrollToTop()"
                        *ngIf="(currentQuestionIndex === competition.questions.length - 1) && competition.active && competition.currentUserHasSubmitted">
                        <span>Volta para tela inicial</span>
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </button>

                </div>
            </div>

        </div>

        <!-- Tela de resultados -->
        <div *ngIf="showResultsScreen">

            <div class="quiz-header">
                <h1 class="title">{{ competition.title }}</h1>
                <button class="quiz-close-btn" (click)="showStartScreen = true; showResultsScreen = false"
                    aria-label="Fechar quiz">
                    <i class="pi pi-times"></i>
                </button>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Desempenho Geral</div>
                </div>

                <div class="overview">
                    <div class="stat-item">
                        <div class="stat-value primary">{{ competition.questions.length }}</div>
                        <div class="stat-label">Total de Questões</div>
                    </div>
                    <div class="stat-item">
                        <div class="stat-value success">{{ result.correctAnswers }}</div>
                        <div class="stat-label">Acertos</div>
                    </div>
                    <div class="stat-item">
                        <div class="stat-value danger">{{ result.incorrectAnswers + result.nullAnswers }}</div>
                        <div class="stat-label">Erros</div>
                    </div>
                    <div class="stat-item">
                        <div class="stat-value success">{{ ((result.correctAnswers / competition.questions.length) *
                            100).toFixed(1) }}%
                        </div>
                        <div class="stat-label">Taxa de Acerto</div>
                    </div>
                </div>

                <div class="results-progress-container">
                    <div class="progress-label">
                        <div class="progress-title">Taxa de Acerto</div>
                        <div class="progress-value">{{ ((result.correctAnswers / competition.questions.length) *
                            100).toFixed(1)}}%
                        </div>
                    </div>
                    <div class="results-progress-bar">
                        <div class="progress success"
                            [style.width.%]="((result.correctAnswers / competition.questions.length) * 100).toFixed(1)">
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="card" *ngIf="competition.resultsByTopic">
                <div class="card-header">
                    <div class="card-title">Desempenho por Tópico</div>
                </div>

                <div class="topics" *ngFor="let topic of competition.topics">
                    <div class="topic-card" style="margin-bottom: 15px;">
                        <div class="topic-header">
                            <div class="topic-title">{{ topic.name }}</div>
                            <div class="topic-questions">
                                {{ competition.resultsByTopic[topic.name].total || 0 }} questões
                            </div>
                        </div>

                        <div class="topic-stats">
                            <div class="topic-stat">
                                <div class="topic-stat-value success">
                                    {{ competition.resultsByTopic[topic.name].correct || 0 }}
                                </div>
                                <div class="topic-stat-label">Acertos</div>
                            </div>
                            <div class="topic-stat">
                                <div class="topic-stat-value danger">
                                    {{
                                    (competition.resultsByTopic[topic.name].incorrect || 0) +
                                    (competition.resultsByTopic[topic.name].nullAnswers || 0)
                                    }}
                                </div>
                                <div class="topic-stat-label">Erros</div>
                            </div>
                        </div>

                        <div class="results-progress-container">
                            <div class="progress-label">
                                <div class="progress-title">Taxa de Acerto</div>
                                <div class="progress-value">
                                    {{ competition.resultsByTopic[topic.name].percentage?.toFixed(1) }}%
                                </div>
                            </div>
                            <div class="results-progress-bar">
                                <div class="progress success"
                                    [style.width.%]="competition.resultsByTopic[topic.name].percentage?.toFixed(1)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tela de feedback de submissão -->
        <div *ngIf="showSubmittedScreen" class="confirmation-screen">
            <div class="submission-status" id="submissionStatus">

                <div class="status-icon submitted" id="statusIcon">
                    ✓
                </div>

                <h2 class="status-title" id="statusTitle">Submissão Realizada!</h2>

                <p class="status-description" id="statusDescription">
                    Sua participação na competição foi enviada com sucesso. Você pode acompanhar o andamento através do
                    seu painel.
                </p>

                <div class="button-container">
                    <button class="btn-outline" style="align-items: center;"
                        (click)="showStartScreen = true; showSubmittedScreen = false">
                        Tela inicial
                    </button>
                </div>

            </div>
        </div>

    </div>
</body>

<!-- Popout -->
<div class="popout-overlay" id="popoutOverlay" *ngIf="displayModalLogin">
    <div class="popout-container" style="max-width: 400px;">
        <div class="popout-header">
            <h2 class="popout-title">Faça Login para continuar</h2>
            <button class="close-button" (click)="displayModalLogin = false">&times;</button>
        </div>
        <div class="login-side" *ngIf="activeLoginTab === 1">

            <h1>Entrar</h1>

            <div id="google-signin-button" *ngIf="step === 'email'"></div>

            <div class="divider" *ngIf="step === 'email'">
                <span>OU</span>
            </div>

            <form #otpForm="ngForm" (ngSubmit)="step === 'email' ? sendOtp() : validateOtp()">

                <a *ngIf="step === 'otp'" (click)="step = 'email'" class="go-back-btn">⟵ Voltar</a>

                <p class="message" *ngIf="step === 'otp'">
                    Para fazer login, insira o código enviado para o seu e-mail <span>{{ user.email }}</span>
                </p>

                <div class="input-group" *ngIf="step === 'email'">
                    <label>Email:</label>
                    <input type="email" id="email" name="email" #emailInput="ngModel" ngModel placeholder="Seu e-mail"
                        required email [(ngModel)]="user.email">
                </div>

                <div class="input-group" *ngIf="step === 'otp'">
                    <label>OTP:</label>
                    <input type="text" id="otp" name="otp" #otpInput="ngModel" ngModel placeholder="código" required otp
                        [(ngModel)]="otp">
                </div>

                <button class="login-btn" type="submit" [disabled]="otpForm.invalid || showLoading">
                    {{ step === 'email' ? 'Login' : 'Verificar' }}
                </button>

                <p class="message" *ngIf="step === 'email'">
                    Enviaremos um código de acesso único para seu <br> e-mail. Ou, você pode usar google para
                    acessar sua conta se tiver se cadastrado com gmail.
                </p>

                <div class="signup-link">
                    Não tem uma conta? <a (click)="setActiveLoginTab(2)">Cadastre-se</a>
                </div>

            </form>

        </div>

        <div class="login-side" *ngIf="activeLoginTab === 2">

            <h1>Cadastrar</h1>

            <div id="google-signin-button" *ngIf="step === 'email'"></div>

            <div class="divider" *ngIf="step === 'email'">
                <span>OU</span>
            </div>

            <form autocomplete="off" #registerForm="ngForm"
                (ngSubmit)="step === 'email' ? startRegistrationViaOtp() : completeRegistrationViaOtp()">
                <div class="input-group" *ngIf="step === 'email'">
                    <label for="name">Nome completo</label>
                    <input type="text" id="fullName" name="fullName" #fullNameInput="ngModel" ngModel
                        placeholder="Seu nome completo" [(ngModel)]="user.fullName">
                </div>

                <div class="input-group" *ngIf="step === 'email'">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" #emailInput="ngModel" ngModel placeholder="Seu e-mail"
                        required email [(ngModel)]="user.email">
                </div>

                <a *ngIf="step === 'otp'" (click)="step = 'email'" class="go-back-btn">⟵ Voltar</a>

                <p class="message" *ngIf="step === 'otp'">
                    Para se cadastrar, insira o código enviado para o seu e-mail (<span>{{ user.email }}</span>)
                </p>

                <div class="input-group" *ngIf="step === 'otp'">
                    <input type="text" id="otp" name="otp" #otpInput="ngModel" ngModel placeholder="código" required otp
                        [(ngModel)]="otp">
                </div>

                <button class="login-btn" type="submit" [disabled]="registerForm.invalid || showLoading">
                    {{ step === 'email' ? 'Login' : 'Verificar' }}
                </button>

                <a *ngIf="step === 'otp'" (click)="startRegistrationViaOtp()" class="resend-btn">Reenviar</a>

                <p class="message" *ngIf="step === 'email'">
                    Enviaremos um código de acesso único para seu <br> e-mail. Ou, você pode usar google para se
                    cadastradar com
                    gmail.
                </p>

            </form>
            <div id="google-signin-button"></div>
            <div class="signup-link">
                Já tem uma conta? <a (click)="setActiveLoginTab(1); ">Faça login</a>
            </div>
        </div>
    </div>
</div>