# Angular
/dist
/tmp
/out-tsc
/.angular/cache

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# System
.DS_Store
Thumbs.db

# Android
/android/.gradle/
/android/build/
/android/app/build/
android/local.properties
android/.idea/

# Security
*.keystore
*.jks