<div class="container" style="margin-top: 70px; ">

    <!-- Conteúdo Principal -->
    <div class="main-content">


        <div class="profile-card">
            <div class="cover-photo">
                <img src="{{loggedUser.profileCoverImageUrl}}" alt="Cover Photo">
            </div>
            <div class="profile-info">
                <div class="profile-photo">
                    <img src="{{loggedUser.profileImageUrl}}" alt="Profile Photo">
                </div>
                <h2 class="user-name-hover" [routerLink]="['/user/profile', loggedUser.userId]">
                    {{ loggedUser.firstName }} {{loggedUser.lastName }}
                </h2>
                <p class="text-muted" style="font-size: 0.7rem; margin-bottom: 20px;">{{ loggedUser.bio }}</p>
            </div>
        </div>

        <!-- Lista de Posts -->
        <div class="posts-list">

            <div class="post" *ngFor="let feed of posts">
                <div class="post-header" style="padding: 0.7rem 0 0 0.7rem;">
                    <img src="{{ feed.user.profileImageUrl }}" alt="Avatar do usuário" class="user-avatar">
                    <div class="user-info">
                        <h3 class="user-name">{{ feed.user.firstName }} {{ feed.user.lastName }}</h3>
                        <p class="post-date">Publicado em {{ timeElapsed(feed.date.toString()) }}</p>
                    </div>
                </div>

                <hr style="margin-top: 0.7rem;">

                <div class="post-body">
                    <p class="post-content" style="padding: 0 0.7rem;">{{ feed.text }}</p>
                    <button class="expand-btn" style="padding: 0 0.7rem;">Ler mais</button>

                    <img *ngIf="isImageUrl(feed.urlFile)" [src]="feed.urlFile" alt="Imagem do post" class="post-image">
                    <video *ngIf="isVideoUrl(feed.urlFile)" controls class="post-video">
                        <source [src]="feed.urlFile" type="video/mp4">
                        Seu navegador não suporta a tag de vídeo.
                    </video>

                </div>

                <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
                    <span *ngIf="feed.numberOfLikes == 0">Sem gostos</span>
                    <span style="cursor: pointer;" *ngIf="feed.numberOfLikes == 1">1
                        gosto</span>
                    <span style="cursor: pointer;" *ngIf="feed.numberOfLikes > 1">{{
                        feed.numberOfLikes }} gostos</span>
                </a>

                <span class="text-muted" style="font-size: 0.7rem;">|</span>

                <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
                    <span *ngIf="feed.numberOfComments == 0">Sem comentários</span>
                    <span style="cursor: pointer;" *ngIf="feed.numberOfComments == 1">1
                        comentário</span>
                    <span style="cursor: pointer;" *ngIf="feed.numberOfComments > 1">{{
                        feed.numberOfComments }} comentários</span>
                </a>

                <hr style="margin-top: 0.7rem;">

                <div class="post-interactions">
                    <div class="interaction-button">
                        <a style="cursor: pointer;" (click)="toggleLike(feed)">
                            <i *ngIf="feed.isLiked" class="pi pi-heart-fill icon-liked" style="font-size: 1.1rem;"></i>
                            <i *ngIf="!feed.isLiked" class="pi pi-heart" style="font-size: 1.1rem;"></i>
                        </a>

                        <a style="cursor: pointer; margin-left: 0.7rem;">
                            <i class="pi pi-comment" style="font-size: 1.1rem;"></i>
                        </a>
                    </div>
                    <div>
                        <a *ngIf="feed.isSaved" (click)="onRemovePost(feed)" style="cursor: pointer;"><i
                                class="pi pi-bookmark-fill"></i></a>
                        <a *ngIf="!feed.isSaved" (click)="addPostToSavedPosts(feed)" style="cursor: pointer;"><i
                                class="pi pi-bookmark"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-card">
            <div class="cover-photo">
                <img src="{{loggedUser.profileCoverImageUrl}}" alt="Cover Photo">
            </div>
            <div class="profile-info">
                <div class="profile-photo">
                    <img src="{{loggedUser.profileImageUrl}}" alt="Profile Photo">
                </div>
                <h2 class="user-name-hover" [routerLink]="['/user/profile', loggedUser.userId]">
                    {{ loggedUser.firstName }} {{loggedUser.lastName }}
                </h2>
                <p class="text-muted" style="font-size: 0.7rem; margin-bottom: 20px;">{{ loggedUser.bio }}</p>
            </div>
        </div>

    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja remover o post da sua lista ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmDialog(selectedPost)">Confirmar</button>
            <button (click)="closeConfirmDialog()">Cancelar</button>
        </div>
    </div>
</div>