.texto-limitado {
    width: 600px; /* Largura máxima do contêiner de texto */
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o texto que ultrapassar os limites do contêiner */
    text-overflow: ellipsis; /* Adiciona reticências ao final do texto */
}

.user-info {
    display: flex;
    align-items: center;
}
.user-info img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.user-info .user-name {
    font-size: 10px;
    font-weight: bold;
}