.main-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto;
}

.posts-list {
    flex: 2;
    width: 100%;
}

.post {
    background-color: white;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post-header {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.post-date {
    color: var(--color-gray);
    font-size: 0.9rem;
}

.post-body {
    margin-top: 15px;
}

.post-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.post-content {
    margin-top: 10px;
    font-size: 0.85rem;
}

.expand-btn {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.post-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.7rem;
}

.post-interactions a:hover {
    opacity: 0.8;
    transition: all 300ms ease;
}

.load-more {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    transition: all 300ms ease;
}

.load-more:hover {
    opacity: 0.8;
}

.post-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.post-video {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #ccc;
}

.icon-liked {
    color: #ee0e21;
}

/*Card de perfil do user logado*/
.profile-card {
    flex: 1;
    height: max-content;
    width: 300px;
    position: sticky;
    top: 70px;
    margin-bottom: 10rem;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    max-height: 40vh;
}

.cover-photo img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.profile-info {
    padding: 10px;
    text-align: center;
    position: relative;
}

.profile-photo {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
}

h2 {
    margin: 60px 0 5px;
    font-size: 18px;
}

p {
    color: #666;
    font-size: 14px;
}

.info-section {
    margin-top: 10px;
}

.friends-info,
.saved-items-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-black);
    cursor: pointer;
}


/* Animações e Centralização */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.overlay.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}

#post-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-members {
    display: flex;
    margin-top: 1rem;

}

.group-members span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.group-members span:first-child {
    margin: 0;
}

.group-members p {
    margin-left: 0.5rem;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .posts-list {
        flex: none;
        width: 100%;
    }

    .post {
        width: 100%;
        margin-bottom: 15px;
    }

    .group-sidebar {
        width: 100%;
    }

    .group-banner {
        height: 150px;
    }

    .group-name {
        font-size: 1.5rem;
    }

    .join-button,
    .leave-button {
        width: 100%;
        margin-top: 10px;
    }

    .posts-list,
    .group-sidebar {
        width: 100%;
    }

    .profile-card {
        display: none;
    }
}