<div class="profile-container">
    <header class="profile-header">
        <div class="profile-cover">
            <img *ngIf="!user.profileCoverImageUrl" id="cover-photo" src="assets/images/books.jpg" alt="Foto de Capa">
            <img *ngIf="user.profileCoverImageUrl" id="cover-photo" src="{{user.profileCoverImageUrl}}"
                alt="Foto de Capa">
            <label *ngIf="currentUser.userId == user.userId" for="cover-upload" class="upload-button">Trocar
                Capa</label>
            <input *ngIf="currentUser.userId == user.userId" (change)="onProfileCoverPhotoFileChange($event)"
                type="file" id="cover-upload" class="upload-input" accept="image/*">
            <form action="">
            </form>
        </div>
        <div class="profile-picture">
            <img id="profile-photo" src="{{user.profileImageUrl}}" alt="Foto do Perfil">
            <label *ngIf="currentUser.userId == user.userId" for="profile-upload" class="upload-button">Trocar
                Foto</label>
            <input *ngIf="currentUser.userId == user.userId" (change)="onProfilePhotoFileChange($event)" type="file"
                id="profile-upload" class="upload-input" accept="image/*">
        </div>
        <h2 class="profile-name">{{user.fullName}}</h2>
        <div class="profile-contact">
            <p class="profile-bio">{{user.bio}}</p>
            <p>{{user.email}}
                <a (click)="onUpdateCurrentUser()" *ngIf="currentUser.userId == user.userId"
                    style="margin-left: 10px; color: var(--color-primary); cursor: pointer;">editar perfil</a>
            </p>
            <p>
                <strong>Interesses:</strong>
                <span *ngFor="let interest of user.subjectsInterests"> {{ interest.name }}, </span>
                <a (click)="onShowInterests()" *ngIf="currentUser.userId == user.userId"
                    style="margin-left: 10px; color: var(--color-primary); cursor: pointer;">editar</a>
                <a (click)="onShowSelectInterests()" *ngIf="currentUser.userId == user.userId"
                    style="margin-left: 10px; color: var(--color-primary); cursor: pointer;">adicionar</a>
            </p>
        </div>

        <div>
            <button *ngIf="currentUser.userId == user.userId" (click)="onLogOut()" id="edit-profile-button" class="btn"
                style="margin: 20px;">Sair</button>
        </div>
    </header>

</div>

<div class="overlay" *ngIf="displayModalSave">
    <div class="dialog">
        <h2>Editando Perfil</h2>
        <button class="close-btn" (click)="displayModalSave = false">&times;</button>

        <form autocomplete="off" #userForm="ngForm" (ngSubmit)="update(userForm)">
            <div class="form-group">
                <label for="fullName">Nome</label>
                <input type="text" id="fullName" type="text" name="fullName" ngModel #fullName="ngModel" required
                    minlength="1" [(ngModel)]="user.fullName" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" type="text" name="email" ngModel #email="ngModel" required minlength="1"
                    [(ngModel)]="user.email" required>
            </div>

            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" type="text" name="bio" ngModel #bio="ngModel" required minlength="1"
                    [(ngModel)]="user.bio" rows="3"></textarea>
            </div>

            <button type="submit" [disabled]="userForm.invalid" class="btn">Salvar</button>

        </form>
    </div>
</div>

<div class="interest-dialog-overlay" *ngIf="showInterestsDialog">
    <div class="interest-dialog">
        <div class="interest-dialog-header">
            <h4>Seus interesses</h4>
            <button class="close-button" (click)="onCloseInterests()">x</button>
        </div>
        <div class="interest-dialog-content">
            <ul>
                <li *ngFor="let interest of user.subjectsInterests">
                    <span>{{interest.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="interest-dialog-overlay" *ngIf="showSelectInterestsDialog">
    <div class="interest-dialog">
        <div class="interest-dialog-header">
            <h4>Interesses</h4>
            <button class="close-button" (click)="onCloseSelectInterests()">x</button>
        </div>

        <div class="form-group">
            <label for="subject">Selecione o interesse</label>
            <select id="subject" name="interest" [(ngModel)]="selectedInterest.id" name="interest" required>
                <option value="" disabled selected>Selecione o interesse</option>
                <option *ngFor="let interest of subjectsInterests" [value]="interest.value">{{ interest.label }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button type="button" (click)="addInterestToUserInterests()" class="btn btn-primary">{{ showLoading ?
                'Loading...' : 'Salvar' }}</button>
        </div>
    </div>
</div>