<div class="profile-container">
    <header class="profile-header">
        <div class="profile-cover">
            <img *ngIf="!user.profileCoverImageUrl" id="cover-photo" src="assets/images/books.jpg" alt="Foto de Capa">
            <img *ngIf="user.profileCoverImageUrl" id="cover-photo" src="{{user.profileCoverImageUrl}}"
                alt="Foto de Capa">
            <label *ngIf="currentUser.userId == user.userId" for="cover-upload" class="upload-button">Trocar
                Capa</label>
            <input *ngIf="currentUser.userId == user.userId" (change)="onProfileCoverPhotoFileChange($event)"
                type="file" id="cover-upload" class="upload-input" accept="image/*">
            <form action="">
            </form>
        </div>
        <div class="profile-picture">
            <img id="profile-photo" src="{{user.profileImageUrl}}" alt="Foto do Perfil">
            <label *ngIf="currentUser.userId == user.userId" for="profile-upload" class="upload-button">Trocar
                Foto</label>
            <input *ngIf="currentUser.userId == user.userId" (change)="onProfilePhotoFileChange($event)" type="file"
                id="profile-upload" class="upload-input" accept="image/*">
        </div>
        <h2 class="profile-name">{{user.firstName}} {{user.lastName}}</h2>
        <div class="profile-contact">
            <p class="profile-bio"><strong>Bio:</strong> {{user.bio}}</p>
            <p><strong>Email:</strong> {{user.email}}
                <a (click)="onUpdateCurrentUser()" *ngIf="currentUser.userId == user.userId"
                style="margin-left: 10px; color: var(--color-primary); cursor: pointer;">editar perfil</a>
            </p>
            <p>
                <strong>Interesses:</strong>
                <span *ngFor="let interest of user.interests"> {{ interest.description }}, </span>
                <a (click)="onShowInterests()" *ngIf="currentUser.userId == user.userId"
                    style="margin-left: 10px; color: var(--color-primary); cursor: pointer;">editar</a>
                <a (click)="onShowSelectInterests()" *ngIf="currentUser.userId == user.userId"
                    style="margin-left: 10px; color: var(--color-primary); cursor: pointer;">adicionar</a>
            </p>   
        </div>

        <div>
            <button *ngIf="currentUser.userId == user.userId" (click)="onLogOut()" id="edit-profile-button" class="btn"
                style="margin: 20px;">Sair</button>
        </div>
    </header>
    
</div>

<div class="profile-courses-container">
    <div class="profile-courses" class="">
        <div class="section-header">
            <h3 class="section-title">Cursos Frequentados</h3>
            <button *ngIf="currentUser.userId == user.userId" (click)="onAddUserCourse()" pButton icon="pi pi-plus" label="Adicionar" class="btn-add-course"></button>
        </div>
        <ul class="courses-list">
            <li class="course-item" *ngFor="let userCourse of userCourses">
                <div class="course-info">
                    <img [src]="userCourse.course.institution.urlFile" alt="{{ userCourse.course.institution.name }}" class="institution-img" />
                    <div class="course-details">
                        <h4 class="course-name">{{ userCourse.course.name }}</h4>
                        <p class="course-institution">{{ userCourse.course.institution.name }}</p>
                        <p class="course-date">{{ userCourse.startDate  | date:'yyyy' }}</p>
                    </div>
                    <button *ngIf="currentUser.userId == user.userId" pButton icon="pi pi-ellipsis-v" class="btn-edit-course"></button>
                </div>
            </li>
        </ul>
        <!--<button *ngIf="courses.length < 5" class="btn-show-more">Ver mais</button>-->
    </div>
</div>


<!-- Conteúdo Principal -->
<div class="main-content">

    <!-- Lista de Posts -->
    <div class="posts-list">

        <div class="post" *ngFor="let feed of posts">
            <div class="post-header" style="padding: 0.7rem 0 0 0.7rem;">
                <img src="{{ feed.user.profileImageUrl }}" alt="Avatar do usuário" class="user-avatar">
                <div class="user-info">
                    <h3 class="user-name">{{ feed.user.firstName }} {{ feed.user.lastName }}</h3>
                    <p class="post-date">Publicado em {{ timeElapsed(feed.date.toString()) }}</p>
                </div>
            </div>

            <hr style="margin-top: 0.7rem;">

            <div class="post-body">
                <p class="post-content" style="padding: 0 0.7rem;">{{ feed.text }}</p>
                <button class="expand-btn" style="padding: 0 0.7rem;">Ler mais</button>

                <img *ngIf="isImageUrl(feed.urlFile)" [src]="feed.urlFile" alt="Imagem do post" class="post-image">
                <video *ngIf="isVideoUrl(feed.urlFile)" controls class="post-video">
                    <source [src]="feed.urlFile" type="video/mp4">
                    Seu navegador não suporta a tag de vídeo.
                </video>

            </div>

            <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
                <span *ngIf="feed.numberOfLikes == 0">Sem gostos</span>
                <span style="cursor: pointer;" *ngIf="feed.numberOfLikes == 1">1
                    gosto</span>
                <span style="cursor: pointer;" *ngIf="feed.numberOfLikes > 1">{{
                    feed.numberOfLikes }} gostos</span>
            </a>

            <span class="text-muted" style="font-size: 0.7rem;">|</span>

            <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
                <span *ngIf="feed.numberOfComments == 0">Sem comentários</span>
                <span style="cursor: pointer;" *ngIf="feed.numberOfComments == 1">1
                    comentário</span>
                <span style="cursor: pointer;" *ngIf="feed.numberOfComments > 1">{{
                    feed.numberOfComments }} comentários</span>
            </a>

            <hr style="margin-top: 0.7rem;">

            <div class="post-interactions">
                <div class="interaction-button">
                    <a style="cursor: pointer;" (click)="toggleLike(feed)">
                        <i *ngIf="feed.isLiked" class="pi pi-heart-fill icon-liked" style="font-size: 1.1rem;"></i>
                        <i *ngIf="!feed.isLiked" class="pi pi-heart" style="font-size: 1.1rem;"></i>
                    </a>

                    <a style="cursor: pointer; margin-left: 0.7rem;">
                        <i class="pi pi-comment" style="font-size: 1.1rem;"></i>
                    </a>
                </div>
                <div>
                    <a *ngIf="feed.isSaved" (click)="onRemovePost(feed)" style="cursor: pointer;"><i
                            class="pi pi-bookmark-fill"></i></a>
                    <a *ngIf="!feed.isSaved" (click)="addPostToSavedPosts(feed)" style="cursor: pointer;"><i
                            class="pi pi-bookmark"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Membros do Grupo -->
    <div class="profile-sidebar">
        <h3>Amigos</h3>
        <div class="members-list" *ngFor="let friend of friends">
            <a [routerLink]="['/profile', friend.id]" class="member-item">
                <img src="{{ friend.profileImageUrl }}" alt="Membro" class="member-avatar">
                <span class="member-name">{{ friend.firstName }} {{ friend.lastName }}</span>
            </a>
        </div>
        <button class="load-more" (click)="onShowMoreFriends()" *ngIf="friends.length < 1000">Ver mais</button>
    </div>
</div>


<div class="overlay" *ngIf="displayModalSave">
    <div class="dialog">
        <h2>Editando Perfil</h2>
        <button class="close-btn" (click)="displayModalSave = false">&times;</button>

        <form autocomplete="off" #userForm="ngForm" (ngSubmit)="update(userForm)">
            <div class="form-group">
                <label for="firstName">Nome</label>
                <input type="text" id="firstName" type="text" name="firstName" ngModel #firstName="ngModel" required
                    minlength="1" [(ngModel)]="user.firstName" required>
            </div>

            <div class="form-group">
                <label for="lastName">Apelido</label>
                <input type="text" id="lastName" type="text" name="lastName" ngModel #lastName="ngModel" required
                    minlength="1" [(ngModel)]="user.lastName" required>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" type="text" name="username" ngModel #username="ngModel" required
                    minlength="1" [(ngModel)]="user.username" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" type="text" name="email" ngModel #email="ngModel" required minlength="1"
                    [(ngModel)]="user.email" required>
            </div>

            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" type="text" name="bio" ngModel #bio="ngModel" required minlength="1"
                    [(ngModel)]="user.bio" rows="3"></textarea>
            </div>

            <button type="submit" [disabled]="userForm.invalid" class="btn">Salvar</button>

        </form>
    </div>
</div>

<div class="overlay" *ngIf="displayModalUserCourseSave">
    <div class="dialog">
        <h2>Add course</h2>
        <button class="close-btn" (click)="displayModalUserCourseSave = false">&times;</button>

        <form autocomplete="off" #curseForm="ngForm" (ngSubmit)="savedUserCourse(curseForm)">
            <div class="form-group">
                <label for="firstName">Nome</label>
                <input type="text" id="firstName" type="text" name="firstName" ngModel #firstName="ngModel" required
                    minlength="1" [(ngModel)]="userCourse.course.id" required>
            </div>

            <div class="form-group">
                <label>Ano</label>
                <p-calendar name="date" dateFormat="yy" [inputStyle]="{ 'width': '400px'}" [showIcon]="true"
                  [showOnFocus]="false" name="date" [inline]="false" [readonlyInput]="false" ngModel #date="ngModel"
                  [required]="true" [(ngModel)]="userCourse.startDate"></p-calendar>
              </div>

            <button type="submit" [disabled]="curseForm.invalid" class="btn">Salvar</button>

        </form>
    </div>
</div>

<div class="interest-dialog-overlay" *ngIf="showInterestsDialog">
    <div class="interest-dialog">
        <div class="interest-dialog-header">
            <h4>Seus interesses</h4>
            <button class="close-button" (click)="onCloseInterests()">x</button>
        </div>
        <div class="interest-dialog-content">
            <ul>
                <li *ngFor="let interest of user.interests">
                    <span>{{interest.description}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="interest-dialog-overlay" *ngIf="showSelectInterestsDialog">
    <div class="interest-dialog">
        <div class="interest-dialog-header">
            <h4>Interesses</h4>
            <button class="close-button" (click)="onCloseSelectInterests()">x</button>
        </div>

        <div class="form-group">
            <label for="subject">Selecione o interesse</label>
            <select id="subject" name="interest" [(ngModel)]="selectedInterest.id" name="institution" required>
                <option value="" disabled selected>Selecione o interesse</option>
                <option *ngFor="let interest of interests" [value]="interest.value">{{ interest.label }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button type="button" (click)="addInterestToUserInterests()" class="btn btn-primary">{{ showLoading ?
                'Loading...' : 'Salvar' }}</button>
        </div>
    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja remover amizade ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmDialog(selectedFriendToBeRemoved)">Confirmar</button>
            <button (click)="closeConfirmDialog()">Cancelar</button>
        </div>
    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja remover o post da sua lista ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmRemovePostDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmRemovePostDialog(selectedPost)">Confirmar</button>
            <button (click)="closeConfirmRemovePostDialog()">Cancelar</button>
        </div>
    </div>
</div>