<body>
    <div class="profile-container">
        <header class="profile-header">
            <div class="profile-cover">
                <img *ngIf="!user.profileCoverImageUrl" id="cover-photo" src="assets/images/books.jpg"
                    alt="Foto de Capa">
                <img *ngIf="user.profileCoverImageUrl" id="cover-photo" src="{{user.profileCoverImageUrl}}"
                    alt="Foto de Capa">
                <label *ngIf="currentUser.userId == user.userId" for="cover-upload" class="upload-button">Trocar
                    Capa</label>
                <input *ngIf="currentUser.userId == user.userId" (change)="onProfileCoverPhotoFileChange($event)"
                    type="file" id="cover-upload" class="upload-input" accept="image/*">
                <form action="">
                </form>
            </div>
            <div class="profile-picture">
                <img id="profile-photo" src="{{user.profileImageUrl}}" alt="Foto do Perfil">
                <label *ngIf="currentUser.userId == user.userId" for="profile-upload" class="upload-button">Trocar
                    Foto</label>
                <input *ngIf="currentUser.userId == user.userId" (change)="onProfilePhotoFileChange($event)" type="file"
                    id="profile-upload" class="upload-input" accept="image/*">
            </div>
            <h2 class="profile-name">{{user.firstName}} {{user.lastName}}</h2>
            <p class="profile-bio">{{user.bio}}</p>
            <div class="profile-contact">
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>Username:</strong> {{user.username}}</p>
                <p><strong>Contato:</strong> 844505579 </p>
            </div>
            <button *ngIf="currentUser.userId == user.userId" (click)="onUpdateCurrentUser()" id="edit-profile-button"
                class="btn btn-primary" style="margin-top: 10px;">Editar Perfil</button>
            <div>
                <button *ngIf="currentUser.userId == user.userId" (click)="onLogOut()" id="edit-profile-button"
                    class="btn btn-primary" style="margin-top: 10px;">Logout</button>
            </div>

        </header>
        <main class="profile-main">
            <section class="profile-info">
                <h2>Informações</h2>
                <p><strong>Instituição:</strong> {{ user.institution }}</p>
                <p><strong>Curso:</strong> {{ user.course }}</p>
                <p>
                    <strong>Interesses:</strong>
                    <span *ngFor="let interest of user.interests"> {{ interest.description }}, </span>
                </p>
            </section>
            <section class="profile-posts">
                <h2>Publicações Recentes</h2>

                <table class="card-table">
                    <tbody>
                        <tr *ngFor="let feed of posts">
                            <td>
                                <div class="card">
                                    <div class="card-content">
                                        <div class="post-info">
                                            <div *ngIf="isImageUrl(feed.urlFile)">
                                                <img [src]="feed.urlFile"
                                                    style="width: 70px; height: 70px; margin-right: 10px; border-radius: 5px;"
                                                    alt="">
                                            </div>
                                            <div>
                                                <video *ngIf="isVideoUrl(feed.urlFile)"
                                                    style="width: 70px; height: 70px; margin-right: 10px; border-radius: 5px;">
                                                    <!--controls-->
                                                    <source [src]="feed.urlFile" type="video/mp4"
                                                        style="width: 70px; height: 70px; margin-right: 10px; border-radius: 5px;">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>

                                            <div class="content">
                                                <p class="texto-limitado">{{ feed.text }}</p>
                                                <p>Publicação: há {{ timeElapsed(feed.date.toString()) }}</p>
                                                <!--
                                                    <div class="user-info"
                                                        [routerLink]="['/user/profile', currentUser.userId]">
                                                        <img [src]="feed.user.profileImageUrl" alt="User Image">
                                                        <span class="user-name">{{ feed.user.firstName }} {{
                                                            feed.user.lastName
                                                            }}</span>
                                                    </div>
                                                    -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <div style="text-align: center;">
                            <a style="font-size: 0.7rem; cursor: pointer;">
                                <span (click)="onShowPostComments()">mostrar mais posts</span>
                            </a>
                        </div>                        
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>

<div class="overlay" *ngIf="displayModalSave">
    <div class="dialog">
        <h2>Editando Perfil</h2>
        <button class="close-btn" (click)="displayModalSave = false">&times;</button>

        <form autocomplete="off" #userForm="ngForm" (ngSubmit)="update(userForm)">
            <div class="form-group">
                <label for="firstName">Nome</label>
                <input type="text" id="firstName" type="text" name="firstName" ngModel #firstName="ngModel" required
                    minlength="1" [(ngModel)]="user.firstName" required>
            </div>

            <div class="form-group">
                <label for="lastName">Apelido</label>
                <input type="text" id="lastName" type="text" name="lastName" ngModel #lastName="ngModel" required
                    minlength="1" [(ngModel)]="user.lastName" required>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" type="text" name="username" ngModel #username="ngModel" required
                    minlength="1" [(ngModel)]="user.username" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" type="text" name="email" ngModel #email="ngModel" required minlength="1"
                    [(ngModel)]="user.email" required>
            </div>

            <div class="form-group">
                <label for="institution">Instituição</label>
                <input type="text" id="institution" type="text" name="institution" ngModel #institution="ngModel"
                    required minlength="1" [(ngModel)]="user.institution" required>
            </div>

            <div class="form-group">
                <label for="course">Curso</label>
                <input type="text" id="course" type="text" name="course" ngModel #course="ngModel" required
                    minlength="1" [(ngModel)]="user.course" required>
            </div>

            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" type="text" name="bio" ngModel #bio="ngModel" required minlength="1"
                    [(ngModel)]="user.bio" rows="3"></textarea>
            </div>

            <button type="submit" [disabled]="userForm.invalid" class="btn">Salvar</button>

        </form>
    </div>
</div>