<div class="blog-container">


    <!--
    <div class="filter-container">
        <select class="filter-select" [(ngModel)]="filter.subject">
            <option value="" disabled selected>Filtrar por</option>
            <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
        </select>
    </div>
    -->

    <!-- Lista de Posts -->
    <div class="posts">
        <div *ngFor="let feed of feeds" class="post-card">
            <!-- Imagem no lado esquerdo -->
            <div class="post-image">
                <img *ngIf="imagePath" [src]="imagePath" alt="Gráfico de funções" />
            </div>

            <!-- Título e conteúdo no lado direito -->
            <div class="post-content">
                <span class="post-date">{{ feed.postDate }}</span>
                <h2 class="post-title">{{ feed.title }}</h2>
                <p class="post-text">
                    {{ feed.content }} 
                    <a [routerLink]="['/blog/view', feed.blogId]">Saiba Mais</a> 
                    <a [routerLink]="['/blog', feed.blogId]"> editar</a> 
                    <a (click)="onDeleteBlog(feed)" style="cursor: pointer;"> delete</a>
                </p>

                <!-- Interações (like e salvar) -->
                <div class="post-actions">
                    <!-- Like Section -->
                    <div class="like-section">
                        <a (click)="toggleLike(feed)" class="like-button">
                            <i *ngIf="feed.isLiked" class="pi pi-heart-fill icon-liked"></i>
                            <i *ngIf="!feed.isLiked" class="pi pi-heart"></i>
                            <span class="like-count">10</span>
                        </a>
                    </div>

                    <!-- Save Section -->
                    <div class="save-section">
                        <a (click)="feed.isSaved ? onRemoveBlog(feed) : addBlogToSavedBlogs(feed)" class="save-button">
                            <i *ngIf="feed.isSaved" class="pi pi-bookmark-fill"></i>
                            <i *ngIf="!feed.isSaved" class="pi pi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Botão "Carregar mais" -->
    <div class="load-more">
        <button (click)="loadMore()" class="load-more-button load-more-button-primary">Buscar mais</button>
    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja remover o post da sua lista ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmDialog(selectedBlog)">Confirmar</button>
            <button (click)="closeConfirmDialog()">Cancelar</button>
        </div>
    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showDeleteConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja remover o post ?</h4>
            <button class="confirm-close-button" (click)="closeDeleteConfirmDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="deleteConfirmDialog(selectedBlog)">Confirmar</button>
            <button (click)="closeDeleteConfirmDialog()">Cancelar</button>
        </div>
    </div>
</div>