<body>
    <div class="container">

        <div *ngIf="showLoading" class="loading-container visible" aria-live="polite">
            <div class="loading-indicator">
                <div class="spinner"></div>
                <div class="loading-text">
                    {{ loadingMessage || 'Carregando' }}<span>.</span><span>.</span><span>.</span>
                </div>
            </div>
        </div>

        <button class="go-back-btn" routerLink="/articles">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 12H5"></path>
                <path d="M12 19l-7-7 7-7"></path>
            </svg>
            Voltar
        </button>

        <!-- Título do Blog -->
        <h1 class="blog-title">{{ article.title }}</h1>

        <!-- Data de Postagem -->
        <span class="blog-date">{{ article.date| date: 'dd MMM yyyy' }}</span>

        <!-- Imagem do Blog -->
        <img *ngIf="article.urlFile" [src]="article.urlFile" alt="Imagem do blog" class="blog-image" />

        <!-- Conteúdo do Blog -->
        <div class="blog-content" [innerHTML]="article.content"></div>

        <!-- Seção de Interação (Like e Save) -->
        <div class="interaction-section">
            <!-- Botão de Like -->
            <button (click)="onLike(article)" class="like-button" [class.liked]="article.likedByUser">
                <i class="pi" *ngIf="!article.showLoadingLike"
                    [ngClass]="article.likedByUser ? 'pi-heart-fill' : 'pi-heart'"></i>
                <i *ngIf="article.showLoadingLike" class="pi pi-spin pi-spinner"></i>
                <span class="like-count">{{ article.numberOfLikes }}</span>
            </button>

            <!-- Botão de Save -->
            <button (click)="onSave(article)" class="save-button" [class.saved]="article.savedByUser">
                <i class="pi" *ngIf="!article.showLoadingSave"
                    [ngClass]="article.savedByUser ? 'pi-bookmark-fill' : 'pi-bookmark'"></i>
                <i *ngIf="article.showLoadingSave" class="pi pi-spin pi-spinner"></i>
            </button>
        </div>
    </div>
</body>

<!-- Popout -->
<div class="popout-overlay" id="popoutOverlay" *ngIf="displayModalLogin">
    <div class="popout-container" style="max-width: 400px;">
        <div class="popout-header">
            <h2 class="popout-title">Faça Login para continuar</h2>
            <button class="close-button" (click)="displayModalLogin = false">&times;</button>
        </div>
        <div class="login-side" *ngIf="activeTab === 1">

            <h1>Entrar</h1>

            <div id="google-signin-button" *ngIf="step === 'email'"></div>

            <div class="divider" *ngIf="step === 'email'">
                <span>OU</span>
            </div>

            <form #otpForm="ngForm" (ngSubmit)="step === 'email' ? sendOtp() : validateOtp()">

                <a *ngIf="step === 'otp'" (click)="step = 'email'" class="go-back-btn">⟵ Voltar</a>

                <br>

                <p class="message" *ngIf="step === 'otp'">
                    Para fazer login, insira o código enviado para o seu e-mail <span>{{ user.email }}</span>
                </p>

                <div class="input-group" *ngIf="step === 'email'">
                    <label>Email:</label>
                    <input type="email" id="email" name="email" #emailInput="ngModel" ngModel placeholder="Seu e-mail"
                        required email [(ngModel)]="user.email">
                </div>

                <div class="input-group" *ngIf="step === 'otp'">
                    <label>OTP:</label>
                    <input type="text" id="otp" name="otp" #otpInput="ngModel" ngModel placeholder="código" required otp
                        [(ngModel)]="otp">
                </div>

                <button class="login-btn" type="submit" [disabled]="otpForm.invalid || showLoading">
                    {{ step === 'email' ? 'Login' : 'Verificar' }}
                </button>

                <p class="message" *ngIf="step === 'email'">
                    Enviaremos um código de acesso único para seu <br> e-mail. Ou, você pode usar google para
                    acessar sua conta se tiver se cadastrado com gmail.
                </p>

                <div class="signup-link">
                    Não tem uma conta? <a (click)="setActiveTab(2)">Cadastre-se</a>
                </div>

            </form>

        </div>

        <div class="login-side" *ngIf="activeTab === 2">

            <h1>Cadastrar</h1>

            <div id="google-signin-button" *ngIf="step === 'email'"></div>

            <div class="divider" *ngIf="step === 'email'">
                <span>OU</span>
            </div>

            <form autocomplete="off" #registerForm="ngForm"
                (ngSubmit)="step === 'email' ? startRegistrationViaOtp() : completeRegistrationViaOtp()">
                <div class="input-group" *ngIf="step === 'email'">
                    <label for="name">Nome completo</label>
                    <input type="text" id="fullName" name="fullName" #fullNameInput="ngModel" ngModel
                        placeholder="Seu nome completo" [(ngModel)]="user.fullName">
                </div>

                <div class="input-group" *ngIf="step === 'email'">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" #emailInput="ngModel" ngModel placeholder="Seu e-mail"
                        required email [(ngModel)]="user.email">
                </div>

                <a *ngIf="step === 'otp'" (click)="step = 'email'" class="go-back-btn">⟵ Voltar</a>

                <p class="message" *ngIf="step === 'otp'">
                    Para se cadastrar, insira o código enviado para o seu e-mail (<span>{{ user.email }}</span>)
                </p>

                <div class="input-group" *ngIf="step === 'otp'">
                    <input type="text" id="otp" name="otp" #otpInput="ngModel" ngModel placeholder="código" required otp
                        [(ngModel)]="otp">
                </div>

                <button class="login-btn" type="submit" [disabled]="registerForm.invalid || showLoading">
                    {{ step === 'email' ? 'Login' : 'Verificar' }}
                </button>

                <a *ngIf="step === 'otp'" (click)="startRegistrationViaOtp()" class="resend-btn">Reenviar</a>

                <p class="message" *ngIf="step === 'email'">
                    Enviaremos um código de acesso único para seu <br> e-mail. Ou, você pode usar google para se
                    cadastradar com
                    gmail.
                </p>

            </form>
            <div id="google-signin-button"></div>
            <div class="signup-link">
                Já tem uma conta? <a (click)="setActiveTab(1); ">Faça login</a>
            </div>
        </div>
    </div>
</div>