<br>
<br>

<div class="blog-container">
    <!-- Botão de Voltar -->
    <!--
    <button class="back-button" routerLink="/articles">
        <i class="pi pi-arrow-left"></i> Voltar
    </button>
    -->

    <button class="go-back-btn" routerLink="/articles">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M19 12H5"></path>
          <path d="M12 19l-7-7 7-7"></path>
        </svg>
        Voltar
    </button>

    <!-- Título do Blog -->
    <h1 class="blog-title">{{ article.title }}</h1>

    <!-- Data de Postagem -->
    <span class="blog-date">{{ article.date| date: 'dd MMM yyyy' }}</span>

    <!-- Imagem do Blog -->
    <img *ngIf="article.urlFile" [src]="article.urlFile" alt="Imagem do blog" class="blog-image" />

    <!-- Conteúdo do Blog -->
    <div class="blog-content" [innerHTML]="article.content"></div>

    <!-- Seção de Interação (Like e Save) -->
    <div class="interaction-section">
        <!-- Botão de Like -->
        <button (click)="toggleLike(article)" class="like-button" [class.liked]="article.isLiked">
            <i class="pi" [ngClass]="article.isLiked ? 'pi-heart-fill' : 'pi-heart'"></i>
            <span class="like-count">{{ 10 }}</span>
        </button>

        <!-- Botão de Save -->
        <button class="save-button" [class.saved]="article.isSaved">
            <i class="pi" [ngClass]="article.isSaved ? 'pi-bookmark-fill' : 'pi-bookmark'"></i>
        </button>
    </div>
</div>