/* Table */
.card-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.card {
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 20px;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    display: flex;
    align-items: center;
}

.profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    flex: 1;
    margin-left: 20px;
}

.subject-name {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-black);
}

.details {
    font-size: 0.80rem;
    margin: 5px 0;
}

.download-button {
    height: 30px;
    background-color: #3734ed;
    border: none;
}

.download-count {
    margin-left: 10px;
    font-size: 0.7rem;
}

.loading-indicator {
    margin-left: 10px;
    font-size: 0.85rem;
    color: var(--color-black);
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.admin-actions {
    margin-top: 10px;
}

.edit-link,
.delete-link {
    font-size: 0.7rem;
    color: #1c80cf;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.tab-header {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.tab-link {
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--color-black);
    border-bottom: 1px solid transparent;
    font-weight: bold;
    min-width: 100px;
}

.tab-link:hover {
    opacity: 0.8;
}

.tab-link.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.tab-link:last-child {
    border-right: none;
    /* Remove a borda direita na última aba */
}

/*course dtail*/
.institution-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}

.institution-image-container {
    flex: 1;
    max-width: 50%;
    margin-right: 20px;
}

.institution-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.institution-details {
    flex: 2;
    padding: 20px;
}

.institution-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-black);
}

.institution-description {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--color-black);
}

.institution-meta {
    /*display: flex;*/
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.institution-meta p {
    margin: 0 0 10px;
    font-size: 1.1em;
    color: var(--color-black);
}

.goto-button {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.goto-button:hover {
    opacity: 0.8;
}

/* Indicador de carregamento */
.loading-indicator {
    margin-top: 20px;
    font-size: 0.85rem;
    color: var(--color-black);
    font-weight: bold;
    text-align: center;
}

/* Responsividade */
@media (max-width: 600px) {}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 768px) {
    .institution-container {
        flex-direction: column;
        padding: 10px;
    }

    .institution-image-container {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .institution-details {
        padding: 10px;
    }

    .institution-meta {
        flex-direction: column;
    }

    .enroll-button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .institution-title {
        font-size: 1.5em;
    }

    .institution-description {
        font-size: 1em;
    }

    .institution-meta p {
        font-size: 1em;
    }
}