<div class="container" style="margin-top: 70px;">

    <div class="institution-card">
        <div class="institution-header">
            <img [src]="institution.urlFile" alt="Emblema da Instituição" class="emblem" />
            <div>
                <h1>{{ institution.name }} <span class="acronym">({{ institution.acronym }})</span></h1>
                <p class="type">{{ institution.type }}</p>
                <p class="administration">{{ getAdministrationTypeValue(institution.administrationType) }}</p>
            </div>
        </div>
        <div class="institution-body">
            <p class="address">
                📍 {{ institution.website }}
                <a href="{{ institution.website }}" target="_blank" rel="noopener noreferrer">
                    <i class="pi pi-external-link" style="margin-left: 5px; font-size: 0.9rem;"></i>
                </a>
            </p>
            <p class="description">{{ institution.description }}</p>
        </div>
    </div>

    <br>

    <div class="institution-card">
        <div class="institution-body">
            <!-- Nova seção de cursos -->
            <div class="courses-list">
                <h1 class="title" style="margin-bottom: 10px;">Cursos Oferecidos</h1>
                <ul>
                    <li *ngFor="let course of courses">
                        <div class="course-item">
                            <p class="subject-name">{{ course.name }}</p>
                            <p class="details">Duração: {{ course.duration }}</p>
                            <p class="details">Requisitos: {{ course.requirements }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>