<div class="container" style="margin-top: 70px;">

    <div style="display:inline;">
        <h1 class="title">Cursos online</h1>
    </div>

    <p style="margin-top: 20px; font-size: 0.85rem;">Descubra a diversidade de cursos disponíveis em Moçambique,
        incluindo detalhes como título do curso, descrição e a instituição que oferece.</p>
    <p style="margin-bottom: 20px; font-size: 0.85rem;"> Na Ku-DONDZA, ajudamos os estudantes a fazer escolhas
        informadas.
    </p>

    <div class="flex">
        <div>
            <a *ngIf="isAdmin" (click)="onAddNewOnlineCourse()" class="ml-left">Adicionar</a>
            <a *ngIf="isAdmin" (click)="onFilter()">Filtrar</a>
        </div>

        <div class="input-group">
            <div class="input-container">
                <i class="pi pi-search input-icon"></i> <!-- Ícone de pesquisa -->

                <input type="text" id="input" class="transparent-input" [(ngModel)]="filtro.searchParam" (ngModelChange)="findAll()"
                    placeholder="Pesquisa">
            </div>

        </div>
    </div>

    <table class="card-table">
        <tbody>
            <tr *ngFor="let course of courses">
                <td>
                    <div class="card">
                        <div class="card-content">

                            <div>
                                <img [src]="course.coverImageUrl"
                                    style="width: 70px; height: 70px; border-radius: 5px; border: 1px solid #ccc;"
                                    alt="">
                            </div>

                            <div class="content">
                                <p class="course-name">{{ course.name }}</p>
                                <p class="details">Instrutor: <span class="text-muted">{{ course.instrutor }}</span></p>
                                <p class="details" *ngIf="course.totalStudents == 0">Seja <strong>primeiro estudante</strong> a aderir ao curso</p>
                                <p class="details" *ngIf="!course.isSubscribed && course.totalStudents == 1"> Apenas <strong>uma pessoa</strong> é estudante deste curso</p>
                                <p class="details" *ngIf="course.isSubscribed && course.totalStudents == 1"> Apenas <strong>Tu</strong> és estudante deste curso</p>
                                <p class="details" *ngIf="course.isSubscribed && course.totalStudents == 2"><strong>Tu</strong> e mais <strong>uma pessoa</strong> são estudantes deste curso</p>
                                <p class="details" *ngIf="!course.isSubscribed && course.totalStudents == 2"><strong>Duas pessoas</strong> são estudantes deste curso</p>
                                <p class="details" *ngIf="course.isSubscribed && course.totalStudents > 2"><strong>Tu</strong> e mais <strong>{{ course.totalStudents - 1}} pessoas</strong> são estudantes deste curso</p>
                            </div>
                            <div class="dropdown-container">
                                <button class="dropdown-btn" (click)="toggleDropdown(course)"><i class="pi pi-ellipsis-v"></i></button>
                                <div class="dropdown" *ngIf="course.isAdminMenuOpen">
                                    <a (click)="onUpdateOnlineCourse(course, file); closeDropdown(course)">Editar</a>
                                    <a (click)="confirmarExclusao(course); closeDropdown(course)" >Eliminar</a>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="btn btn-primary" [routerLink]="['/coursos-online', course.id]">Ver</button>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="pagination-controls">
        <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
            <i class="pi pi-chevron-left"></i> Anterior
        </button>
        <span class="pagination-info">Página {{ currentPage }} de {{ totalPages() }}</span>
        <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages()">
            Próximo <i class="pi pi-chevron-right"></i>
        </button>
        <select class="select-itens-por-pagina" (change)="changePageSize($event)">
            <option *ngFor="let option of opcoesItensPorPagina" [value]="option"
                [selected]="option === filtro.itensPorPagina">
                {{ option }}
            </option>
        </select>
        <span class="pagination-info ml-auto"> Mostrando {{ totalRegistros }} dos {{ totalCourses }}</span>
    </div>

    <!-- Indicador de carregamento -->
    <div *ngIf="showLoading" class="loading-indicator">
        Carregando...
    </div>

</div>

<div class="overlay" *ngIf="displayModalSave">
    <div class="dialog">
        <h2>{{ editing ? 'Editando Instituição' : 'Adicionando Nova Instituição' }}</h2>

        <button class="close-btn" (click)="displayModalSave = false">&times;</button>

        <hr>

        <form autocomplete="off" #courseForm="ngForm">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" name="name" ngModel #name="ngModel" required minlength="1" [(ngModel)]="course.name">
            </div>

            <div class="form-group">
                <label for="description">Descrição</label>
                <input type="text" name="description" ngModel #description="ngModel" required minlength="1"
                    [(ngModel)]="course.description">
            </div>

            <div class="form-group">
                <label for="instrutor">Instrutor</label>
                <input type="text" name="instrutor" ngModel #instrutor="ngModel" required minlength="1"
                    [(ngModel)]="course.instrutor">
            </div>

            <div class="form-group">
                <input type="file" (change)="onFileSelected($event)" name="file" accept="application/**"
                    class="form-control" required />
            </div>

            <div class="form-group">
                <button type="button" (click)="save()" class="btn">{{ showLoading ? 'Loading...' : 'Salvar' }}</button>
            </div>
        </form>
    </div>
</div>