<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

    <footer class="footer" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>empresa</h4>
                    <ul>
                        <li><a href="#">sobre nós</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">nossos serviços</a></li>
                        <li><a href="#">nossos clientes</a></li>
                        <li><a href="#">politicas de privacidade</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Suporte</h4>
                    <ul>
                        <li><a href="#">documentação</a></li>
                        <li><a href="#">feedback</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">opções de pagamentos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Links úteis</h4>
                    <ul>
                        <li><a routerLink="/feed">home</a></li>
                        <li><a routerLink="/instituicoes">instituições</a></li>
                        <li><a routerLink="/cursos">cursos</a></li>
                        <li><a routerLink="/exames">exames</a></li>
                        <li><a routerLink="/explicadores">explicadores</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>siga - nos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div>
                    <!--<h2 class="logo" style="color: white; background-color: #3734ed;; margin-top: 20px;">Ku-DONDZA</h2>-->
                    <h2 class="logo" style="color: black; margin-top: 20px;">Ku-DONDZA</h2>
                    <p style="font-size: 0.85rem;">© 2024 Ku-DONDZA, Inc. All rights reserved. &nbsp;&nbsp; | &nbsp;&nbsp; Fábio Condo &nbsp;&nbsp; | &nbsp;&nbsp; +258 844505579 </p>
                </div>


            </div>
        </div>
    </footer>

</body>

</html>