<body>
  <div class="container">

    <div *ngIf="showLoading" class="loading-container visible" aria-live="polite">
      <div class="loading-indicator">
        <div class="spinner"></div>
        <div class="loading-text">
          {{ loadingMessage || 'Carregando' }}<span>.</span><span>.</span><span>.</span>
        </div>
      </div>
    </div>

    <!-- Tela inicial -->
    <div *ngIf="showStartScreen" class="start-screen">
      <div class="start-screen-content">

        <div class="quiz-header">

          <h1>
            <i class="pi pi-arrow-left" routerLink="/quizzes" style="margin-right: 5px; cursor: pointer;"></i>
            Novo Quiz
          </h1>

          <!--
          <h1 class="title">Novo Quiz</h1>
          <p class="quiz-sub-title">Personalize e comece a testar seus conhecimentos!</p>
          -->
        </div>

        <form autocomplete="off" #courseForm="ngForm">

          <!-- Campo de Descrição -->
          <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" [(ngModel)]="quiz.title" required />
          </div>

          <div class="form-group">
            <label for="difficultyLevel">Nivel de dificuldade</label>
            <select id="difficultyLevel" [(ngModel)]="quiz.difficultyLevel" name="difficultyLevel" required>
              <option value="" disabled selected>Selecione o nivel</option>
              <option *ngFor="let level of difficultyLevels" [value]="level.value">{{ level.label }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="limitPerTopic">Nº de questões por tópico</label>
            <select id="limitPerTopic" [(ngModel)]="quiz.limitPerTopic" name="limitPerTopic" required>
              <option value="" disabled selected>Selecione o limite</option>
              <option *ngFor="let limit of limitsPerTopic" [value]="limit.value">{{ limit.label }}</option>
            </select>
          </div>

          <!-- Seleção de Disciplina -->
          <div class="form-group">
            <label for="subject">Disciplina</label>
            <select id="subject" [(ngModel)]="quiz.subject" (change)="getTopicsBySubjectId(quiz.subject.id)"
              [disabled]="showLoading || showGetSubjectLoading" name="subject" required>
              <option value="" disabled selected>Selecione a disciplina</option>
              <option *ngFor="let subject of subjects" [ngValue]="subject">
                {{ subject.name }}
              </option>
            </select>
          </div>

          <div class="form-group" *ngIf="quiz.subject.id">
            <label>Selecione os Tópicos</label>


            <ul class="topics-list">
              <li *ngFor="let topic of topics" class="topic-item">
                <label>
                  <input type="checkbox" [checked]="topic.selected" (change)="toggleTopic(topic)" />
                  <span class="custom-checkbox"></span>
                  <span class="topic-name">{{ topic.name }}</span>
                </label>
              </li>
            </ul>
          </div>

          <button class="start-button" (click)="getQuestions()" [disabled]="topics.length === 0 ">
            <span>Gerar questões</span>
          </button>

          <!-- Botão de Iniciar Quiz -->
          <!-- 
          <button class="start-button" (click)="startQuiz()" [disabled]="
            !quiz.title ||
            quiz.questions.length === 0 ||
            questions.length === 0 ||
            showLoading ||
            showGetSubjectLoading
          ">
            Começar Quiz
          </button>
          -->
        </form>
      </div>
    </div>

    <!-- Tela do quiz (questões) -->
    <div *ngIf="!showStartScreen && !showFinalScreen">
      <div *ngIf="currentQuestionIndex < questions.length">
        <div class="question-card">

          <div class="quiz-header">
            <h1 class="title">{{ quiz.title }}</h1>
            <button class="quiz-close-btn" (click)="onStopCurrentRunningQuiz()" aria-label="Fechar quiz">
              <i class="pi pi-times"></i>
            </button>
          </div>

          <!--
          <p class="title">{{ quiz.questions[currentQuestionIndex].topic.name }}</p>
          <p class="quiz-sub-title">{{ quiz.questions[currentQuestionIndex].topic.subject.name }}</p>
          -->

          <div class="progress-container">
            <p class="question-number">{{ formattedTime }}</p>
            <div class="progress-bar-container">
              <!--<div class="progress-bar" [style.width]="(currentQuestionIndex + 1) / quiz.questions.length * 100 + '%'"></div>-->
              <div class="progress-bar" [style.width]="progressPercentage + '%'"></div>
            </div>
            <p class="question-number">{{ currentQuestionIndex + 1 }}/{{ quiz.questions.length }}</p>
          </div>

          <img *ngIf="questions[currentQuestionIndex].urlFile" src="{{ questions[currentQuestionIndex].urlFile }}"
            alt="Gráfico de funções" class="question-graph" />
          <div class="graph-container"
            *ngIf="!questions[currentQuestionIndex].urlFile && quiz.questions[currentQuestionIndex].mathExpressions.length > 0">
            <canvas #canvas width="400" height="400"></canvas>
          </div>

          <!-- Contêiner para expressões matemáticas -->
          <div id="math-container-{{ currentQuestionIndex }}" *ngIf="questions[currentQuestionIndex].text">
            {{ questions[currentQuestionIndex].text }}
          </div>

          <div class="answer-options">
            <label *ngFor="let answer of questions[currentQuestionIndex].answers; let i = index" [ngClass]="{
                    'correct-answer': showCorrection && answer.correct,
                    'incorrect-answer': showCorrection && !answer.correct && isSelected(questions[currentQuestionIndex].id, answer.id!),
                    'selected-answer': isSelected(questions[currentQuestionIndex].id, answer.id!)
                 }">
              <span class="num">{{ i + 1 }}</span>
              <input type="radio" name="question-{{ questions[currentQuestionIndex].id }}" [value]="answer.id"
                [checked]="isSelected(questions[currentQuestionIndex].id, answer.id!)"
                (change)="captureUserAnswer(questions[currentQuestionIndex].id, answer.id!)"
                [disabled]="showCorrection" />
              <!--<span>{{ answer.text }}</span>-->
              <span [innerHTML]="getTextoComNegrito(answer.text || '')"></span>

            </label>
          </div>

          <!-- Botão para marcar como não respondida -->
          <button class="btn-null" (click)="captureUserAnswer(questions[currentQuestionIndex].id, null);"
            *ngIf="!showCorrection">
            Não Responder
          </button>

          <br>

          <!-- Input para mostrar dica e solução -->
          <div class="tip" *ngIf="!showCorrection"
            [ngClass]="{'blocked-content': isUserLoggedIn && loggedUser.plan === 'FREE', 'statistics-body': true}">
            <div class="tip-input">
              <button class="solution-button"
                (click)="quiz.questions[currentQuestionIndex].showTip = !quiz.questions[currentQuestionIndex].showTip; this.renderMathExpressions();">
                <h1 class="title">Dicas</h1>
                <svg [class.rotated]="quiz.questions[currentQuestionIndex].showTip" class="chevron-icon" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path d="M6 9l6 6 6-6" />
                </svg>
              </button>
              <p id="math-container-tip-{{ currentQuestionIndex }}" class="tip-content scrollable"
                *ngIf="quiz.questions[currentQuestionIndex].tip && quiz.questions[currentQuestionIndex].showTip">
                {{ quiz.questions[currentQuestionIndex].tip }}
              </p>
            </div>
          </div>

          <div class="solution" *ngIf="showCorrection"
            [ngClass]="{'blocked-content': isUserLoggedIn && loggedUser.plan === 'FREE', 'statistics-body': true}">
            <div class="solution-input">
              <button class="solution-button"
                (click)="quiz.questions[currentQuestionIndex].showSolution = !quiz.questions[currentQuestionIndex].showSolution; this.renderMathExpressions();">
                <h1 class="title">Resolução</h1>
                <svg [class.rotated]="quiz.questions[currentQuestionIndex].showSolution" class="chevron-icon" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path d="M6 9l6 6 6-6" />
                </svg>
              </button>
              <p id="math-container-solution-{{ currentQuestionIndex }}" class="solution-content scrollable"
                *ngIf="quiz.questions[currentQuestionIndex].solution && quiz.questions[currentQuestionIndex].showSolution">
                {{ quiz.questions[currentQuestionIndex].solution }}
              </p>
            </div>
          </div>

        </div>

        <div class="navigation-buttons text-center">
          <button class="pagination-btn prev" (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
            Anterior
          </button>
          <button class="pagination-btn next" (click)="goToNextQuestion()"
            *ngIf="currentQuestionIndex !== quiz.questions.length - 1">
            Próxima
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
          <!-- Botão para submeter respostas -->
          <button class="pagination-btn submit" id="add-btn" (click)="onSubmitAnswers()"
            *ngIf="currentQuestionIndex === quiz.questions.length - 1">
            <span *ngIf="!submited">Submeter</span>
            <span *ngIf="submited">Resultados</span>
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <button *ngIf="showFinalScreen" class="go-back-btn" routerLink="/quizzes">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M19 12H5"></path>
        <path d="M12 19l-7-7 7-7"></path>
      </svg>
      Voltar
    </button>

    <div *ngIf="showFinalScreen" class="results-screen2">

      <!-- Metadados da questão -->
      <div class="questao-meta">
        <div class="meta-grid">
          <div class="meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg>
            <div>
              <p class="meta-label">Disciplina</p>
              <p class="meta-valor">{{ quiz.subject.name }}</p>
            </div>
          </div>

          <div class="meta-item">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z">
              </path>
              <line x1="7" y1="7" x2="7.01" y2="7"></line>
            </svg>
            <div>
              <p class="meta-label">Tópicos</p>
              <p class="meta-valor">{{ quiz.topics.length }}</p>
            </div>
          </div>

          <div class="meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 3v18h18"></path>
              <path d="M18.7 8l-5.1 5.2-2.8-2.7L7 14.3"></path>
            </svg>
            <div>
              <p class="meta-label">Dificuldade</p>
              <p class="meta-valor">{{ getDifficultyLevelValue(quiz.difficultyLevel) }}</p>
            </div>
          </div>

          <div class="meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <polyline points="12 6 12 12 16 14"></polyline>
            </svg>
            <div>
              <p class="meta-label">Tempo gasto / estimado</p>
              <p class="meta-valor">{{ formatTime(quiz.timeSpent) }} / {{ formatTime(totalTimeLimit) }}</p>
            </div>
          </div>

          <div class="meta-item">
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            <div>
              <p class="meta-label">Data</p>
              <p class="meta-valor">{{ quiz.submittedAt | date:'dd/MM/yyyy HH:mm' }}</p>
            </div>
          </div>

          <div class="meta-item">
            <img [src]="loggedUser.profileImageUrl" alt="Foto de perfil" class="student-avatar"
              *ngIf="loggedUser.profileImageUrl" />
            <div class="student-avatar" *ngIf="!loggedUser.profileImageUrl">
              <i class="fas fa-user"></i>
            </div>
            <div>
              <div class="student-name">{{ quiz.user.fullName }}</div>
              <!--<div class="student-class">{{ quiz.submittedAt | date:'dd/MM/yyyy HH:mm' }}</div>-->
            </div>
          </div>

        </div>
      </div>

      <br>

      <div class="button-container">
        <button class="btn-outline" id="add-btn" (click)="toggleCorrection()">
          Correção
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </button>
      </div>

      <br>

      <div class="card">
        <div class="card-header">
          <div class="card-title">Desempenho Geral</div>
        </div>

        <div class="overview">
          <div class="stat-item">
            <div class="stat-value primary">{{ quiz.questions.length }}</div>
            <div class="stat-label">Total de Questões</div>
          </div>
          <div class="stat-item">
            <div class="stat-value success">{{ result.correctAnswers }}</div>
            <div class="stat-label">Acertos</div>
          </div>
          <div class="stat-item">
            <div class="stat-value danger">{{ result.incorrectAnswers + result.nullAnswers }}</div>
            <div class="stat-label">Erros</div>
          </div>
          <div class="stat-item">
            <div class="stat-value success">{{ ((result.correctAnswers / quiz.questions.length) * 100).toFixed(1) }}%
            </div>
            <div class="stat-label">Taxa de Acerto</div>
          </div>
        </div>

        <div class="results-progress-container">
          <div class="progress-label">
            <div class="progress-title">Taxa de Acerto</div>
            <div class="progress-value">{{ ((result.correctAnswers / quiz.questions.length) * 100).toFixed(1)}}%</div>
          </div>
          <div class="results-progress-bar">
            <div class="progress success"
              [style.width.%]="((result.correctAnswers / quiz.questions.length) * 100).toFixed(1)"></div>
          </div>
        </div>

        <!--
        <div class="results-progress-container">
          <div class="progress-label">
            <div class="progress-title">Taxa de Erro</div>
            <div class="progress-value">{{ (100 - (result.correctAnswers / quiz.questions.length) * 100).toFixed(1)
          }}%</div>
          </div>
          <div class="results-progress-bar">
            <div class="progress danger" [style.width.%]="(100 - (result.correctAnswers / quiz.questions.length) * 100).toFixed(1)"></div>
          </div>
        </div>
        -->

      </div>

      <br>

      <div class="card" *ngIf="quiz.resultsByTopic">
        <div class="card-header">
          <div class="card-title">Desempenho por Tópico</div>
        </div>

        <div class="topics" *ngFor="let topic of quiz.topics">
          <div class="topic-card" style="margin-bottom: 15px;">
            <div class="topic-header">
              <div class="topic-title">{{ topic.name }}</div>
              <div class="topic-questions">
                {{ quiz.resultsByTopic[topic.name].total || 0 }} questões
              </div>
            </div>

            <div class="topic-stats">
              <div class="topic-stat">
                <div class="topic-stat-value success">
                  {{ quiz.resultsByTopic[topic.name].correct || 0 }}
                </div>
                <div class="topic-stat-label">Acertos</div>
              </div>
              <div class="topic-stat">
                <div class="topic-stat-value danger">
                  {{
                  (quiz.resultsByTopic[topic.name].incorrect || 0) +
                  (quiz.resultsByTopic[topic.name].nullAnswers || 0)
                  }}
                </div>
                <div class="topic-stat-label">Erros</div>
              </div>
            </div>

            <div class="results-progress-container">
              <div class="progress-label">
                <div class="progress-title">Taxa de Acerto</div>
                <div class="progress-value">
                  {{ quiz.resultsByTopic[topic.name].percentage?.toFixed(1) }}%
                </div>
              </div>
              <div class="results-progress-bar">
                <div class="progress success" [style.width.%]="quiz.resultsByTopic[topic.name].percentage?.toFixed(1)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

<!-- Popout -->
<div class="popout-overlay" id="popoutOverlay" *ngIf="displayModalLogin">
  <div class="popout-container" style="max-width: 400px;">
    <div class="popout-header">
      <h2 class="popout-title">Faça Login para continuar</h2>
      <button class="close-button" (click)="displayModalLogin = false">&times;</button>
    </div>
    <div class="login-side" *ngIf="activeTab === 1">

      <h1>Entrar</h1>

      <div id="google-signin-button" *ngIf="step === 'email'"></div>

      <div class="divider" *ngIf="step === 'email'">
        <span>OU</span>
      </div>

      <form #otpForm="ngForm" (ngSubmit)="step === 'email' ? sendOtp() : validateOtp()">

        <a *ngIf="step === 'otp'" (click)="step = 'email'" class="go-back-btn">⟵ Voltar</a>

        <p class="message" *ngIf="step === 'otp'">
          Para fazer login, insira o código enviado para o seu e-mail <span>{{ user.email }}</span>
        </p>

        <div class="input-group" *ngIf="step === 'email'">
          <label>Email:</label>
          <input type="email" id="email" name="email" #emailInput="ngModel" ngModel placeholder="Seu e-mail" required
            email [(ngModel)]="user.email">
        </div>

        <div class="input-group" *ngIf="step === 'otp'">
          <label>OTP:</label>
          <input type="text" id="otp" name="otp" #otpInput="ngModel" ngModel placeholder="código" required otp
            [(ngModel)]="otp">
        </div>

        <button class="login-btn" type="submit" [disabled]="otpForm.invalid || showLoading">
          {{ step === 'email' ? 'Login' : 'Verificar' }}
        </button>

        <p class="message" *ngIf="step === 'email'">
          Enviaremos um código de acesso único para seu <br> e-mail. Ou, você pode usar google para
          acessar sua conta se tiver se cadastrado com gmail.
        </p>

        <div class="signup-link">
          Não tem uma conta? <a (click)="setActiveTab(2)">Cadastre-se</a>
        </div>

      </form>

    </div>

    <div class="login-side" *ngIf="activeTab === 2">

      <h1>Cadastrar</h1>

      <div id="google-signin-button" *ngIf="step === 'email'"></div>

      <div class="divider" *ngIf="step === 'email'">
        <span>OU</span>
      </div>

      <form autocomplete="off" #registerForm="ngForm"
        (ngSubmit)="step === 'email' ? startRegistrationViaOtp() : completeRegistrationViaOtp()">
        <div class="input-group" *ngIf="step === 'email'">
          <label for="name">Nome completo</label>
          <input type="text" id="fullName" name="fullName" #fullNameInput="ngModel" ngModel
            placeholder="Seu nome completo" [(ngModel)]="user.fullName">
        </div>

        <div class="input-group" *ngIf="step === 'email'">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" #emailInput="ngModel" ngModel placeholder="Seu e-mail" required
            email [(ngModel)]="user.email">
        </div>

        <a *ngIf="step === 'otp'" (click)="step = 'email'" class="go-back-btn">⟵ Voltar</a>

        <p class="message" *ngIf="step === 'otp'">
          Para se cadastrar, insira o código enviado para o seu e-mail (<span>{{ user.email }}</span>)
        </p>

        <div class="input-group" *ngIf="step === 'otp'">
          <input type="text" id="otp" name="otp" #otpInput="ngModel" ngModel placeholder="código" required otp
            [(ngModel)]="otp">
        </div>

        <button class="login-btn" type="submit" [disabled]="registerForm.invalid || showLoading">
          {{ step === 'email' ? 'Login' : 'Verificar' }}
        </button>

        <a *ngIf="step === 'otp'" (click)="startRegistrationViaOtp()" class="resend-btn">Reenviar</a>

        <p class="message" *ngIf="step === 'email'">
          Enviaremos um código de acesso único para seu <br> e-mail. Ou, você pode usar google para se
          cadastradar com
          gmail.
        </p>

      </form>
      <div id="google-signin-button"></div>
      <div class="signup-link">
        Já tem uma conta? <a (click)="setActiveTab(1); ">Faça login</a>
      </div>
    </div>
  </div>
</div>