<div class="container" style="margin-top: 70px; max-width: 900px;">
  <!-- Tela inicial -->
  <div *ngIf="showStartScreen" class="start-screen">
    <h1 class="quiz-title">Novo quizz</h1>

    <div class="form-group">
      <label for="title">Descrição</label>
      <input type="title" name="title" ngModel #title="ngModel" minlength="1" [(ngModel)]="quiz.description">
    </div>

    <div class="form-group">
      <label for="subject">Disciplina</label>
      <select id="subject" [(ngModel)]="quiz.subject" (change)="getTopicsBySubjectId(quiz.subject.id)" [disabled]="showLoading || showGetSubjectLoading" name="subject" required>
        <option value="" disabled selected>Selecione a disciplina</option>
        <option *ngFor="let subject of subjects" [ngValue]="subject">{{ subject.name }}</option>
      </select>
    </div>

    <div>
      <label>Selecione os Tópicos</label>
      <ul>
        <li *ngFor="let topic of topics">
          <label>
            <input type="checkbox" [checked]="topic.selected" (change)="toggleTopic(topic)">
            {{ topic.name }}
          </label>
        </li>
      </ul>
      <button class="btn" style="margin-bottom: 10px;" (click)="getQuestions()" [disabled]="topics.length === 0">Gerar questões</button>
    </div>

    <div>
      <span style="font-weight: bold" *ngIf="showLoading || showGetSubjectLoading">Gerrando...</span>
    </div>

    <button class="start-button" (click)="startQuiz()"
      [disabled]="!quiz.description || quiz.questions.length === 0 || questions.length === 0 || showLoading || showGetSubjectLoading">Começar
      Quiz</button>
  </div>

  <!-- Tela do quiz (questões) -->
  <div *ngIf="!showStartScreen && !showFinalScreen">
    <div *ngIf="currentQuestionIndex < questions.length">
      <div class="question-card">
        <img *ngIf="imagePath" src="{{ imagePath }}" alt="Gráfico de funções" class="question-graph" />
        
        <!-- Contêiner para expressões matemáticas -->
        <div id="math-container-{{ currentQuestionIndex }}" class="details" *ngIf="questions[currentQuestionIndex].text">
          \[{{ questions[currentQuestionIndex].text }}\]
        </div>

        <div class="answer-options">
          <label *ngFor="let answer of questions[currentQuestionIndex].answers" [ngClass]="{
                    'correct-answer': showCorrection && answer.correct,
                    'incorrect-answer': showCorrection && !answer.correct && isSelected(questions[currentQuestionIndex].id, answer.id!)
                 }">
            <input type="radio" name="question-{{ questions[currentQuestionIndex].id }}" [value]="answer.id"
              [checked]="isSelected(questions[currentQuestionIndex].id, answer.id!)"
              (change)="captureUserAnswer(questions[currentQuestionIndex].id, answer.id!)"
              [disabled]="showCorrection" />

            <span> \[{{ answer.text }}\] </span>  
          </label>
        </div>

        <!-- Botão para marcar como não respondida -->
        <button class="btn" (click)="captureUserAnswer(questions[currentQuestionIndex].id, null)"
          [disabled]="showCorrection">
          Não Responder
        </button>
      </div>

      <div class="navigation-buttons text-center">
        <button class="pagination-button" (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">
          <i class="pi pi-chevron-left"></i> Anterior
        </button>
        <button class="pagination-button" (click)="goToNextQuestion()"
          [disabled]="currentQuestionIndex === questions.length - 1">
          Próxima <i class="pi pi-chevron-right"></i>
        </button>

        <!-- Botão para submeter respostas -->
        <button class="pagination-button" (click)="submitAnswers(); showFinalScreen = true; scrollToTop()"
          *ngIf="currentQuestionIndex === questions.length - 1">
          <span *ngIf="!submited">Submeter</span>
          <span *ngIf="submited">Resultados</span>
          <i style="margin-left: 0.5rem;" class="pi pi-arrow-up"></i>
        </button>
      </div>
    </div>

    <div *ngIf="showLoading" class="loading-indicator">
      Carregando...
    </div>
  </div>

  <!-- Tela final de resultados -->
  <div *ngIf="showFinalScreen" class="final-screen">
    <h1 class="quiz-title">Resultados do Quiz</h1>
    <p class="quiz-sub-title">{{ quiz.subject.name }}</p>

    <!-- Texto explicativo sobre os tópicos -->
    <p class="topics-label">Tópicos avaliados neste quiz:</p>

    <!-- Lista de tópicos -->
    <div class="topics-list">
      <span *ngFor="let topic of quiz.selectedTopics" class="topic-item">
        {{ topic.name }}
      </span>
    </div>

    <div class="results-summary">
      <p>Você respondeu {{ questions.length }} questões.</p>
      <p>Respostas corretas: <span class="correct">{{ result.correctAnswers }}</span></p>
      <p>Respostas incorretas: <span class="incorrect">{{ result.incorrectAnswers }}</span></p>
      <p>Não respondidas: <span class="incorrect">{{ result.unansweredQuestions }}</span></p>
      <p>Sua pontuação: <span class="score">{{ (result.correctAnswers / questions.length) * 100 }}%</span></p>
    </div>

    <button class="start-button" (click)="toggleCorrection()">Ver Correção</button>
  </div>
</div>