.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.group-page {
    display: flex;
    flex-direction: column;
}

.group-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
}

.group-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.group-info {
    text-align: center;
    z-index: 1;
    margin-top: -50px;
    padding: 0 20px;
}

.group-name {
    font-size: 2rem;
    /* Aumentando o tamanho do nome do grupo */
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 10px;
}

.group-description {
    font-size: 0.85rem;
    color: var(--color-gray);
    margin-top: 15px;
    line-height: 1.4;
    text-align: center;
}

.join-button,
.leave-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: auto;
}

.join-button:hover,
.leave-button:hover {
    background-color: darkorange;
}

.leave-button {
    background-color: #e74c3c;
}

.posts-list {
    flex: 2;
    width: 100%;
}

.post {
    background-color: white;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post-header {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.post-date {
    color: var(--color-gray);
    font-size: 0.9rem;
}

.post-body {
    margin-top: 15px;
}

.post-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.post-content {
    margin-top: 10px;
    font-size: 0.85rem;
}

.expand-btn {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.post-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.7rem;
}

.post-interactions a:hover {
    opacity: 0.8;
    transition: all 300ms ease;
}

.group-sidebar {
    flex: 1;
    height: max-content;
    width: 300px;
    position: sticky;
    top: 70px;
    background-color: white;
    border: 1px solid #dcdcdc;
    padding: 0.7rem;
    border-radius: 5px;
    max-height: 40vh;
}

.group-sidebar h3 {
    margin-bottom: 15px;
}

.members-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.member-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.member-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    margin-right: 10px;
}

.member-name {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    line-height: 40px;
}

.load-more {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    transition: all 300ms ease;
}

.load-more:hover {
    opacity: 0.8;
}

.post-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.post-video {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #ccc;
}

.icon-liked {
    color: var(--color-primary);
}



/* Animações e Centralização */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.overlay.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}

#post-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-members{
    display: flex;
    margin-top: 1rem;

}

.group-members span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.group-members span:first-child{
    margin: 0;
}

.group-members p{
    margin-left: 0.5rem;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .posts-list {
        flex: none;
        width: 100%;
    }

    .post {
        width: 100%;
        margin-bottom: 15px;
    }

    .group-sidebar {
        width: 100%;
    }

    .group-banner {
        height: 150px;
    }

    .group-name {
        font-size: 1.5rem;
    }

    .join-button,
    .leave-button {
        width: 100%;
        margin-top: 10px;
    }

    .posts-list,
    .group-sidebar {
        width: 100%;
    }
}
