<div class="container" style="margin-top: 70px; max-width: 900px;">

    <div class="group-page">
        <!-- Cabeçalho do Grupo -->
        <div class="group-header">
            <img [src]="group.urlFile" alt="Foto do grupo" class="group-banner">
            <div class="group-info">
                <h1 class="group-name">{{ group.name }}</h1>

                <div class="group-members">
                    <span><img src="assets/images/profile-15.jpg"></span>
                    <span><img src="assets/images/profile-16.jpg"></span>
                    <span><img src="assets/images/profile-17.jpg"></span>,
                    <p class="details" *ngIf="group.totalMembers == 0">Seja <strong>primeiro membro</strong> a aderir ao grupo</p>
                    <p class="details" *ngIf="!group.isCurrentUserMember && group.totalMembers == 1"> Apenas <strong>uma pessoa</strong> é membro deste grupo</p>
                    <p class="details" *ngIf="group.isCurrentUserMember && group.totalMembers == 1"> Apenas <strong>Tu</strong> és membro deste grupo</p>
                    <p class="details" *ngIf="group.isCurrentUserMember && group.totalMembers == 2"><strong>Tu</strong> e mais <strong>uma pessoa</strong> são membros deste grupo</p>
                    <p class="details" *ngIf="!group.isCurrentUserMember && group.totalMembers == 2"><strong>Duas pessoas</strong> são membros deste grupo</p>
                    <p class="details" *ngIf="group.isCurrentUserMember && group.totalMembers > 2"><strong>Tu</strong> e mais <strong>{{ group.totalMembers - 1}} pessoas</strong> são membros deste grupo</p>
                </div>
                
                <p class="group-description">{{ group.description }}</p>
                <p class="details">Criado por <strong>{{ group.creator.firstName }} {{ group.creator.lastName }}</strong></p>

                <button style="margin: 20px;" class="btn btn-primary" (click)="addMemberToGroup(group)"
                    *ngIf="!group.isCurrentUserMember">Aderir ao Grupo</button>
                <button style="margin: 20px;" class="btn" (click)="onRemoveMember(group)" *ngIf="group.isCurrentUserMember" [disabled]="loggedUser.id == group.creator.id">Sair do
                    Grupo</button>

            </div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="main-content">

            <!-- Lista de Posts -->
            <div class="posts-list">

                <div class="create-post-container">
                    <div class="create-post-header" (click)="onCreatePost()">
                        <img src="{{ loggedUser.profileImageUrl }}" alt="User Profile" class="profile-picture">
                        <div class="fake-input">Comece uma publicação</div>
                    </div>

                    <div class="post-options">
                        <div class="option" (click)="onCreatePost()">
                            <span class="icon">🖼️</span>
                            <span>Photo/Video</span>
                        </div>
                        <div class="option" (click)="onCreatePost()">
                            <span class="icon">🧩</span>
                            <span>Quiz</span>
                        </div>
                        <div class="option" (click)="onCreatePost()">
                            <span class="icon">📂</span>
                            <span>File</span>
                        </div>
                    </div>
                </div>

                <div class="post" *ngFor="let feed of feeds">
                    <div class="post-header" style="padding: 0.7rem 0 0 0.7rem;">
                        <img src="{{ feed.user.profileImageUrl }}" alt="Avatar do usuário" class="user-avatar">
                        <div class="user-info">
                            <h3 class="user-name">{{ feed.user.firstName }} {{ feed.user.lastName }}</h3>
                            <p class="post-date">Publicado em {{ timeElapsed(feed.date.toString()) }}</p>
                        </div>
                    </div>

                    <hr style="margin-top: 0.7rem;">

                    <div class="post-body">
                        <!--<h2 class="post-title" style="padding: 0 15px;">Como resolver equações quadráticas?</h2>-->
                        <p class="post-content" style="padding: 0 0.7rem;">{{ feed.text }}</p>
                        <button class="expand-btn" style="padding: 0 0.7rem;">Ler mais</button>

                        <!-- Imagem ou Vídeo -->
                        <img *ngIf="isImageUrl(feed.urlFile)" [src]="feed.urlFile" alt="Imagem do post"
                            class="post-image">
                        <video *ngIf="isVideoUrl(feed.urlFile)" controls class="post-video">
                            <source [src]="feed.urlFile" type="video/mp4">
                            Seu navegador não suporta a tag de vídeo.
                        </video>

                    </div>

                    <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
                        <span *ngIf="feed.numberOfLikes == 0">Sem gostos</span>
                        <span style="cursor: pointer;" *ngIf="feed.numberOfLikes == 1">1
                            gosto</span>
                        <span style="cursor: pointer;" *ngIf="feed.numberOfLikes > 1">{{
                            feed.numberOfLikes }} gostos</span>
                    </a>

                    <span class="text-muted" style="font-size: 0.7rem;">|</span>

                    <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
                        <span *ngIf="feed.numberOfComments == 0">Sem comentários</span>
                        <span style="cursor: pointer;" *ngIf="feed.numberOfComments == 1">1
                            comentário</span>
                        <span style="cursor: pointer;" *ngIf="feed.numberOfComments > 1">{{
                            feed.numberOfComments }} comentários</span>
                    </a>

                    <hr style="margin-top: 0.7rem;">

                    <div class="post-interactions">
                        <div class="interaction-button">
                            <a style="cursor: pointer;" (click)="toggleLike(feed)">
                                <i *ngIf="feed.isLiked" class="pi pi-heart-fill icon-liked"
                                    style="font-size: 1.1rem;"></i>
                                <i *ngIf="!feed.isLiked" class="pi pi-heart" style="font-size: 1.1rem;"></i>
                            </a>

                            <a style="cursor: pointer; margin-left: 0.7rem;">
                                <i class="pi pi-comment" style="font-size: 1.1rem;"></i>
                            </a>

                            <!--<i class="uil uil-share"></i>-->
                        </div>
                        <div>
                            <a *ngIf="feed.isSaved" (click)="onRemovePost(feed)" style="cursor: pointer;"><i
                                    class="pi pi-bookmark-fill"></i></a>
                            <a *ngIf="!feed.isSaved" (click)="addPostToSavedPosts(feed)" style="cursor: pointer;"><i
                                    class="pi pi-bookmark"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Membros do Grupo -->
            <div class="group-sidebar">
                <h3>Membros do Grupo</h3>
                <div class="members-list" *ngFor="let member of members">
                    <a [routerLink]="['/profile', member.id]" class="member-item">
                        <img src="{{ member.profileImageUrl }}" alt="Membro" class="member-avatar">
                        <div style="display: flex; flex-direction: column; ">
                            <span class="member-name">{{ member.firstName }} {{ member.lastName }}</span>
                            <span *ngIf="(member.isGroupAdmin) && (member.id != group.creator.id)" class="admin-span">admin</span>
                            <span *ngIf="member.id == group.creator.id" class="admin-span">criador e admin</span>
                        </div>

                    </a>
                    <div class="dropdown-container" *ngIf="loggedUser.isGroupAdmin">
                        <button class="dropdown-btn" (click)="member.isAdminMenuOpen = !member.isAdminMenuOpen"><i class="pi pi-ellipsis-v"></i></button>
                        <div class="dropdown" *ngIf="member.isAdminMenuOpen">
                            <a>Adicionar privilegio</a>
                            <a>Remover privilegio</a>
                            <a>Remover do grupo</a>
                        </div>
                    </div>
                </div>
                <button class="load-more" (click)="onShowMoreMembers()" *ngIf="members.length < 1000">Ver mais</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja sair do grupo ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmDialog(selectedGroup)">Confirmar</button>
            <button (click)="closeConfirmDialog()">Cancelar</button>
        </div>
    </div>
</div>

<!-- confirm dialog -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialogRemovePost">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja remover o post da sua lista ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmDialogRemovePost()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmDialogRemovePost(selectedPost)">Confirmar</button>
            <button (click)="closeConfirmDialogRemovePost()">Cancelar</button>
        </div>
    </div>
</div>

<!-- Overlay -->
<div id="dialog-overlay" class="dialog-overlay" *ngIf="showInputPost">

    <!-- Popout Container -->
    <div id="post-container" class="post-container" *ngIf="showInputPost">
        <!-- Cabeçalho com título e botão de fechar -->
        <div class="header">
            <h3 class="post-title">Criar Post</h3>
            <button class="close-btn" (click)="closeCreatePost()">×</button>
        </div>

        <!-- Caixa de postagem -->
        <div class="content">
            <form action="#" #newPostForm="ngForm" (ngSubmit)="addPostFromGroup(newPostForm)">
                <div class="post-input">
                    <div class="avatar-container">
                        <img class="user-avatar" src="{{ loggedUser.profileImageUrl }}" alt="Avatar">
                    </div>
                    <textarea placeholder="Comece uma publicação" rows="4" id="post-text" name="text"
                        [(ngModel)]="newPost.text"></textarea>
                </div>

                <div class="media-upload">
                    <input type="file" id="file-upload" accept="image/*,video/*" multiple
                        (change)="onPostImageChange($event, $event)" onchange="previewMedia()">
                    <label for="file-upload" class="upload-button">
                        <i class="fas fa-camera"></i> Adicionar Foto/Vídeo
                    </label>
                </div>

                <div id="media-preview" class="media-preview"></div>

                <div class="post-actions">
                    <button type="submit" class="post-button">Postar</button>
                </div>
            </form>
        </div>
    </div>
</div>