<div class="container" style="margin-top: 70px;">
    <div class="group-page">
        <!-- Cabeçalho do Grupo -->
        <div class="group-header">
            <img [src]="group.urlFile" alt="Foto do grupo" class="group-banner">
            <div class="group-info">
                <h1 class="group-name">{{ group.name }}</h1>
                <p class="group-description">{{ group.description }}</p>
                <button style="margin: 20px;" class="btn btn-primary" (click)="addMemberToGroup(group)" *ngIf="!group.isMember">Aderir ao Grupo</button>
                <button style="margin: 20px;" class="btn" (click)="onRemoveMember(group)" *ngIf="group.isMember">Sair do Grupo</button>
            </div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="main-content">
            <!-- Lista de Posts -->
            <div class="posts-list">
                <div class="post" *ngFor="let feed of feeds">
                    <div class="post-header" style="padding: 15px 0 0 15px;">
                        <img src="{{ feed.user.profileImageUrl }}" alt="Avatar do usuário" class="user-avatar">
                        <div class="user-info">
                            <h3 class="user-name">{{ feed.user.firstName }} {{ feed.user.lastName }}</h3>
                            <p class="post-date">Publicado em {{ timeElapsed(feed.date.toString()) }}</p>
                        </div>
                    </div>
                    <div class="post-body">
                        <h2 class="post-title" style="padding: 0 15px;">Como resolver equações quadráticas?</h2>
                        <p class="post-content" style="padding: 0 15px;">Neste post, vamos explorar as soluções para equações quadráticas usando o método da fórmula de Bhaskara...</p>

                        <!-- Imagem ou Vídeo -->
                        <img *ngIf="isImageUrl(feed.urlFile)" [src]="feed.urlFile" alt="Imagem do post" class="post-image">
                        <video *ngIf="isVideoUrl(feed.urlFile)" controls class="post-video">
                            <source [src]="feed.urlFile" type="video/mp4">
                            Seu navegador não suporta a tag de vídeo.
                        </video>

                        <button class="expand-btn" style="padding: 0 15px;">Ler mais</button>
                    </div>
                    <div class="post-interactions" style="padding: 15px">
                        <button class="like-btn">Curtir</button>
                        <button class="comment-btn">Comentar</button>
                        <span class="like-count">12 Curtidas</span>
                        <span class="comment-count">5 Comentários</span>
                    </div>
                </div>
            </div>

            <!-- Membros do Grupo -->
            <div class="group-sidebar">
                <h3>Membros do Grupo</h3>
                <div class="members-list" *ngFor="let member of members">
                    <a [routerLink]="['/profile', member.id]" class="member-item">
                        <img src="{{ member.profileImageUrl }}" alt="Membro" class="member-avatar">
                        <span class="member-name">{{ member.firstName }} {{ member.lastName }}</span>
                    </a>
                </div>
                <button class="load-more" *ngIf="members.length < 1000">Ver mais</button>
            </div>
        </div>
    </div>
</div>
