.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Posiciona o menu logo abaixo do span */
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
}

.dropdown-menu a {
  display: block;
  font-size: 0.85rem;
  padding: 0.5rem 3rem;
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background: #fff;
  cursor: pointer;
}

.dropdown-menu.show {
  display: block;
}