nav {
  width: 100%;
  padding: 0.3rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background: var(--color-primary);
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-left {
  display: flex;
  align-items: center;
  position: relative; /* Para que o popout de resultados seja posicionado relativo a este elemento */
}

nav .logo {
  margin-right: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem;
  position: relative; /* Para posicionar o popout corretamente */
}

.search-bar i {
  color: var(--color-gray);
  margin-right: 0.5rem;
}

.search-bar input[type="search"] {
  background: transparent;
  border: none;
  outline: none;
  width: 15vw;
  font-size: 0.9rem;
  color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

.active {
  font-size: 1.0rem;
  text-decoration: none;
  border-bottom: 4px solid whitesmoke;
  padding-bottom: 5px;
}

a:hover {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 4px solid #5553ec;
  padding-bottom: 5px;
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .profile-pic img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Popout de resultados */
.search-results-popup {
  position: absolute;
  top: 40px; /* Ajuste conforme necessário para a distância abaixo da navbar */
  left: 0; /* Posiciona o popout abaixo da barra de busca */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Certifique-se de que o popout está sobre outros elementos */
  width: 100%; /* Ajuste o tamanho conforme necessário */
  max-height: 400px; /* Limite a altura máxima e adicione rolagem se necessário */
  overflow-y: auto;
  padding: 10px;
}

.search-results-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results-popup li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.search-results-popup li:hover {
  background-color: #f0f0f0;
}

.search-results-popup .profile-pic {
  margin-right: 10px;
}

.search-results-popup .profile-pic img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Estilizar o botão do menu */
.menu-button {
  position: relative;
}

.menu-button .menu-icon {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button .menu-icon:hover {
  /*background: var(--color-dark);*/
}

/* Menu dropdown grande */
.menu-dropdown.large {
  position: absolute;
  top: 100%; /* Alinha o menu logo abaixo do botão */
  right: 0; /* Colar ao botão */
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: none;
  z-index: 1000;
  width: 300px; /* Tornando o menu mais largo */
  max-width: 400px;
}

.menu-dropdown.large.active {
  display: block;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown ul li {
  padding: 0.5rem 0;
  cursor: pointer;
}

.menu-dropdown ul li:hover {
  background-color: var(--color-light);
}

.menu-dropdown ul li a {
  text-decoration: none;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: bold;
}

.menu-dropdown ul li a:hover {
  color: var(--color-primary);
}

/* Esconde a barra de pesquisa, o popout de resultados e os links de navegação em dispositivos pequenos */
@media (max-width: 768px) {
  .search-bar {
    display: none; /* Esconde a barra de pesquisa */
  }

  .search-results-popup {
    display: none; /* Esconde o popout de resultados */
  }
}

