<nav>
  <div class="container">
    <div class="nav-left">
      <h2 class="logo" style="color: white;">Ku-DONDZA</h2>
      <div class="search-bar">
        <i class="pi pi-search"></i>
        <input type="search" placeholder="Search" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />
        <div class="search-results-popup" *ngIf="searchQuery.length > 2 && results.length > 0">
          <ul>
            <li *ngFor="let result of results">
              <div class="profile-pic">
                <a (click)="goToProfile()">
                  <img src="{{result.urlFile}}" alt="Profile picture" />
                </a>
              </div>
              <span>{{ result.type }}: </span>
              <span>{{ result.content }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="hamburger" (click)="toggleSidebar()">
      <i class="pi pi-bars"></i>
    </div>

    <div class="nav-center">
      <span *ngIf="isUserLoggedIn">
        <a class="menu-item" [class.active]="isActive('/home')" routerLink="/home">
          <span>Home</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/feed')" routerLink="/feed">
          <span>Feed</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/instituicoes')" routerLink="/instituicoes">
          <span>Instituições</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/cursos')" routerLink="/cursos">
          <span>Cursos</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/coursos-online')" routerLink="/coursos-online">
          <span>Cursos online</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/exames')" routerLink="/exames">
          <span>Exames</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/grupos')" routerLink="/grupos">
          <span>Grupos</span>
        </a>
        <a class="menu-item" [class.active]="isActive('/users')" routerLink="/users">
          <span>Usuários</span>
        </a>
      </span>
    </div>

    <div class="create" *ngIf="isUserLoggedIn">
      <div class="profile-pic">
        <a (click)="goToProfile()">
          <img src="{{loggedUser.profileImageUrl}}" alt="Profile picture" />
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Navbar lateral para dispositivos pequenos -->
<div class="sidebar" [class.active]="isSidebarActive">
  <span *ngIf="isUserLoggedIn">
    <a class="menu-item" [class.active]="isActive('/feed')" routerLink="/feed">
      <span>Feed</span>
    </a>
    <a class="menu-item" [class.active]="isActive('/instituicoes')" routerLink="/instituicoes">
      <span>Instituições</span>
    </a>
    <a class="menu-item" [class.active]="isActive('/cursos')" routerLink="/cursos">
      <span>Cursos</span>
    </a>
    <a class="menu-item" [class.active]="isActive('/exames')" routerLink="/exames">
      <span>Exames</span>
    </a>
    <a class="menu-item" [class.active]="isActive('/users')" routerLink="/users">
      <span>Usuários</span>
    </a>
  </span>
</div>
