/* Header */
.header {
  background: #4361ee;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.main {
  padding: 40px 0;
  min-height: calc(100vh - 170px);
}

/* Header Styles */
.topic-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*background-color: white;*/
  background: linear-gradient(to right, #4299e1, #2563eb);
  background: #4361ee;

  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #f1f5f9;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.topic-info {
  flex: 1;
}

.topic-actions {
  display: flex;
  gap: 10px;
}

.topic-title {
  font-size: 2rem;
  margin-bottom: 10px;
  /*color: #212529;*/
  color: #fff;
}

.topic-meta {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.topic-stats {
  display: flex;
  gap: 20px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.topic-description {
  line-height: 1.8;
  margin-bottom: 20px;
  color: white;
}

.go-back-btn {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--gray);
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s;
}

.go-back-btn:hover {
    color: #4361ee;
}