.tab-header {
    display: flex; 
    justify-content: flex-start; 
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; 
    background: transparent; 
}
  
.tab-link {
    text-align: center;
    text-decoration: none;
    padding: 0px 15px 5px;
    border-bottom: 1px solid transparent;
    min-width: 100px;

	font-size: 15px;
    color: var(--color-black);
	font-weight: 400;
}

.tab-link:hover {
    opacity: 0.8;
}

.tab-link.active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-black);
}

.tab-link:last-child {
    border-right: none;
    /* Remove a borda direita na última aba */
}





