/*
.texto-limitado {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #dcdcdc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.card {
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.4rem;
    padding: 20px;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    display: flex;
    align-items: center;
}

video {
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0 10px 200px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 100%;
    height: 600px;
}

.content {
    flex: 1;
    margin-left: 20px;
}

.course-name {
    font-size: 0.8rem;
    font-weight: bold;
}

.course-description {
    font-size: 0.7rem;
    margin: 5px 0;
}

.loading-indicator {
    margin-left: 10px;
    font-size: 0.85rem;
    color: black;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.admin-actions {
    margin-top: 10px;
}

.edit-link,
.delete-link {
    font-size: 0.7rem;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.loading-indicator {
    margin-top: 20px;
    font-size: 0.85rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    position: relative;
}

.dialog h2 {
    margin-top: 0;
    color: var(--color-black);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    appearance: none;
    background: #fff url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>') no-repeat right 10px center;
    background-size: 16px 12px;
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 17px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--color-black);
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.transparent-input {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    color: rgb(67, 65, 65);
    outline: none;
    transition: background 0.3s, border 0.3s;
    width: 300px;
}

.transparent-input::placeholder {
    color: rgb(67, 65, 65);
}

.transparent-input:focus {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

a {
    font-size: 0.8rem;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.flex a {
    margin-right: 10px;
}

.tab-header {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.tab-link {
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--color-black);
    border-bottom: 1px solid transparent;
    font-weight: bold;
    min-width: 100px;
}

.tab-link:hover {
    opacity: 0.8;
}

.tab-link.active {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.tab-link:last-child {
    border-right: none;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}

.course-image-container {
    flex: 1;
    max-width: 50%;
    margin-right: 20px;
}

.course-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.course-details {
    flex: 2;
    padding: 20px;
}

.course-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-black);
}

.course-description {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--color-black);
}

.course-meta {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.course-meta p {
    margin: 0 0 10px;
    font-size: 1.1em;
    color: var(--color-black);
}

.enroll-button {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.enroll-button:hover {
    opacity: 0.8;
}

.upload-loading-container {
    background-color: #dcdcdc;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
  
.upload-loading-text {
    font-weight: bold;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .course-container {
        flex-direction: column;
        padding: 10px;
    }

    .course-image-container {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .course-details {
        padding: 10px;
    }

    .course-meta {
        flex-direction: column;
    }

    .enroll-button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .course-title {
        font-size: 1.5em;
    }

    .course-description {
        font-size: 1em;
    }

    .course-meta p {
        font-size: 1em;
    }
}
*/


/*********************/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
:host {
    display: block;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
*/

/* Container Principal */
.learning-container {
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Capa do Curso */
.course-cover {
    position: relative;
    width: 100%;
    height: 300px;
    /* Ajuste conforme necessário */
    overflow: hidden;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
    -webkit-mask-image: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
    mask-image: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
}



/* Conteúdo Principal */
.main-content {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.course-details {
    flex: 2;
    margin-bottom: 20px;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--color-black);
    text-transform: capitalize;
    font-weight: 600;
}

.course-description {
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 25px;
    color: var(--color-gray);
}

/* Dados do Curso */
.course-info {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 30px;
}

.course-info .release-date,
.course-info .likes {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.course-info .release-date span,
.course-info .likes span {
    margin-left: 5px;
}

.course-info .release-date i,
.course-info .likes i {
    color: var(--color-primary);
    margin-right: 5px;
}

.course-info .course-join {
    align-self: flex-start;
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms ease;
}

.course-info .course-join:hover {
    opacity: 0.8;
}

/* Sobre o Instrutor */
.instructor-info {
    flex: 1;
    margin-top: 0;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.instructor-info img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.instructor-info .instructor-details h3 {
    font-size: 1.5rem;
    color: var(--color-black);
    margin-bottom: 10px;
}

.instructor-info .instructor-details p {
    font-size: 0.9rem;
    color: var(--color-gray);
    line-height: 1.8;
}

/* Estilos para a Lista de Aulas */
.course-lessons {
    width: 100%;
    /* Ocupa toda a linha */
    background-color: #fff;
    padding: 0.7rem;
    /* Menor espaçamento geral */
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.course-lessons h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: var(--color-black);
    font-weight: 600;
}

.lesson-list {
    list-style: none;
    padding-left: 0;
}

.lesson-list li {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Espaçamento entre os itens */
    margin-bottom: 15px;
    /* Menor espaçamento entre as aulas */
    padding: 10px 0;
    /* Menor espaçamento interno */
    border-bottom: 1px solid #ddd;
}

.lesson-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Remove o sublinhado padrão do link */
    color: inherit;
    /* Mantém a cor do texto original */
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.lesson-list li a:hover {
    text-decoration: underline;
}

.lesson-list li i {
    font-size: 2rem;
    color: var(--color-primary);
    flex-shrink: 0;
}

.lesson-list li div {
    flex-grow: 1;
}

.lesson-list li h3 {
    font-size: 1rem;
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 5px;
    /* Menor espaçamento entre o título e a descrição */
}

.lesson-list li p {
    font-size: 0.7rem;
    color: var(--color-gray);
    line-height: 1.6;
    margin-bottom: 5px;
    /* Menor espaçamento entre a descrição e a duração */
}

.lesson-duration {
    font-size: 0.7rem;
    color: #777;
    margin-top: 3px;
    /* Menor margem para a duração */
    display: block;
}

/* Estilos para os ícones de bloqueio/desbloqueio */
.lesson-list li .pi-lock,
.lesson-list li .pi-unlock {
    font-size: 1rem;
    color: var(--color-gray);
    margin-left: auto;
    cursor: pointer;
}

.lesson-list li .pi-lock:hover,
.lesson-list li .pi-unlock:hover {
    color: var(--color-primary);
    /* Mudança de cor ao passar o mouse */
}


.instructor-info {
    margin-top: 40px;
    padding-right: 20px;
    /* Adiciona padding à direita */
}

.instructor-info h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--color-black);
    font-weight: 600;
    /*text-align: center;*/
}

.instructor-details {
    display: flex;
    /* Usamos flexbox para alinhar os itens lado a lado */
    align-items: center;
    /* Alinha a imagem e o texto verticalmente */
    gap: 20px;
    /* Espaçamento entre a imagem e o texto */
}

.instructor-img {
    width: 100px;
    /* Defina o tamanho da imagem */
    height: 100px;
    border-radius: 50%;
    /* Tornar a imagem redonda */
    object-fit: cover;
    /* Corta a imagem mantendo a proporção */
}

.instructor-text {
    flex: 1;
    /* O texto ocupa o restante do espaço disponível */
}

.instructor-text h3 {
    margin-top: 0;
    /* Remove a margem superior do nome */
    text-align: left;
    /* Alinha o nome à esquerda */
}

.instructor-text p {
    text-align: left;
    /* Alinha a descrição à esquerda */
}

.students {
    display: flex;
    margin-top: 1rem;

}

.students span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.students span:first-child {
    margin: 0;
}

.students p {
    margin-left: 0.5rem;
    color: #777;

}

.course-cover {
    position: relative;
    width: 100%;
    height: 300px;
    /* Defina a altura que desejar */
    overflow: hidden;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 10%;
    /* Posiciona o conteúdo à esquerda */
    transform: translateY(-50%);
    color: var(--color-black);
    font-weight: 700;
    text-align: left;
    /* Alinha o texto à esquerda */
    font-size: 2.2rem;

}

.overlay-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.overlay-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 1.9;
}

.overlay-button:hover {
    opacity: 0.8;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vidio-dialog {
    background-color: #fff;
    padding-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 900px;
    height: 500px;
    position: relative;
}

.vidio-close-btn {
    position: absolute;
    top: 10px;
    right: 0.7rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--color-black);
}

video {
    margin: 5px 0;
    box-shadow: 0 10px 200px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    width: 100%;
    height: 500px;
}

.dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    position: relative;
}

.dialog h2 {
    margin-top: 0;
    color: var(--color-black);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    appearance: none;
    background: #fff url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>') no-repeat right 10px center;
    background-size: 16px 12px;
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 17px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--color-black);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

/* Responsivo */
@media (max-width: 1200px) {
    .main-content {
        flex-direction: column;
        gap: 30px;
    }
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .lesson-list li {
        /* Menos padding em telas pequenas */
        gap: 10px;
        /* Menos espaço entre os itens */
    }

    .instructor-info img {
        width: 100px;
        height: 100px;
    }

    .instructor-info .instructor-details h3 {
        font-size: 1.3rem;
        /* Ajuste no tamanho do título em telas pequenas */
    }

    .instructor-info .instructor-details p {
        font-size: 0.9rem;
        /* Ajuste no tamanho da descrição em telas pequenas */
    }
}

@media (max-width: 480px) {
    .lesson-list li {
        padding: 8px;
        /* Menos padding em telas muito pequenas */
    }

}
