<br>
<br>
<div class="learning-container">
    <div *ngIf="showLoading" class="loading-container" aria-live="polite">
        <div class="loading-indicator">
            <i class="pi pi-spin pi-spinner"></i>
            <span>{{ loadingMessage }}</span>
        </div>
      </div>
    <!-- Capa do Curso -->
    <div class="course-cover">
        <img class="cover-image" [src]="course.coverImageUrl" alt="Capa do Curso">
        <!-- Texto e botão sobre a imagem -->
        <div class="overlay-content">
            <p class="overlay-text">{{ course.name }}</p>
            <button class="overlay-button">Pré-visualizar</button>
        </div>
    </div>
</div>

<div class="learning-container">
    <!-- Detalhes do Curso -->
    <div class="course-details">
        <h1 class="title">Descrição</h1>
        <p class="course-description">{{ course.description }}</p>

        <!-- Informações do Curso -->
        <div class="course-info">
            <div class="release-date">
                <i class="pi pi-calendar"></i><span class="text-muted">Data de Lançamento: {{ course.lunchDate }}</span>
            </div>

            <div class="likes">
                <i *ngIf="course.isLiked" class="pi pi-heart-fill icon-liked"></i>
                <i *ngIf="!course.isLiked" class="pi pi-heart"></i>
                <span class="text-muted">2,500 pessoas gostaram</span>
            </div>

            <button class="btn btn-primary" *ngIf="!course.isSubscribed"
                (click)="addCourseToSubscribedOnlineCourses(course)">Aderir</button>
            <button class="btn btn-primary" disabled *ngIf="course.isSubscribed">Inscrito</button>
        </div>

        <h1 class="title">Pré-requisitos <span (click)="onUpdateRequirements()" *ngIf="isSuperAdmin"><i
                    class="pi pi-pencil" style="font-size: 0.9rem; color: black;"></i></span></h1>

        <p class="course-description" *ngFor="let req of course.requirements" style="margin-left: 10px;">
            <i class="pi pi-check"
                style="font-size: 0.7rem; font-weight: bold; margin-left: 0.3rem; color: #28a745;"></i>
            {{ req.designation }}
        </p>
    </div>
</div>

<div class="learning-container">
    <!-- Seção do Instrutor -->
    <div class="instructor-section">
        <h1 class="title">Instrutor</h1>
        <div class="instructor-card">
            <img class="instructor-img" [src]="course.instrutor.profileImageUrl" alt="Instrutor">
            <div class="instructor-details">
                <h3>{{ course.instrutor.firstName }} {{ course.instrutor.lastName }}</h3>
                <p class="instructor-bio">{{ course.instrutor.bio }}</p>
                <p class="instructor-course">{{ course.name }}</p>
            </div>
        </div>
    </div>
</div>

<div class="learning-container">
    <!-- Seção de Aulas -->
    <div class="lessons-section">
        <div class="section-header">
            <h1 class="title">Aulas</h1>
            <div class="actions">
                <button type="button" class="btn btn-primary" (click)="onAddNewModule()" *ngIf="isSuperAdmin">Adicionar
                    Módulo</button>
                <button type="button" class="btn btn-primary" (click)="onAddNewOnlineCourseContent()"
                    *ngIf="isSuperAdmin">Adicionar Aula</button>
            </div>
        </div>
        <div class="modules-list">
            <div *ngFor="let modulo of modulos" class="module-card">
                <div class="module-header">
                    <i class="pi pi-play-circle"></i>
                    <h3>{{ modulo.position }}. {{ modulo.name }}</h3>
                    <button class="edit-btn" (click)="onUpdateModule(modulo)" *ngIf="isSuperAdmin">
                        <i class="pi pi-pencil"></i>
                    </button>
                </div>
                <div class="lessons-list">
                    <div *ngFor="let content of modulo.courseContents" class="lesson-item">
                        <div class="lesson-info">
                            <i *ngIf="content.contentType == 'VIDEO'" class="pi pi-video"></i>
                            <i *ngIf="content.contentType == 'FILE'" class="pi pi-file"></i>

                            <span class="lesson-title" (click)="onSelectContent(content)">
                                {{ modulo.position }}.{{ content.position }}. {{ content.description }}
                            </span>
                        </div>

                        <div class="lesson-actions">
                            <!-- Exibir status de vídeo assistido -->
                            <div *ngIf="content.contentType == 'VIDEO' && content.isMarked" class="lesson-marked">
                                <i class="pi pi-check-circle"></i> Assistido
                            </div>

                            <!-- Botões para marcar/desmarcar -->
                            <div class="marked-actions" *ngIf="content.contentType == 'VIDEO'">
                                <button *ngIf="!content.isMarked" class="btn-small"
                                    (click)="addContentToMarkedCourseContents(content)" title="Marcar como assistido">
                                    <i class="pi pi-eye"></i>
                                </button>
                                <button *ngIf="content.isMarked" class="btn-small"
                                    (click)="removeContentFromMarkedCourseContents(content)"
                                    title="Desmarcar como assistido">
                                    <i class="pi pi-eye-slash"></i>
                                </button>
                            </div>


                            <button *ngIf="content.contentType == 'FILE'" [disabled]="content.showLoadingDownload"
                                (click)="download(content, content.fileName)" class="btn-icon">
                                <i class="pi pi-download"></i>
                            </button>

                            <button *ngIf="isAdmin" class="btn-icon"
                                (click)="content.isAdminMenuOpen = !content.isAdminMenuOpen">
                                <i class="pi pi-ellipsis-v"></i>
                            </button>

                            <div class="dropdown" *ngIf="content.isAdminMenuOpen">
                                <a
                                    (click)="onUpdateOnlineCourseContent(content, modulo, courseContentFile); content.isAdminMenuOpen = false">Editar</a>
                                <a (click)="confirmarExclusao(content); content.isAdminMenuOpen = false">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="learning-container">
    <!-- Seção de Alunos -->
    <div class="students-section">
        <h1 class="title">Alunos</h1>
        <div class="students-list">
            <div *ngFor="let student of students" class="student-card">
                <img class="student-avatar" [src]="student.profileImageUrl" alt="Aluno">
                <div class="student-details">
                    <h4>{{ student.firstName }} {{ student.lastName }}</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Botão "Carregar mais" -->
    <div class="load-more">
        <button (click)="onShowMoreStudents()" *ngIf="students.length < 1000" class="btn-load-more">Ver mais</button>
    </div>

</div>

<!-- Modal de Vídeo -->
<div class="overlay" *ngIf="showLesson">
    <div class="vidio-dialog">
        <h2 style="font-size: 1rem; margin-left: 0.7rem;">{{ onlineSelectedCourseContent.description }}</h2>
        <button class="vidio-close-btn" (click)="showLesson = false">&times;</button>

        <div *ngIf="onlineSelectedCourseContent">
            <video class="video" #videoPlayer controls>
                <source [src]="onlineSelectedCourseContent.urlFile" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>

<!-- Modal de Adicionar/Editar Aula -->
<div class="overlay" *ngIf="displayModalSaveContent">
    <div class="dialog">

        <div class="dialog-header">
            <h2>{{ editingContent ? 'Editando aula' : 'Adicionando aula' }}</h2>
            <button class="close-btn" (click)="displayModalSaveContent = false">&times;</button>
        </div>

        <hr class="header-divider">

        <form autocomplete="off" #courseForm="ngForm">
            <div class="form-group">
                <label for="type">Tipo</label>
                <select id="type" [(ngModel)]="onlineCourseContent.contentType" name="type" required>
                    <option value="" disabled selected>Selecione o tipo</option>
                    <option *ngFor="let type of contentType" [value]="type.value">{{ type.label }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <input type="text" name="description" ngModel #description="ngModel" required minlength="1"
                    [(ngModel)]="onlineCourseContent.description">
            </div>
            <div class="form-group">
                <label for="modulo">Módulo</label>
                <select id="modulo" [(ngModel)]="onlineCourseContent.module.id" name="module" required>
                    <option value="" disabled selected>Selecione o módulo</option>
                    <option *ngFor="let module of modulos" [value]="module.id">{{ module.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" (change)="onCourseContenFileSelected($event)" name="file" accept="application/**"
                    class="form-control" required />
            </div>
            <div class="form-group">
                <label for="position">Posição</label>
                <input type="text" name="position" ngModel #position="ngModel" required minlength="1"
                    [(ngModel)]="onlineCourseContent.position">
            </div>

            <hr class="header-divider">

            <div class="dialog-footer">
                <button type="button" (click)="saveContent()" class="btn">{{ showLoading ? 'Loading...' : 'Salvar'
                    }}</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Adicionar/Editar Módulo -->
<div class="overlay" *ngIf="displayModalSaveModule">
    <div class="dialog">

        <div class="dialog-header">
            <h2>{{ editingModule ? 'Editando modulo' : 'Adicionando modulo' }}</h2>
            <button class="close-btn" (click)="displayModalSaveModule = false">&times;</button>
        </div>

        <hr class="header-divider">

        <form autocomplete="off" #courseForm="ngForm">
            <div class="form-group">
                <label for="name">Descrição</label>
                <input type="text" name="name" ngModel #name="ngModel" required minlength="1" [(ngModel)]="modulo.name">
            </div>
            <div class="form-group">
                <label for="position">Posição</label>
                <input type="text" name="position" ngModel #position="ngModel" required minlength="1"
                    [(ngModel)]="modulo.position">
            </div>

            <hr class="header-divider">

            <div class="dialog-footer">
                <button type="button" (click)="saveModule()" class="btn">{{ showLoading ? 'Loading...' : 'Salvar'
                    }}</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Requisitos -->
<div class="overlay" *ngIf="displayModalUpateRequirements">
    <div class="dialog" style="width: 1000px;">

        <div class="dialog-header">
            <h2>Requisitos</h2>
            <button class="close-btn" (click)="displayModalUpateRequirements = false">&times;</button>
        </div>

        <hr class="header-divider">

        <form autocomplete="off" #courseRequirementsForm="ngForm"
            (ngSubmit)="updateRequirements(courseRequirementsForm)">
            <div class="requirements-container">
                <div class="header-section">
                    <label>Todos</label>
                    <a href="javascript:;" class="add-btn" (click)="openAddNewRequirementModal()">
                        <i class="pi pi-plus"></i>
                    </a>
                </div>
                <div class="table-container">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Texto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let req of course.requirements; let rowIndex = index">
                                <td>{{ req.designation }}</td>
                                <td class="actions">
                                    <a href="javascript:;" (click)="getReadEditRequirement(req, rowIndex)"
                                        class="tb-edit-btn">E</a>
                                    <a href="javascript:;" (click)="removeRequirement(rowIndex)"
                                        class="tb-remove-btn">R</a>
                                </td>
                            </tr>
                            <tr *ngIf="course.requirements.length === 0">
                                <td colspan="3" class="text-center">Sem respostas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr class="header-divider">

            <div class="dialog-footer">
                <button type="submit" [disabled]="courseRequirementsForm.invalid" class="btn">{{ showLoading ?
                    'Loading...' : 'Salvar' }}</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Requisito (Adicionar/Editar) -->
<div class="overlay" *ngIf="showRequirementForm && requirement">
    <div class="dialog" style="width: 600px;">

        <div class="dialog-header">
            <h2>{{editingRequirement ? 'Editando' : 'Novo'}}</h2>
            <button class="close-btn" (click)="showRequirementForm = false">&times;</button>
        </div>

        <hr class="header-divider">

        <form autocomplete="off" #formRequirement="ngForm" (ngSubmit)="confirmRequirement(formRequirement)">
            <div class="form-group">
                <label for="designation">Descrição</label>
                <textarea id="designation" type="text" name="designation" ngModel #designation="ngModel" required
                    minlength="1" [(ngModel)]="requirement.designation" required></textarea>
            </div>

            <hr class="header-divider">

            <div class="dialog-footer">
                <button class="btn" [disabled]="formRequirement.invalid">Confirmar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Confirmação -->
<div class="confirm-dialog-overlay" *ngIf="showConfirmDialog">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <h4>Deseja anular a subscrição ?</h4>
            <button class="confirm-close-button" (click)="closeConfirmDialog()">x</button>
        </div>
        <div class="confirm-dialog-content">
            <ng-content></ng-content>
        </div>
        <div class="confirm-dialog-footer">
            <button (click)="confirmDialog(selectedOnlineCourse)">Confirmar</button>
            <button (click)="closeConfirmDialog()">Cancelar</button>
        </div>
    </div>
</div>