<div class="question-card">
    <!-- Cabeçalho da pergunta -->
    <div class="question-header">
        <h1 class="subject-name">{{ question.topic.subject.name }}</h1>
        <p class="topic-name">{{ question.topic.name }}</p>
    </div>

    <!-- Corpo da pergunta -->
    <div class="question-body">
        <h2 class="question-title">Exercício</h2>
        <img *ngIf="question.urlFile" [src]="question.urlFile" alt="Gráfico de funções" class="question-image">
        <p class="details" *ngIf="question.text">
            \[{{ question.text }}\]
        </p>   
    </div>

    <!-- Opções de resposta -->
    <h2 class="options-title">Opções de Resposta</h2>
 
    <div class="answers-card">
        <div class="answer-options">
            <div class="answers-grid">
                <label *ngFor="let answer of question.answers" class="answer-item">
                    <span> \[{{ answer.text }}\] </span> 
                    <span *ngIf="answer.correct" class="correct-tag">✓</span>
                </label>
            </div>
        </div>
    </div>

    <h2 class="options-title">Estatísticas</h2>

    <div class="statistics-container">
        <!-- Cabeçalho -->
        <div class="statistics-header">
            <h2>Nos Quizzes</h2>
            <p class="description">
                Visão abrangente sobre o desempenho da questão ao longo de diversos quizzes. 
                <a (click)="onViewQuizzesByQuestion()" class="view-button">Ver os {{ quizQuestionStatistics.quizzesCount }} quizzes</a>
            </p>
        </div>
    
        <!-- Corpo das Estatísticas -->
        <div class="statistics-body">
            <!-- Gráfico de Barras -->
            <div class="graph">
                <div class="bar acertos" *ngIf="quizQuestionStatistics.accuracyRate > 0" [style.width.%]="quizQuestionStatistics.accuracyRate">
                    {{ quizQuestionStatistics.accuracyRate.toFixed(1) }} %
                </div>
                <div class="bar erros" *ngIf="quizQuestionStatistics.errorRate > 0" [style.width.%]="quizQuestionStatistics.errorRate">
                    {{ quizQuestionStatistics.errorRate.toFixed(1) }} %
                </div>
            </div>
    
            <!-- Detalhes -->
            <div class="details">
                <div class="detail-item">
                    Total de Respostas:
                    <span>{{ quizQuestionStatistics.totalAnswers }}</span>
                </div>
                <div class="detail-item">
                    Respostas Corretas:
                    <span>{{ quizQuestionStatistics.totalCorrectAnswers }}</span>
                </div>
                <div class="detail-item">
                    Respostas Incorretas (incluindo nulas):
                    <span>{{ quizQuestionStatistics.totalIncorrectAnswers }}</span>
                </div>
                <div class="detail-item">
                    Taxa de Acerto:
                    <span>{{ quizQuestionStatistics.accuracyRate.toFixed(1) }} %</span>
                </div>
                <div class="detail-item">
                    Taxa de Erro (incluindo nulas):
                    <span>{{ quizQuestionStatistics.errorRate.toFixed(1) }} %</span>
                </div>
                <div class="detail-item">
                    Total de quizzes em que esta questão foi incluída:
                    <span>{{ quizQuestionStatistics.quizzesCount }}</span>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="statistics-container">
        <div class="statistics-header">
            <h2>Nas Competições</h2>
            <p class="description">
                Visão abrangente sobre o desempenho da questão ao longo de diversas competições.
            </p>
        </div>
    
        <div class="statistics-body">
            <!-- Gráfico de Barras -->
            <div class="graph" >
                <div class="bar acertos" *ngIf="competitionQuestionStatistics.accuracyRate > 0" [style.width.%]="competitionQuestionStatistics.accuracyRate">
                    {{ competitionQuestionStatistics.accuracyRate.toFixed(1) }} %
                </div>
                <div class="bar erros" *ngIf="competitionQuestionStatistics.errorRate > 0" [style.width.%]="competitionQuestionStatistics.errorRate">
                    {{ competitionQuestionStatistics.errorRate.toFixed(1) }} %
                </div>
            </div>
    
            <!-- Detalhes -->
            <div class="details">
                <div class="detail-item">
                    Total de Respostas:
                    <span>{{ competitionQuestionStatistics.totalAnswers }}</span>
                </div>
                <div class="detail-item">
                    Respostas Corretas:
                    <span>{{ competitionQuestionStatistics.totalCorrectAnswers }}</span>
                </div>
                <div class="detail-item">
                    Respostas Incorretas (incluíndo nulas):
                    <span>{{ competitionQuestionStatistics.totalIncorrectAnswers }}</span>
                </div>
                <div class="detail-item">
                    Taxa de Acerto:
                    <span>{{ competitionQuestionStatistics.accuracyRate.toFixed(1) }} %</span>
                </div>
                <div class="detail-item">
                    Taxa de Erro (incluíndo nulas):
                    <span>{{ competitionQuestionStatistics.errorRate.toFixed(1) }} %</span>
                </div>
                <div class="detail-item">
                    Total de competições em que esta questão foi incluída:
                    <span>{{ competitionQuestionStatistics.competitionsCount }}</span>
                </div>
            </div>
        </div>
    </div>

        <!-- Explicação da resolução -->
    <div class="solution-section" *ngIf="showSolution">
        <h2 class="solution-title">Como Resolver</h2>
        <div class="solution-content">
            <p class="solution-text">
                \[{{ question.solution }}\]
            </p>
        </div>
    </div>

    <!-- Botão para mostrar/ocultar a solução -->
    <div class="solution-toggle">
        <button (click)="toggleSolution()" class="toggle-button">
            {{ showSolution ? 'Ocultar Solução' : 'Mostrar Solução' }}
        </button>
    </div>
    
</div>

<div class="overlay" *ngIf="displayModalViewQuizzes">
    <div class="dialog" style="width: 600px;">

        <div class="dialog-header">
            <h2>Ver</h2>
            <button class="close-btn" (click)="displayModalViewQuizzes = false">&times;</button>
        </div>

        <hr class="header-divider">

        <p class="details" *ngFor="let quiz of quizzes" style="margin-left: 10px;">
            <i class="pi pi-check"style="font-size: 0.7rem; font-weight: bold; margin-left: 0.3rem; color: #28a745;"></i>
            {{ quiz.description }}
            {{ quiz.user.firstName }}
        </p>
    </div>
</div>