<div class="question-card">
    <!-- Cabeçalho da pergunta -->
    <div class="question-header">
        <h1 class="subject-name">{{ question.topic.subject.name }}</h1>
        <p class="topic-name">{{ question.topic.name }}</p>
    </div>

    <!-- Corpo da pergunta -->
    <div class="question-body">
        <h2 class="question-title">Exercicio</h2>
        <p class="question-text">{{ question.text }}</p>
        <p class="details" *ngIf="question.mathExpression">
            \[{{ question.mathExpression }}\]
        </p>   
        
        <!--<img *ngIf="question.urlFile" [src]="question.urlFile" alt="Gráfico de funções" class="question-image">-->
        <!--<img *ngIf="imagePath" [src]="imagePath" alt="Gráfico de funções" class="question-image">-->
    </div>

    <!-- Opções de resposta -->
    <div class="answer-options">
        <h2 class="options-title">Opções de Resposta</h2>
        <div class="answers-grid">
            <label *ngFor="let answer of question.answers" class="answer-item">
                <span class="answer-text">{{ answer.text }}</span>
                <span *ngIf="answer.correct" class="correct-tag">✓</span>
            </label>
        </div>
    </div>
</div>