<br>
<br>
<br>
<br>
<div class="container">

    <div style="display:inline;">
        <p style="margin-top: 20px; font-size: 30px;">Cursos</p>
    </div>

    <p style="margin-top: 20px; font-size: 0.85rem;">Descubra a diversidade de cursos disponíveis em Moçambique,
        incluindo detalhes como título do curso, descrição e a instituição que oferece.</p>
    <p style="margin-bottom: 20px; font-size: 0.85rem;"> Na Ku-DONDZA, ajudamos os estudantes a fazer escolhas
        informadas. <a style="color: #1c80cf; text-decoration: underline;" href="">Saiba mais</a>
    </p>

    <p-table [value]="courses" [paginator]="true" (onLazyLoad)="aoMudarPagina($event)" [rows]="filtro.itensPorPagina"
        selectionMode="single" [totalRecords]="totalRegistros" [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [lazy]="true"
        currentPageReportTemplate="Mostrando {{totalRegistros}} dos {{totalCourses}}" [showCurrentPageReport]="true"
        styleClass="p-datatable-sm" #tabela>

        <ng-template pTemplate="caption">
            <div class="flex">


                <button *ngIf="!isAdmin" class="btn btn-primary" (click)="onAddNewCourse()">Novo</button>

                <p style="font-size: 0.85rem; margin-top: 10px; margin-right: 10px;" class="ml-auto"> Mostrando
                    {{totalRegistros}} dos {{totalCourses}}</p>

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText [(ngModel)]="filtro.name" (ngModelChange)="findAll()" type="text"
                        style="width: 300px;" placeholder="Pesquisa" />
                </span>

                <button (click)="onFilter()" style="margin-left: 10px; background-color: #3734ed; border: none;"
                    type="button" pButton pRipple icon="pi pi-filter"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
            <tr>
                <td style="width: 250px;">
                    <p style="font-size: 0.8rem; font-weight: bold;">{{ course.name }}</p>
                </td>

                <td style="width: 10px;">
                    <div class="profile-pic">

                        <a href="javascript:;" [routerLink]="['/user/profile']">
                            <img src="{{course.institution.urlFile}}" alt="pic 1" />
                        </a>

                    </div>
                </td>

                <td>
                    <p style="font-size: 0.8rem; font-weight: bold;">{{ course.institution.name }} <span *ngIf="course.institution.acronym">({{ course.institution.acronym }})</span></p>
                    <p style="font-size: 0.85rem;"> {{ course.institution.type }}</p>
                </td>

                <td *ngIf="!isAdmin" style="width: 150px;">
                    <span class="p-buttonset mr-auto">
                        <button pButton pTooltip="Edit" (click)="onUpdateCourse(course)" tooltipPosition="top"
                            type="button" icon="pi pi-pencil" style="height: 30px; background-color: #3734ed;"></button>
                        <button pButton pTooltip="Delete" (click)="confirmarExclusao(course)" tooltipPosition="top"
                            type="button" icon="pi pi-trash"
                            style="background-color: #fff; color: #e96969; border-color: #e96969; height: 30px;"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">
                    <span *ngIf="showLoading" style="color:#1c80cf;">Carregando... </span>
                    <span *ngIf="!showLoading">Nenhum curso encontrado </span>
                    <i *ngIf="showLoading" class="pi pi-spin pi-spinner"></i>
                    <a href="javascript:;">
                        <i *ngIf="!showLoading" style="color: #1c80cf;" (click)="findAll(0)" pTooltip="Refresh"
                            class="pi pi-refresh"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!--Save-->
<p-dialog header="Curso {{ editing ? '- editando' : '- novo' }}" [(visible)]="displayModalSave" [modal]="true"
    [style]="{width: '45vw'}" [draggable]="false" [resizable]="false">
    <form autocomplete="off" #courseForm="ngForm" (ngSubmit)="save(courseForm)">
        <div class="col-12 p-fluid">
            <label>Instituição</label>
            <p-dropdown placeholder="Selecione" [options]="institutions" [(ngModel)]="course.institution.id"
                name="institution" #institution="ngModel"></p-dropdown>
        </div>

        <div class="col-12 p-fluid">
            <label>Nome</label>
            <input pInputText type="text" name="name" ngModel #name="ngModel" required minlength="1"
                [(ngModel)]="course.name">
        </div>

        <div class="col-12 p-fluid" style="margin-top: 15px;">
            <button pButton type="submit" [disabled]="courseForm.invalid"
                label="{{ showLoading ? 'Loading...' : 'Salvar' }}" style="background-color: #3734ed; border: none;">
            </button>
        </div>

    </form>
</p-dialog>