<br>
<br>
<br>
<br>
<div class="container">

    <div style="display:inline;">
        <p style="margin-top: 20px; font-size: 30px;">Cursos</p>
    </div>

    <p style="margin-top: 20px; font-size: 0.85rem;">Descubra a diversidade de cursos disponíveis em Moçambique,
        incluindo detalhes como título do curso, descrição e a instituição que oferece.</p>
    <p style="margin-bottom: 20px; font-size: 0.85rem;"> Na ku-DONDZA, ajudamos os estudantes a fazer escolhas
        informadas.  <a style="color: #1c80cf; text-decoration: underline;" href="">Saiba mais</a>
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>