


/* Table */
.table-container {
    max-width: 100%; 
    margin: 0 auto;
    overflow-x: auto;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.responsive-table thead {
    background-color: var(--color-primary);
    color: white;
}

.responsive-table th, .responsive-table td {
    padding: 8px; 
    text-align: left;
    font-size: 14px; 
}

.responsive-table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.responsive-table tbody tr:hover {
    background-color: #f1f1f1;
}

.responsive-table td {
    border-bottom: 1px solid #ddd;
}

.actions {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 5px; /* Menor espaço entre os botões */
}

.actions-header {
    text-align: right; /* Alinha o cabeçalho de ações à direita */
}

.edit-btn, .remove-btn {
    text-decoration: none;
    padding: 4px 8px; 
    border-radius: 4px;
    color: #fff;
    font-size: 12px; 
    border: none; 
    cursor: pointer; 
}

.edit-btn {
    background-color: #2196F3;
}

.remove-btn {
    background-color: #F44336;
}

.edit-btn:hover {
    background-color: #0b7dda;
}

.remove-btn:hover {
    background-color: #da190b;
}

.text-center {
    text-align: center;
    font-weight: bold;
    color: var(--color-black);
    font-size: 14px; /* Tamanho da fonte da mensagem menor */
}

.requirements-container {
    margin-top: 6px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-new {
    padding: 8px 15px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.add-new:hover {
    opacity: 0.8;
}

.confirm-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 300ms ease;
}

.confirm-button-primary {
    background: var(--color-primary);
    color: white;
}

.confirm-button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border-color: #adb5bd;
}

.confirm-button:hover {
    opacity: 0.8;
}