/* Table */
.table-container {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.responsive-table thead {
    background-color: var(--color-primary);
    color: white;
}

.responsive-table th,
.responsive-table td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.responsive-table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.responsive-table tbody tr:hover {
    background-color: #f1f1f1;
}

.responsive-table td {
    border-bottom: 1px solid #ddd;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.actions-header {
    text-align: right;
}

.edit-btn,
.remove-btn {
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.edit-btn {
    background-color: #2196F3;
}

.remove-btn {
    background-color: #F44336;
}

.edit-btn:hover {
    background-color: #0b7dda;
}

.remove-btn:hover {
    background-color: #da190b;
}

.text-center {
    text-align: center;
    font-weight: bold;
    color: var(--color-black);
    font-size: 14px;
}

.table-container {
    margin-top: 6px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-new {
    padding: 8px 15px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.add-new:hover {
    opacity: 0.8;
}

.answers-table {
    width: 100%;
}

.answers-table th {
    background-color: #f4f6f6;
    text-align: left;
    padding: 10px;
}

.answers-table td {
    padding: 10px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.actions a:hover {
    color: #fff;
}

.edit-btn i,
.remove-btn i {
    margin-right: 5px;
}

.text-center {
    text-align: center;
}

.p-datatable-sm {
    font-size: 0.9rem;
}

/* Botão do menu dropdown */
.dropdown-btn {
    background-color: transparent;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

/* End */

.header-section2 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    /* espaçamento entre os itens */
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.25rem;
    transition: color 0.3s ease;
    color: #6c757d;
    /* cor padrão (cinza) */
}

.bookmark-button:hover {
    color: #495057;
    /* cor ao passar o mouse */
}

.bookmark-button.liked {
    color: #4361ee;
    /* cor azul quando salvo */
}

.pi.pi-spinner {
    font-size: 1.25rem;
    color: #4361ee;
}

.separator {
    width: 1px;
    height: 20px;
    background-color: #ccc;
}