<div class="container" style="margin-top: 70px;">
      
    <div style="display:inline;">
        <h1 class="title">Reposiório de questões</h1>
    </div>

    <p class="title-description">
        Central de perguntas categorizadas por disciplinas e tópicos, usada para gerar quizzes e torneios.
    </p>

    <div class="flex">
        <div>
            <span class="pagination-info ml-auto"> Mostrando {{ totalRegistros }} dos {{ totalQuestions }}</span>
        </div>
        <div class="input-group">
            <div class="input-container">
                <i class="pi pi-search input-icon"></i> <!-- Ícone de pesquisa -->
                <input type="text" id="input" class="transparent-input" [(ngModel)]="filtro.searchParam"  (ngModelChange)="findAll()" placeholder="Pesquisa">
            </div>
            <div class="dropdown-container" style="margin-left: 4px;">
                <button class="dropdown-btn" (click)="isDropdownOpen = !isDropdownOpen"><i class="pi pi-ellipsis-v"></i></button>
                <div class="dropdown" *ngIf="isDropdownOpen">
                    <a (click)="onFilter(); isDropdownOpen = !isDropdownOpen">Filtrar</a>
                    <a (click)="onAddNewQuestion(); isDropdownOpen = !isDropdownOpen">Adicionar</a>
                </div>
            </div>
        </div>
    </div>

    <table class="card-table">
        <tbody>
            <tr *ngFor="let question of questions">
                <td>
                    <div class="card">
                        <div class="card-content">
                            <div class="content">

                                <p class="title">{{ question.topic.name }}</p>
                                <p class="details">{{ question.topic.subject.name }}</p>
                                
                                <!-- Renderiza o texto da questão como expressão matemática -->
                                <p *ngIf="question.text">
                                    \[{{ question.text }}\]
                                </p>   

                            </div>
                            <div class="dropdown-container">
                                <button class="dropdown-btn" (click)="toggleDropdown(question)"><i class="pi pi-ellipsis-v"></i></button>
                                <div class="dropdown" *ngIf="question.isAdminMenuOpen">
                                    <a (click)="onUpdateQuestion(question); closeDropdown(question)">Editar</a>
                                    <a (click)="confirmarExclusao(question); closeDropdown(question)" >Eliminar</a>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="btn btn-primary" [routerLink]="['/questions', question.questionId]">Ver</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Indicador de carregamento -->
            <tr *ngIf="showLoading">
                <td>
                    <div class="card">
                        <div class="loading-indicator">
                            <i class="pi pi-spin pi-spinner" style="font-size: 0.8rem;"></i>&nbsp;&nbsp;
                            Carregando...
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Mensagem "Nenhum item encontrado" -->
            <tr *ngIf="!showLoading && questions.length === 0">
                <td>
                    <div class="card">
                        <span class="no-items-message">
                            Nenhum item encontrado
                        </span>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="pagination-controls">
        <span class="pagination-info mr-auto"></span>

        <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1 || showLoading">
            <i class="pi pi-chevron-left"></i> Anterior
        </button>
        <span class="pagination-info">Página {{ currentPage }} de {{ totalPages() }}</span>
        <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages() || showLoading">
            Próximo <i class="pi pi-chevron-right"></i>
        </button>
        <select class="select-itens-por-pagina" (change)="changePageSize($event)">
            <option *ngFor="let option of opcoesItensPorPagina" [value]="option" [selected]="option === filtro.itemsPerPage">
                {{ option }}
            </option>
        </select>
    </div>
    
</div>

<!-- Modal para Adicionar ou Editar Perguntas -->
<div class="overlay" *ngIf="displayModalSave">
    <div class="dialog">

        <div class="dialog-header">
            <h2>{{ editing ? 'Editando Exame' : 'Adicionando Novo Exame' }}</h2>
            <button class="close-btn" (click)="displayModalSave = false">&times;</button>
        </div>
      
        <hr class="header-divider">

        <form autocomplete="off" #questionForm="ngForm" (ngSubmit)="save(questionForm)">
            <div class="form-group">
                <label>Texto da pergunta</label>
                <input type="text" 
                       id="questionText" 
                       name="text" 
                       ngModel 
                       required 
                       minlength="1" 
                       [(ngModel)]="question.text" />
            </div>

            <div class="form-group">
                <label for="subject">Disciplina</label>
                <select id="subject" name="subject" [(ngModel)]="question.topic.subject.id" [(ngModel)]="selectedSubject" (change)="getTopicsBySubjectId()" required>
                  <option value="" disabled selected>Selecione a subject</option>
                  <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="course">Tópico</label>
                <select id="course" name="course" [(ngModel)]="question.topic.id" [disabled]="!selectedSubject"
                    required>
                    <option value="" disabled selected>Selecione o curso</option>
                    <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Imagem da Pergunta</label>
                <input 
                    (change)="onUpdateQuestionImage(question, $event)" 
                    type="file" 
                    class="upload-input" 
                    accept="image/*">
            </div>

            <div class="answers-container">
                <div class="header-section">
                    <label>Respostas</label>
                    <a href="javascript:;" class="add-btn" (click)="getReadyNewAnswer()">
                        <i class="pi pi-plus"></i> 
                    </a>
                </div>

                <div class="table-container">
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Texto</th>
                                <th>É a correta?</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let answer of question.answers; let rowIndex = index">
                                <td>{{ answer.text }}</td>
                                <td>{{ answer.correct ? 'Sim' : 'Não' }}</td>
                                <td class="actions">
                                    <a href="javascript:;" (click)="getReadyAnswerEdit(answer, rowIndex)" class="edit-btn">E</a>
                                    <a href="javascript:;" (click)="onRemoveAnswer(rowIndex)" class="remove-btn">R</a>
                                </td>
                            </tr>
                            <tr *ngIf="question.answers.length === 0">
                                <td colspan="3" class="text-center">Sem respostas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>

            <div class="form-group">
                <label>Resposta Correta</label>
                <select [(ngModel)]="correctAnswer" name="correctAnswer" required>
                    <option *ngFor="let answer of question.answers" [value]="answer.text">
                        {{ answer.text }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="solution">Solução</label>
                <textarea id="solution" name="solution" ngModel #solution="ngModel" required minlength="1" 
                    [(ngModel)]="question.solution" rows="4"></textarea>
            </div>
            
            <hr class="header-divider">

            <div class="dialog-footer">

                <button type="submit" [disabled]="questionForm.invalid" class="btn">
                    {{ showLoading ? 'Loading...' :'Salvar' }}
                </button>      
            </div>
        </form>
    </div>
</div>

<div class="overlay" *ngIf="showAnswerForm && answer">
    <div class="dialog" style="width: 600px;">
        <div class="dialog-header">
            <h2>{{editingAnswer ? 'Editando' : 'Novo'}}</h2>
            <button class="close-btn" (click)="showAnswerForm = false">&times;</button>
        </div>
    
        <hr class="header-divider">
  
        <form autocomplete="off" #frmAnswer="ngForm" (ngSubmit)="confirmAnswer(frmAnswer)">
            <div class="form-group">
                <label>Designation</label>
                <textarea id="designation" name="designation" ngModel #designation="ngModel" required minlength="1" 
                    [(ngModel)]="answer.text" rows="4"></textarea> 
            </div>     

            <hr class="header-divider">

            <div class="dialog-footer">
                <button class="btn" [disabled]="frmAnswer.invalid">Confirmar</button>
            </div>

        </form>
    </div>
</div>

<div class="overlay" *ngIf="displayModalFilter" >
    <div class="dialog" style="width: 400px">

        <div class="dialog-header">
            <h2>Filtros</h2>
            <button class="close-btn" (click)="displayModalFilter = false">&times;</button>
        </div>
        
        <hr class="header-divider">
  
        <form autocomplete="off" #exameForm="ngForm">

            <div class="form-group">
                <label for="subject">Disciplina</label>
                <select id="subject" name="subject" [(ngModel)]="filtro.subject" [(ngModel)]="selectedSubject" (change)="getTopicsBySubjectId()" (change)="findAll()" required>
                <option value="" disabled selected>Selecione a subject</option>
                <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="course">Tópico</label>
                <select id="course" name="course" [(ngModel)]="filtro.topic" [disabled]="!selectedSubject" (change)="findAll()" required>
                    <option value="" disabled selected>Selecione o curso</option>
                    <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="text">Descrição</label>
                <input type="text" name="text" ngModel #text="ngModel" minlength="1"
                [(ngModel)]="filtro.text" (ngModelChange)="findAll()">
            </div>
    
            <hr class="header-divider">

            <div class="dialog-footer">
              <button type="button" (click)="limparCampos()" class="btn">Reset</button>
            </div>
  
        </form>
    </div>
</div>
