main {
  position: relative;
  top: 5.4rem;
}

.autor-span {
  font-size: 0.5rem;
  background-color: hsl(260, 3%, 40%);
  color: white;
  padding: 0.5px 8px;
  border-radius: 2rem;
  margin-left: 2px;
}

/* post.component.css */

.comments .comment-box {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  margin: 0.7rem;
}

.comment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-content p {
  padding: 0px 0px 0px 30px;
  border-radius: 10px;
  margin: 5px 0;
}

.comment-content a {
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.7rem;
}

.replies {
  margin-left: 20px;
}

.reply-form {
  margin-left: 20px;
}

.comment-box.reply {
  background-color: #e0e0e0;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

form {
  margin-bottom: 10px;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.user-info .user-name {
  font-size: 10px;
  font-weight: bold;
}

.upload-loading-container {
  background-color: #dcdcdc;
  color: var(--color-black);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.upload-loading-text {
  font-weight: bold;
  margin-left: 10px;
}

.dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dialog-content {
  overflow-y: auto;
  flex-grow: 1;
}

.dialog-content ul {
  list-style: none;
  padding: 0;
}

.dialog-content li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.dialog-content li:last-child {
  border-bottom: none;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


.close-button {
  background-color: transparent;
  color: var(--color-black);
  padding: 3px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
}

/*Card de perfil do user logado*/
.profile-card {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  background-color: #fff;
  display: block;
  margin-bottom: 10rem;
}


/* Esconde o card em dispositivos com largura de tela menor que 768px */
@media (max-width: 768px) {
  .profile-card {
    display: none;
  }
}

.cover-photo img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.profile-info {
  padding: 10px;
  text-align: center;
  position: relative;
}

.profile-photo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

h2 {
  margin: 60px 0 5px;
  font-size: 18px;
}

p {
  color: #666;
  font-size: 14px;
}

.info-section {
  margin-top: 10px;
}

.friends-info,
.saved-items-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--color-black);
  cursor: pointer;
}

.icon-liked {
  color: #ee0e21;
}

/*Group post*/
.group-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.group-pic-wrapper {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.group-pic {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.user-pic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border: 2px solid #fff;
}

.group-details {
  display: flex;
  flex-direction: column;
}

.group-name {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-black);
  text-decoration: none;
}

.post-author-info {
  font-size: 0.8rem;
  color: #606770;
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 0.7rem;
  font-weight: bold;
  color: #606770;
  text-decoration: none;
}

.bullet {
  margin: 0 5px;
}

.post-time {
  color: #606770;
}

.edit {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.join-group {
  color: blue;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.join-group:hover {
  text-decoration: underline;
}
