main{
    position: relative;
    top: 5.4rem;
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    position: relative;
    background-color: var(--color-light);
    color: black;
    font-size: 0.9em;
    text-align: center;
    width: 3em;
    padding: 1em 1;
    border-radius: 0.1em;
    margin: 0 auto 0em auto;
    cursor: pointer;
    margin-right: 1em;
}


