<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

<main>
  <div class="container">
    <div class="left">

      <!--
      <div class="sidebar">
        <a class="menu-item active">
          <span><i class="pi pi-home"></i></span>
          <h3>Home</h3>
        </a>

        <a class="menu-item ">
          <span><i class="pi pi-user"></i></span>
          <h3>Explicadores</h3>
        </a>

        <a style="color: hsl(252, 30%, 17%);" class="menu-item " routerLink="/saved-feed">
          <span><i class="pi pi-bookmark-fill"></i></span>
          <h3>Guardados</h3>
        </a>
      </div>
      -->

      <div class="profile-card">
        <div class="cover-photo">
          <img src="{{loggedUser.profileCoverImageUrl}}" alt="Cover Photo">
        </div>
        <div class="profile-info">
          <div class="profile-photo">
            <img src="{{loggedUser.profileImageUrl}}" alt="Profile Photo">
          </div>
          <h2 class="user-name-hover" [routerLink]="['/user/profile', loggedUser.userId]">{{ loggedUser.firstName }} {{
            loggedUser.lastName }}</h2>
          <p class="text-muted" style="font-size: 0.7rem;">{{ loggedUser.bio }}</p>


          <hr style="margin-top: 1rem; margin-bottom: 1rem;">

          <div class="info-section">
            <div class="friends-info">
              <span>Total</span>
              <span class="friends-count">123</span>
            </div>
            <div class="saved-items-info" routerLink="/saved-feed">
              <span>Itens Guardados</span>
              <span class="saved-items-count">45</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="middle">

      <form class="create-post" style="border: 1px solid #dcdcdc" #newPostForm="ngForm"
        (ngSubmit)="addPost(newPostForm)">
        <div class="profile-pic" [routerLink]="['/user/profile', loggedUser.userId]">
          <img src="{{loggedUser.profileImageUrl}}" alt="photo">
        </div>
        <input (click)="onAddNewPost()" style="margin-left: 10px; cursor: pointer;" type="text"
          placeholder="Start the post" id="create-post" name="text" [(ngModel)]="post.text">
        <!--
        <div class="">
          <input type="file" id="upload-button" multiple accept="/*" name="postImage"
            (change)="onPostImageChange($event, $event)" />
          <label for="upload-button">
            <i></i>file
          </label>
        </div>
        -->
      </form>

      <div *ngIf="showAddPostLoading" class="upload-loading-container">
        <i class="pi pi-spin pi-spinner-dotted"></i>
        <p class="upload-loading-text">Adicionando seu post...</p>
      </div>

      <div *ngIf="showLoading" class="upload-loading-container">
        <i class="pi pi-spin pi-spinner-dotted"></i>
        <p class="upload-loading-text">Carregando o feed...</p>
      </div>

      <div class="feeds">
        <div class="feed" *ngFor="let feed of feeds">

          <div class="user" style="display: flex; align-items: center; margin: 0.7rem;">
            <div class="profile-pic" [routerLink]="['/user/profile', feed.user.userId]">
              <img src="{{feed.user.profileImageUrl}}" alt="photo">
            </div>
            <div class="info" style="flex: 1;">
              <a style="color: hsl(252, 30%, 10%); cursor: pointer;" [routerLink]="['/user/profile', feed.user.userId]">
                <h3 class="user-name-hover">{{feed.user.firstName}} {{feed.user.lastName}}</h3>
              </a>
              <small class="text-muted">{{timeElapsed(feed.date.toString())}}</small>
              <span *ngIf="feed.group" style="padding: 10px;"><i class="pi pi-share-alt" style="font-size: 0.8rem"></i></span>
              <small *ngIf="feed.group" style="font-weight: bold;">apartir do grupo: {{feed.group.name}}</small>
              <small *ngIf="feed.group" style="font-weight: bold; margin-left: 10px; color: #007bff;">aderir</small>


            </div>
            <span class="edit" (click)="closePost(feed)" style="cursor: pointer;"><i class="pi pi-times"
                style="font-size: 0.8rem"></i></span>
          </div>

          <hr style="margin-top: 5px;">

          <div style="margin: 0.7rem">{{feed.text}}</div>

          <div class="photo" *ngIf="isImageUrl(feed.urlFile)">
            <img src="{{feed.urlFile}}" alt="">
          </div>
          <video class="video" *ngIf="isVideoUrl(feed.urlFile)" controls>
            <source src="{{feed.urlFile}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;">
            <span *ngIf="feed.numberOfLikes == 0">Sem gostos</span>
            <span style="cursor: pointer;" (click)="onShowPostLikes(feed)" *ngIf="feed.numberOfLikes == 1">1
              gosto</span>
            <span style="cursor: pointer;" (click)="onShowPostLikes(feed)" *ngIf="feed.numberOfLikes > 1">{{
              feed.numberOfLikes }} gostos</span>
          </a>

          <span class="text-muted" style="font-size: 0.7rem;">|</span>

          <a class="text-muted" style="font-size: 0.7rem; margin: 0.7rem;"> <!--(click)="toggleComments(feed)"-->
            <span *ngIf="feed.numberOfComments == 0">Sem comentários</span>
            <span style="cursor: pointer;" *ngIf="feed.numberOfComments == 1" (click)="onShowPostComments(feed)">1
              comentário</span>
            <span style="cursor: pointer;" *ngIf="feed.numberOfComments > 1" (click)="onShowPostComments(feed)">{{
              feed.numberOfComments }} comentários</span>
          </a>

          <hr style="margin-top: 0.5rem;">

          <div class="action-button">
            <div class="interaction-button">
              <a style="cursor: pointer;" (click)="toggleLike(feed)">
                <i class="pi" [ngClass]="{'pi-thumbs-up-fill': feed.isLiked, 'pi-thumbs-up': !feed.isLiked}"
                  style="font-size: 1.1rem;" [style.color]="feed.isLiked ? '#3734ed' : ''"></i>
              </a>
              <a style="cursor: pointer; margin-left: 0.7rem;" (click)="toggleShowInputComment(feed)">
                <i class="pi pi-comment" style="font-size: 1.1rem;"></i>
              </a>

              <!--<i class="uil uil-share"></i>-->
            </div>
            <div>
              <a *ngIf="feed.isSaved" (click)="onRemovePost(feed)" style="cursor: pointer;"><i
                  class="pi pi-bookmark-fill"></i></a>
              <a *ngIf="!feed.isSaved" (click)="addPostToSavedPosts(feed)" style="cursor: pointer;"><i
                  class="pi pi-bookmark"></i></a>

            </div>
          </div>

          <div class="liked-by">
            <!-- Seção de likes, se necessário -->
          </div>

          <form *ngIf="feed.showInputComment" class="create-post" #commentForm="ngForm"
            (ngSubmit)="createComment(feed, null, commentForm.value.comment)">
            <div class="profile-pic" [routerLink]="['/user/profile', loggedUser.userId]">
              <img src="{{loggedUser.profileImageUrl}}" alt="photo">
            </div>
            <input type="text" ngModel required name="comment"
              style="height: 30px; background-color: #fff; border-radius: 10px; margin-left: 10px;"
              placeholder="Add your comment here">
            <div>
              <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary"
                style="padding: 0.4rem 1rem;">Publicar</button>
            </div>

          </form>

          <div class="comments" *ngIf="feed.showComments">
            <div *ngFor="let comment of feed.comments" class="comment-box">

              <div class="comment">

                <div class="comment-content">
                  <div class="user-comment">
                    <div class="user-info" [routerLink]="['/user/profile', comment.user.userId]">
                      <img src="{{comment.user.profileImageUrl}}" alt="photo">
                      <span class="user-name user-name-hover">{{comment.user.firstName}}
                        {{comment.user.lastName}}</span>
                        <!--
                        <span *ngIf="verificarAutor(feed.user.id, comment.user.id)" class="autor-span">
                        {{ verificarAutor(feed.user.id, comment.user.id) }}
                        </span>
                      -->
                    </div>

                    <p>
                      {{comment.content}}
                    </p>
                    <a (click)="toggleLikeComment(comment)"
                      [ngStyle]="{'color': comment.isLiked ? '#3734ed' : 'hsl(252, 30%, 17%)'}" style="margin-left: 30px;">
                      Gostei
                    </a>

                    <a *ngIf="comment.numberOfLikes > 0"
                      >{{comment.numberOfLikes}}
                      gostos</a>

                    <a (click)="toggleReplyForm(comment)">Responder</a>
                  </div>
                </div>

                <form class="create-post" #replyCommentForm="ngForm"
                  (ngSubmit)="createReplyComment(feed, comment.id, replyCommentForm.value.replyComment)"
                  *ngIf="comment.showReplyForm">
                  <div class="profile-pic" [routerLink]="['/user/profile', loggedUser.userId]">
                    <img src="{{loggedUser.profileImageUrl}}" alt="photo">
                  </div>
                  <input type="text" ngModel required name="replyComment"
                    style="height: 30px; background-color: #fff; border-radius: 10px; margin-left: 10px;"
                    placeholder="Add your comment here">
                  <div>
                    <button [disabled]="replyCommentForm.invalid" type="submit" class="btn btn-primary"
                      style="padding: 0.4rem 1rem;">responder</button>
                  </div>
                </form>

                <div class="replies">
                  <div *ngFor="let reply of comment.replies" class="comment-box reply">

                    <div class="comment">

                      <div class="comment-content">
                        <div class="user-comment">
                          <div class="user-info" [routerLink]="['/user/profile', reply.user.userId]">
                            <img src="{{reply.user.profileImageUrl}}" alt="photo">
                            <span class="user-name user-name-hover">{{reply.user.firstName}}
                              {{reply.user.lastName}}</span>
                            <!-- 
                            <span *ngIf="verificarAutor(feed.user.id, reply.user.id)" class="autor-span">
                              {{ verificarAutor(feed.user.id, reply.user.id) }}
                            </span>
                            -->
                          </div>

                          <p>
                            {{reply.content}}
                          </p>

                          <a (click)="toggleLikeComment(reply)"
                            [ngStyle]="{'color': reply.isLiked ? '#3734ed' : 'hsl(252, 30%, 17%)'}" style="margin-left: 30px;">
                            Gostei
                          </a>

                          <a *ngIf="reply.numberOfLikes > 0"
                            style="text-decoration: none; margin-right: 10px; cursor: pointer; font-size: 0.7rem;">{{reply.numberOfLikes}}
                            gostos</a>

                          <a (click)="toggleReplyForm(reply)">Responder</a>
                        </div>
                      </div>

                      <form class="create-post" #replyCommentForm_2="ngForm"
                        (ngSubmit)="createReplyComment(feed, reply.id, replyCommentForm_2.value.replyComment_2)"
                        *ngIf="reply.showReplyForm">
                        <div class="profile-pic" [routerLink]="['/user/profile', loggedUser.userId]">
                          <img src="{{loggedUser.profileImageUrl}}" alt="photo">
                        </div>
                        <input type="text" ngModel required name="replyComment_2"
                          style="height: 30px; background-color: #fff; border-radius: 10px; margin-left: 10px;"
                          placeholder="Add your comment here">

                        <div>
                          <button [disabled]="replyCommentForm_2.invalid" type="submit" class="btn btn-primary"
                            style="padding: 0.4rem 1rem;">responder</button>
                        </div>
                      </form>

                      <div class="replies">
                        <div *ngFor="let reply2 of reply.replies" class="comment-box reply">

                          <div class="comment">

                            <div class="comment-content">
                              <div class="user-comment">
                                <div class="user-info" [routerLink]="['/user/profile', reply2.user.userId]">
                                  <img src="{{reply2.user.profileImageUrl}}" alt="photo">
                                  <span class="user-name user-name-hover">{{reply2.user.firstName}}
                                    {{reply2.user.lastName}}</span>
                                  <!--
                                  <span *ngIf="verificarAutor(feed.user.id, reply2.user.id)" class="autor-span">
                                    {{ verificarAutor(feed.user.id, reply2.user.id) }}
                                  </span>
                                  -->
                                </div>

                                <p>
                                  {{reply2.content}}
                                </p>

                                <a (click)="toggleLikeComment(reply2)"
                                  [ngStyle]="{'color': reply2.isLiked ? '#3734ed' : 'hsl(252, 30%, 17%)'}" style="margin-left: 30px;">
                                  Gostei
                                </a>

                                <a *ngIf="reply2.numberOfLikes > 0"
                                  style="text-decoration: none; margin-right: 10px; cursor: pointer; font-size: 0.7rem;">{{reply2.numberOfLikes}} gostos</a>
                              </div>
                            </div>

                            <div class="replies">
                              <!-- Further nesting of replies if needed -->
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a style="cursor: pointer; margin: 0.7rem;" (click)="loadMoreCommentsByPostId(feed)">ver mais
              comentários
            </a>

            <span>|</span>

            <a *ngIf="feed.showComments" (click)="onClosePostComments(feed)" style="cursor: pointer; margin: 0.7rem;">
              fechar comentários
            </a>

          </div>
        </div>
      </div>

      <div (click)="loadMore()" class="upload-loading-container"
        style="cursor: pointer; margin-bottom: 80px; border: 1px solid #ccc;">
        <p class="upload-loading-text">carregar mais</p>
      </div>

    </div>

    <div class="right">

      <div class="messages">
        <h4>Requests</h4>
        <div class="request">
          <div class="info">
            <div class="profile-pic" [routerLink]="['/user/profile', loggedUser.userId]">
              <a href="javascript:;"><img src="{{loggedUser.profileImageUrl}}"></a>
            </div>
            <div>
              <h5 class="user-name-hover" [routerLink]="['/user/profile', loggedUser.userId]">{{loggedUser.firstName}}
                {{loggedUser.lastName}}</h5>
              <p class="text-muted">8 mutual friends</p>
            </div>
          </div>
          <div class="action">
            <button class="btn btn-primary">Accept</button>
            <button class="btn">Decline</button>
          </div>
        </div>

      </div>

      <br>

      <div class="messages">
        <div class="heading">
          <h4>Usuários</h4>
        </div>

        <div class="message" *ngFor="let user of users">
          <div class="profile-pic" *ngIf="user.id !== loggedUser.id"> <!--Dont show the current user in list-->
            <a href="javascript:;" style="cursor: pointer;"><img src="{{user.profileImageUrl}}"
                [routerLink]="['/user/profile', user.userId]"></a>
            <div class="active"></div>
          </div>
          <div class="message-body" *ngIf="user.id !== loggedUser.id">
            <h5 class="user-name-hover" [routerLink]="['/user/profile', user.userId]">{{user.firstName}}
              {{user.lastName}}</h5>
            <p>
              <a class="text-muted" (click)="sendFriendRequest(user)" href="javascript:;"> 8 mutual friends</a>
            </p>
          </div>
        </div>
        <a style="font-size: 0.7rem; cursor: pointer;">
          <span (click)="loadMoreUsers()">mostrar mais explicadores</span>
        </a>

      </div>

    </div>

  </div>
</main>

<!-- confirm dialog -->
<div class="dialog-overlay" *ngIf="showConfirmDialog">
  <div class="dialog">
    <div class="dialog-header">
      <h4>Deseja remover o post da sua lista guardados</h4>
      <button class="close-button" (click)="closeConfirmDialog()">x</button>
    </div>
    <div class="dialog-content">
      <ng-content></ng-content>
    </div>
    <div class="dialog-footer">
      <button (click)="confirmDialog(selectedPost)">Confirmar</button>
      <button (click)="closeConfirmDialog()">Cancelar</button>
    </div>
  </div>
</div>


<!-- like-dialog.component.html -->
<div class="dialog-overlay" *ngIf="showPostLikesDialog">
  <div class="dialog">
    <div class="dialog-header">
      <h4>Pessoas que reagiram</h4>
      <button class="close-button" (click)="onClosePostLikes()">x</button>
    </div>
    <div class="dialog-content">
      <ul>
        <li *ngFor="let like of likes">
          <div class="user-info">
            <img src="{{like.user.profileImageUrl}}" alt="photo">
            <span class="user-name">{{like.user.firstName}} {{like.user.lastName}}</span>
          </div>
        </li>
      </ul>
    </div>
    <a style="cursor: pointer;" (click)="findLikesByPostId(selectedPost)">ver todos mais</a>
  </div>
</div>

<!-- New Post Dialog -->
<div class="overlay" *ngIf="showNewPostDialog">
  <div class="post-dialog">
    <button class="close-button-create-post" (click)="onCloseNewPost()">
      <span>&times;</span>
    </button>
    <div class="post-form">
      <h2>Criar Post</h2>
      <form action="#" #newPostForm="ngForm" (ngSubmit)="addPost(newPostForm)">

        <div class="user-info">
          <img src="{{loggedUser.profileImageUrl}}" alt="photo">
          <span class="user-name">{{loggedUser.firstName}} {{loggedUser.lastName}}</span>
        </div>

        <textarea style="margin-top: 10px;" type="text" id="create-post" name="text" [(ngModel)]="post.text"
          placeholder="Digite seu texto aqui..." required></textarea>

        <input type="file" id="upload-button" multiple accept="/*" name="postImage"
          (change)="onPostImageChange($event, $event)" />

        <br>
        <div *ngIf="showAddPostLoading" class="upload-loading-container">
          <i class="pi pi-spin pi-spinner-dotted"></i>
          <p class="upload-loading-text">Adicionando seu post...</p>
        </div>
        <button type="submit" class="btn btn-primary">Publicar</button>
      </form>
    </div>
  </div>
</div>