main {
  position: relative;
  top: 5.4rem;
}

.autor-span {
  font-size: 0.5rem;
  background-color: hsl(260, 3%, 40%);
  color: white;
  padding: 0.5px 8px;
  border-radius: 2rem;
  margin-left: 2px;
}

/* post.component.css */

.comments .comment-box {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  margin: 0.7rem;
}

.comment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-content p {
  padding: 0px 0px 0px 30px;
  border-radius: 10px;
  margin: 5px 0;
}

.comment-content a {
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.7rem;
}

.replies {
  margin-left: 20px;
}

.reply-form {
  margin-left: 20px;
}

.comment-box.reply {
  background-color: #e0e0e0;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

form {
  margin-bottom: 10px;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.user-info .user-name {
  font-size: 10px;
  font-weight: bold;
}

.upload-loading-container {
  background-color: #dcdcdc;
  color: var(--color-black);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.upload-loading-text {
  font-weight: bold;
  margin-left: 10px;
}

.dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dialog-content {
  overflow-y: auto;
  flex-grow: 1;
}

.dialog-content ul {
  list-style: none;
  padding: 0;
}

.dialog-content li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.dialog-content li:last-child {
  border-bottom: none;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


.close-button {
  background-color: transparent;
  color: var(--color-black);
  padding: 3px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
}

/*Card de perfil do user logado*/
.profile-card {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  background-color: #fff;
  display: block;
  margin-bottom: 10rem;
}

.cover-photo img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.profile-info {
  padding: 10px;
  text-align: center;
  position: relative;
}

.profile-photo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}

h2 {
  margin: 60px 0 5px;
  font-size: 18px;
  color: var(--color-black);
  font-weight: 600;
  position: relative;
}

p {
  color: #666;
  font-size: 14px;
}

.info-section {
  margin-top: 0px;
}

.user-info-section {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 0.7rem 5px 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-info-section:hover {
  background-color: #f0f0f0;
  color: #333;
}

.icon-liked {
  color: var(--color-primary);
}

/*Group post*/
.group-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.group-pic-wrapper {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.group-pic {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.user-pic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border: 2px solid #fff;
}

.group-details {
  display: flex;
  flex-direction: column;
}

.group-name {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-black);
  text-decoration: none;
}

.post-author-info {
  font-size: 0.8rem;
  color: #606770;
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 0.7rem;
  font-weight: bold;
  color: #606770;
  text-decoration: none;
}

.bullet {
  margin: 0 5px;
}

.post-time {
  color: #606770;
}

.edit {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.join-group {
  color: blue;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.join-group:hover {
  text-decoration: underline;
}

/* Links */
.link-card {
  width: 100%;
  /* Ocupa toda a largura do container pai */
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: var(--card-padding);
  position: sticky;
  top: 67px;
}

.link-card h3 {
  margin-bottom: 15px;
  font-size: 15px;
  color: var(--color-black);
  font-weight: 600;
}

.link-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-card li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.link-card a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* Transição suave para a cor de fundo */
  width: 100%;
}

.link-card a:hover {
  background-color: #f0f0f0;
  /* Cor cinza no hover */
  color: #333;
}

.link-card i {
  font-size: 1.2em;
  color: #4A90E2;
  margin-right: 10px;
}

/* Esconde o card em dispositivos com largura de tela menor que 768px */
@media (max-width: 768px) {
  .profile-card {
    display: none;
  }
}




.options-container {
  margin-top: 6px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-section label {
  font-weight: bold;
  font-size: 1.2em;
}

.add-new {
  padding: 8px 15px;
  background-color: var(--color-primary);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-new:hover {
  opacity: 0.8;
}

.options-table {
  width: 100%;
}

.options-table th {
  background-color: #f4f6f6;
  text-align: left;
  padding: 10px;
}

.options-table td {
  padding: 10px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.actions a:hover {
  color: #fff;
}

.edit-btn i,
.remove-btn i {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

.p-datatable-sm {
  font-size: 0.9rem;
}

/* Table */
.table-container {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.responsive-table thead {
  background-color: var(--color-primary);
  color: white;
}

.responsive-table th,
.responsive-table td {
  padding: 8px;
  /* Menor padding */
  text-align: left;
  font-size: 14px;
  /* Tamanho da fonte menor */
}

.responsive-table tbody tr {
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.responsive-table tbody tr:hover {
  background-color: #f1f1f1;
}

.responsive-table td {
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: flex-end;
  /* Alinha os botões à direita */
  gap: 5px;
  /* Menor espaço entre os botões */
}

.actions-header {
  text-align: right;
  /* Alinha o cabeçalho de ações à direita */
}

.edit-btn,
.remove-btn {
  text-decoration: none;
  padding: 4px 8px;
  /* Botões menores */
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  /* Tamanho da fonte dos botões menor */
  border: none;
  /* Sem borda */
  cursor: pointer;
  /* Cursor em forma de mão */
}

.edit-btn {
  background-color: #2196F3;
}

.remove-btn {
  background-color: #F44336;
}

.edit-btn:hover {
  background-color: #0b7dda;
}

.remove-btn:hover {
  background-color: #da190b;
}

.text-center {
  text-align: center;
  font-weight: bold;
  color: #555;
  font-size: 14px;
  /* Tamanho da fonte da mensagem menor */
}

.answer-options {
  margin-bottom: 15px;
}

.answer-options label {
  display: block;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.answer-options input[type="radio"] {
  margin-right: 10px;
}

.answer-options label:hover {
  background-color: #e7f3ff;
  border-color: #4a90e2;
}

.answer-options label.correct-answer {
  background-color: #d4edda;
  border-color: #28a745;
  color: #155724;
}

.answer-options label.incorrect-answer {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}