<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />

<main>
  <div class="container">
    <div class="left">
      <div class="sidebar">
        <a class="menu-item active">
          <span><i class="uil uil-home"></i></span>
          <h3>Home</h3>
        </a>

        <a class="menu-item ">
          <span><i class="uil uil-setting"></i></span>
          <h3>Explicadores</h3>
        </a>

        <a style="color: hsl(252, 30%, 17%);" class="menu-item " routerLink="/saved-feed">
          <span><i class="uil uil-setting"></i></span>
          <h3>Guardados</h3>
        </a>
      </div>
    </div>

    <div class="middle">

      <form class="create-post" #newPostForm="ngForm" (ngSubmit)="onAddPost(newPostForm)">
        <div class="profile-pic">
          <img src="{{loggedUser.profileImageUrl}}" alt="">
        </div>
        <input style="margin-left: 10px;" type="text" placeholder="Start the post" id="create-post" name="text"
          [(ngModel)]="post.text">
        <div class="">
          <input type="file" id="upload-button" multiple accept="/*" name="postImage"
            (change)="onPostImageChange($event, $event)" />
          <label for="upload-button">
            <i></i>file
          </label>
        </div>
      </form>

      <div *ngIf="showAddPostLoading" class="upload-loading-container">
        <i class="pi pi-spin pi-spinner-dotted"></i>
        <p class="upload-loading-text">Adicionando seu post...</p>
      </div>

      <div *ngIf="showLoading" class="upload-loading-container">
        <i class="pi pi-spin pi-spinner-dotted"></i>
        <p class="upload-loading-text">Carregando o feed...</p>
      </div>

      <div class="feeds">
        <div class="feed" *ngFor="let feed of feeds">

          <div class="user" style="display: flex; align-items: center;">
            <div class="profile-pic" style="cursor: pointer">
              <img src="{{feed.user.profileImageUrl}}" alt="">
            </div>
            <div class="info" style="flex: 1;">
              <a style="color: hsl(252, 30%, 10%); cursor: pointer;">
                <h3>{{feed.user.firstName}} {{feed.user.lastName}}</h3>
              </a>
              <small>{{timeElapsed(feed.date.toString())}}</small>
            </div>
            <span class="edit" (click)="closePost(feed)" style="cursor: pointer;"><i class="pi pi-times"
                style="font-size: 0.8rem"></i></span>
          </div>

          <hr style="margin-top: 5px;">

          <div style="margin-top: 1em;">{{feed.text}}</div>

          <div class="photo" *ngIf="isImageUrl(feed.urlFile)">
            <img src="{{feed.urlFile}}" alt="">
          </div>
          <video class="video" *ngIf="isVideoUrl(feed.urlFile)" controls>
            <source src="{{feed.urlFile}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <a style="font-size: 0.7rem; cursor: pointer;">
            <span *ngIf="feed.numberOfLikes == 0">Sem gostos</span>
            <span *ngIf="feed.numberOfLikes == 1">1 gosto</span>
            <span *ngIf="feed.numberOfLikes > 1">{{ feed.numberOfLikes }} gostos</span>
          </a>

          <span style="font-size: 0.7rem; margin-right: 15px; margin-left: 15px;">|</span>

          <a style="font-size: 0.7rem; cursor: pointer;" (click)="toggleComments(feed)">
            <span *ngIf="feed.numberOfComments == 0">Sem comentários</span>
            <span *ngIf="feed.numberOfComments == 1">1 comentário</span>
            <span *ngIf="feed.numberOfComments > 1">{{ feed.numberOfComments }} comentários</span>
          </a>

          <div class="action-button">
            <div class="interaction-button">
              <a style="cursor: pointer;" (click)="toggleLike(feed)">
                <i class="pi" [ngClass]="{'pi-thumbs-up-fill': feed.isLiked, 'pi-thumbs-up': !feed.isLiked}"
                  style="font-size: 1.1rem;" [style.color]="feed.isLiked ? '#3734ed' : ''"></i>
              </a>
              <a style="cursor: pointer; margin-left: 0.7rem;" (click)="toggleShowInputComment(feed)">
                <i class="pi pi-comments" style="font-size: 1.1rem;"></i>
              </a>

              <!--<i class="uil uil-share"></i>-->
            </div>
            <div>
              <a *ngIf="feed.isSaved" (click)="onRemovePost(feed)" style="cursor: pointer;"><i
                  class="pi pi-bookmark-fill"></i></a>
              <a *ngIf="!feed.isSaved" (click)="addPostToSavedPosts(feed)" style="cursor: pointer;"><i
                  class="pi pi-bookmark"></i></a>

            </div>
          </div>

          <div class="liked-by">
            <!-- Seção de likes, se necessário -->
          </div>

          <hr style="margin-bottom: 1rem;">

          <form *ngIf="feed.showInputComment" class="create-post" #commentForm="ngForm"
            (ngSubmit)="createComment(feed, null, commentForm.value.comment)">
            <div class="profile-pic">
              <img src="{{loggedUser.profileImageUrl}}" alt="">
            </div>
            <input type="text" ngModel required name="comment"
              style="height: 30px; background-color: #fff; border-radius: 10px; margin-left: 10px;"
              placeholder="Add your comment here">
            <div>
              <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary"
                style="padding: 0.4rem 1rem;">Publicar</button>
            </div>

          </form>

          <div class="comments" *ngIf="feed.showComments">
            <div *ngFor="let comment of feed.comments" class="comment-box">

              <div class="comment">

                <div class="comment-content">
                  <div class="user-comment">
                    <div class="user-info">
                      <img src="{{comment.user.profileImageUrl}}" alt="User Image">
                      <span class="user-name">{{comment.user.firstName}} {{comment.user.lastName}}</span>
                    </div>

                    <p
                      style="background-color: #e4e5e8; border: 1px solid rgb(198, 197, 197); padding: 10px; border-radius: 10px; margin: 5px 0;">
                      {{comment.content}}
                    </p>

                    <a href="javascript:;"
                      style="color: hsl(252, 30%, 40%); text-decoration: none; margin-right: 10px;">Gosto</a>
                    <a href="javascript:;" (click)="toggleReplyForm(comment)"
                      style="color: hsl(252, 30%, 40%); text-decoration: none;">Responder</a>
                  </div>
                </div>

                <form class="create-post" #replyCommentForm="ngForm"
                  (ngSubmit)="createReplyComment(feed, comment.id, replyCommentForm.value.replyComment)"
                  *ngIf="comment.showReplyForm">
                  <div class="profile-pic">
                    <img src="{{loggedUser.profileImageUrl}}" alt="">
                  </div>
                  <input type="text" ngModel required name="replyComment"
                    style="height: 30px; background-color: #fff; border-radius: 10px; margin-left: 10px;"
                    placeholder="Add your comment here">
                  <div>
                    <button [disabled]="replyCommentForm.invalid" type="submit" class="btn btn-primary"
                      style="padding: 0.4rem 1rem;">responder</button>
                  </div>
                </form>

                <div class="replies">
                  <div *ngFor="let reply of comment.replies" class="comment-box reply">

                    <div class="comment">

                      <div class="comment-content">
                        <div class="user-comment">
                          <div class="user-info">
                            <img src="{{reply.user.profileImageUrl}}" alt="User Image">
                            <span class="user-name">{{reply.user.firstName}} {{reply.user.lastName}}</span>
                            <span *ngIf="verificarAutor(feed.user.id, reply.user.id)" class="autor-span">
                              {{ verificarAutor(feed.user.id, reply.user.id) }}
                            </span>
                          </div>

                          <p
                            style="background-color: #e4e5e8; border: 1px solid rgb(198, 197, 197); padding: 10px; border-radius: 10px; margin: 5px 0;">
                            {{reply.content}}
                          </p>

                          <a href="javascript:;"
                            style="color: hsl(252, 30%, 40%); text-decoration: none; margin-right: 10px;">Gosto</a>
                          <a href="javascript:;" (click)="toggleReplyForm(reply)"
                            style="color: hsl(252, 30%, 40%); text-decoration: none;">Responder</a>
                        </div>
                      </div>

                      <form class="create-post" #replyCommentForm_2="ngForm"
                        (ngSubmit)="createReplyComment(feed, reply.id, replyCommentForm_2.value.replyComment_2)"
                        *ngIf="reply.showReplyForm">
                        <div class="profile-pic">
                          <img src="{{loggedUser.profileImageUrl}}" alt="">
                        </div>
                        <input type="text" ngModel required name="replyComment_2"
                          style="height: 30px; background-color: #fff; border-radius: 10px; margin-left: 10px;"
                          placeholder="Add your comment here">

                        <div>
                          <button [disabled]="replyCommentForm_2.invalid" type="submit" class="btn btn-primary"
                            style="padding: 0.4rem 1rem;">responder</button>
                        </div>
                      </form>

                      <div class="replies">
                        <div *ngFor="let reply2 of reply.replies" class="comment-box reply">

                          <div class="comment">

                            <div class="comment-content">
                              <div class="user-comment">
                                <div class="user-info">
                                  <img src="{{reply2.user.profileImageUrl}}" alt="User Image">
                                  <span class="user-name">{{reply2.user.firstName}} {{reply2.user.lastName}}</span>
                                  <span *ngIf="verificarAutor(feed.user.id, reply2.user.id)" class="autor-span">
                                    {{ verificarAutor(feed.user.id, reply2.user.id) }}
                                  </span>
                                </div>

                                <p
                                  style="background-color: #e4e5e8; border: 1px solid rgb(198, 197, 197); padding: 10px; border-radius: 10px; margin: 5px 0;">
                                  {{reply2.content}}
                                </p>

                                <a href="javascript:;"
                                  style="color: hsl(252, 30%, 40%); text-decoration: none; margin-right: 10px;">Gosto</a>
                              </div>
                            </div>

                            <div class="replies">
                              <!-- Further nesting of replies if needed -->
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="right">

      <div class="messages">
        <h4>Requests</h4>
        <div class="request">
          <div class="info">
            <div class="profile-pic">
              <a href="javascript:;"><img src="{{imagePath}}/profile-1.jpg"></a>
            </div>
            <div>
              <a>
                <h5>fabio condo</h5>
              </a>
              <p class="text-muted">8 mutual friends</p>
            </div>
          </div>
          <div class="action">
            <button class="btn btn-primary">Accept</button>
            <button class="btn">Decline</button>
          </div>
        </div>

      </div>

      <br>

      <div class="messages">
        <div class="heading">
          <h4>Friends</h4>
        </div>

        <div class="search-bar">
          <span style="border: 1px solid #dcdcdc;"><i class="uil uil-search"></i></span>
          <input type="search" placeholder="Search Friends" id="message-search" style="border: 1px solid #dcdcdc;">
        </div>

        <div class="message">
        </div>

      </div>

      <br>


      <div class="messages">
        <div class="heading">
          <h4>Users</h4>
        </div>


      </div>

    </div>

  </div>
</main>

<!-- confirm dialog -->
<div class="dialog-overlay" *ngIf="showConfirmDialog">
  <div class="dialog">
    <div class="dialog-header">
      <h2>{{ dialogTitle }}</h2>
      <button class="close-button" (click)="closeConfirmDialog()">x</button>
    </div>
    <div class="dialog-content">
      <ng-content></ng-content>
    </div>
    <div class="dialog-footer">
      <button (click)="confirmDialog(selectedPost)">Confirmar</button>
      <button (click)="closeConfirmDialog()">Cancelar</button>
    </div>
  </div>
</div>