<div class="container" style="margin-top: 70px;">
  <!-- Tela inicial -->
  <div *ngIf="showStartScreen"  class="start-screen">
    <h2 class="quiz-title">{{ quiz.description }}</h2>
    <p class="quiz-sub-title">{{ quiz.subject.name }}</p>

    <!-- Texto explicativo sobre os tópicos -->
    <p class="topics-label">Tópicos avaliados neste quiz:</p>

    <!-- Lista de tópicos -->
    <div class="topics-list">
        <span *ngFor="let topic of quiz.selectedTopics" class="topic-item">
            {{ topic.name }}
        </span>
    </div>

    <!-- Resumo de resultados -->
    <div class="results-summary">
        <p *ngIf="quiz && quiz.questions">Número de questões: {{ quiz.questions.length }}</p>
        <p>Respostas corretas: <span class="correct">{{ result.correctAnswers }}</span></p>
        <p>Respostas incorretas: <span class="incorrect">{{ result.incorrectAnswers }}</span></p>
        <p>Respostas nulas: <span class="incorrect">{{ result.nullAnswers }}</span></p>
        <p *ngIf="quiz && quiz.questions">Sua pontuação: <span class="score">{{ (result.correctAnswers / quiz.questions.length) * 100 }}%</span></p>
    </div>

    <!-- Botão de início -->
    <button class="start-button" [disabled]="showLoading" (click)="startQuiz()">
        <i class="pi pi-play" style="margin-right: 0.5rem;"></i> Ver questões
    </button>
  </div>

  <!-- Tela do quiz (questões) -->
  <div *ngIf="!showStartScreen">
    <div *ngIf="currentQuestionIndex < quiz.questions.length">
      <div class="question-card">
        <img *ngIf="imagePath" src="{{ imagePath }}" alt="Gráfico de funções" class="question-graph" />
        <span class="question-topic">{{ quiz.questions[currentQuestionIndex].topic.subject.name }}</span>
        <h2 class="question-text">{{ quiz.questions[currentQuestionIndex].text }}</h2>

        <div class="answer-options">
          <label
            *ngFor="let answer of quiz.questions[currentQuestionIndex].answers"
            [ngClass]="{
              'correct-answer': showCorrection && answer.correct,
              'incorrect-answer': showCorrection && !answer.correct && isSelected(quiz.questions[currentQuestionIndex].id, answer.id!),
              'selected-answer': isSelected(quiz.questions[currentQuestionIndex].id, answer.id!)
            }"
          >
            <input
              type="radio"
              name="question-{{ quiz.questions[currentQuestionIndex].id }}"
              [value]="answer.id"
              [checked]="isSelected(quiz.questions[currentQuestionIndex].id, answer.id!)"
              (change)="captureUserAnswer(quiz.questions[currentQuestionIndex].id, answer.id!)"
              [disabled]="showCorrection"
            />
            <span>{{ answer.text }}</span>
          </label>
        </div>
      </div>

      <div class="navigation-buttons text-center">
        <!-- Botão para voltar à tela inicial -->
        <button class="pagination-button" (click)="showStartScreen = true" *ngIf="currentQuestionIndex === quiz.questions.length - 1">
          <i class="pi pi-home" style="margin-right: 0.5rem;"></i> Tela inicial
        </button>

        <button class="pagination-button" (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">
          <i class="pi pi-chevron-left"></i> Anterior
        </button>
        <button class="pagination-button" (click)="goToNextQuestion()" [disabled]="currentQuestionIndex === quiz.questions.length - 1">
          Próxima <i class="pi pi-chevron-right"></i>
        </button>
      </div>
    </div>

    <div *ngIf="showLoading" class="loading-indicator">Carregando...</div>
  </div>
</div>