<div class="container" style="margin-top: 70px; max-width: 900px;">
  <!-- Tela inicial -->
  <div *ngIf="showStartScreen" class="results-screen2">
    <div class="results-summary">
      <p class="title">{{ quiz.title }}</p>
      <p class="quiz-sub-title">{{ quiz.subject.name }}</p>
      <p class="quiz-sub-title">Tempo gasto: {{ quiz.timeSpent }}</p>

      <div class="button-container">
        <button class="btn-start" (click)="startQuiz()" aria-label="Iniciar Competição">Correção</button>
      </div>

      <h2 class="section-title">Resultado Geral</h2>

      <div class="statistics-container">
        <!-- Cabeçalho -->
        <div class="statistics-header">
          <h2>Resultado Geral</h2>
          <!--
            <p class="description">
              Visão abrangente sobre o desempenho do tópico {{ topic.name }} ao longo do quiz.
            </p>
            -->
        </div>

        <!-- Corpo das Estatísticas -->
        <div class="statistics-body"> 
          <!-- Gráfico de Barras -->
          <div class="graph">
            <div class="bar acertos" *ngIf="((result.correctAnswers / questions.length) * 100) > 0"
              [style.width.%]="((result.correctAnswers / questions.length) * 100).toFixed(1)">
              {{ ((result.correctAnswers / questions.length) * 100).toFixed(1) }}%
            </div>
            <div class="bar erros" *ngIf="(100 - (result.correctAnswers / questions.length) * 100) > 0"
              [style.width.%]="(100 - (result.correctAnswers / questions.length) * 100).toFixed(1)">
              {{ (100 - (result.correctAnswers / questions.length) * 100).toFixed(1) }}%
            </div>
          </div>

          <!-- Detalhes -->
          <div class="details">
            <div class="detail-item">
              Número de questões:
              <span>{{ questions.length }}</span>
            </div>
            <div class="detail-item">
              Total de Acertos:
              <span>{{ result.correctAnswers }}</span>
            </div>
            <div class="detail-item">
              Total de Erros (incluíndo nulas):
              <span>{{ result.incorrectAnswers + result.nullAnswers }}</span>
            </div>
            <!--
            <div class="detail-item">
              Total de Nulas:
              <span>{{ result.nullAnswers }}</span>
            </div>
            -->
            <div class="detail-item">
              Taxa de Acerto:
              <span>{{ ((result.correctAnswers / questions.length) * 100).toFixed(1) }}%</span>
            </div>
            <div class="detail-item">
              Taxa de Erro (incluíndo nulas):
              <span>{{ (100 - (result.correctAnswers / questions.length) * 100).toFixed(1) }}%</span>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <h2 class="section-title">Estatísticas Por Tópicos</h2>

      <div *ngIf="quiz.resultsByTopic">
        <div class="statistics-container" *ngFor="let topic of topics">
          <!-- Cabeçalho -->
          <div class="statistics-header">
            <h2>{{ topic.name }}</h2>
            <!--
                <p class="description">
                  Visão abrangente sobre o desempenho do tópico {{ topic.name }} ao longo do quiz.
                </p>
                -->
          </div>

          <!-- Corpo das Estatísticas -->
          <div class="statistics-body">
            <!-- Gráfico de Barras -->
            <div class="graph">
              <div class="bar acertos" *ngIf="quiz.resultsByTopic[topic.name].percentage! > 0"
                [style.width.%]="quiz.resultsByTopic[topic.name].percentage!.toFixed(1)">
                {{ quiz.resultsByTopic[topic.name].percentage!.toFixed(1) }}%
              </div>
              <div class="bar erros" *ngIf="100 - (quiz.resultsByTopic[topic.name].percentage!) > 0"
                [style.width.%]="(100 - (quiz.resultsByTopic[topic.name].percentage!)).toFixed(1)">
                {{ (100 - (quiz.resultsByTopic[topic.name].percentage!)).toFixed(1) }}%
              </div>
            </div>

            <!-- Detalhes -->
            <div class="details">
              <div class="detail-item">
                Número de questões:
                <span>{{ quiz.resultsByTopic[topic.name].total || 0 }}</span>
              </div>
              <div class="detail-item">
                Total de Acertos:
                <span>{{ quiz.resultsByTopic[topic.name].correct || 0 }}</span>
              </div>
              <div class="detail-item">
                Total de Erros (incluíndo respostas nulas):
                <span>{{ quiz.resultsByTopic[topic.name].incorrect + quiz.resultsByTopic[topic.name].nullAnswers || 0 }}</span>
              </div>
              <!--
              <div class="detail-item">
                Total de Nulas:
                <span>{{ quiz.resultsByTopic[topic.name].nullAnswers || 0 }}</span>
              </div>
              -->
              <div class="detail-item">
                Taxa de Acerto:
                <span>{{ quiz.resultsByTopic[topic.name].percentage!.toFixed(1) || 0 }}%</span>
              </div>
              <div class="detail-item">
                Taxa de Erro (incluíndo respostas nulas):
                <span>{{ (100 - (quiz.resultsByTopic[topic.name].percentage!)).toFixed(1) || 0 }}%</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div *ngIf="!showStartScreen">
    <div *ngIf="currentQuestionIndex < quiz.questions.length">
      <div class="question-card">

        <p>{{ quiz.questions[currentQuestionIndex].topic.name }}</p>        
        <p>{{ quiz.questions[currentQuestionIndex].difficultyLevel }}</p>
        <p>{{ quiz.questions[currentQuestionIndex].timeLimit }}</p>

        <img *ngIf="quiz.questions[currentQuestionIndex].urlFile" src="{{ quiz.questions[currentQuestionIndex].urlFile }}" alt="Gráfico de funções" class="question-graph" />
        <div class="graph-container" *ngIf="!quiz.questions[currentQuestionIndex].urlFile && quiz.questions[currentQuestionIndex].mathExpressions.length > 0">
          <canvas #canvas width="400" height="400"></canvas>
        </div>
        <!-- Contêiner para expressões matemáticas -->
        <div id="math-container-{{ currentQuestionIndex }}"
          *ngIf="quiz.questions[currentQuestionIndex].text">
          \[{{ quiz.questions[currentQuestionIndex].text }}\]
        </div>

        <div class="answer-options">
          <label *ngFor="let answer of quiz.questions[currentQuestionIndex].answers" [ngClass]="{
              'correct-answer': showCorrection && answer.correct,
              'incorrect-answer': showCorrection && !answer.correct && isSelected(quiz.questions[currentQuestionIndex].id, answer.id!),
              'selected-answer': isSelected(quiz.questions[currentQuestionIndex].id, answer.id!)
            }">
            <input type="radio" name="question-{{ quiz.questions[currentQuestionIndex].id }}" [value]="answer.id"
              [checked]="isSelected(quiz.questions[currentQuestionIndex].id, answer.id!)"
              (change)="captureUserAnswer(quiz.questions[currentQuestionIndex].id, answer.id!)"
              [disabled]="showCorrection" />
            <span> \[{{ answer.text }}\] </span>

          </label>
        </div>

        <!-- Input para mostrar a solução -->
        <div class="solution-container" >
          <div class="solution-input">
            <label for="solution">Explicação:</label>
            <div id="math-container-solution-{{ currentQuestionIndex }}" class="solution-text scrollable"
              *ngIf="quiz.questions[currentQuestionIndex].solution">
              \[{{ quiz.questions[currentQuestionIndex].solution }}\]
            </div>
          </div>
        </div>
        
      </div>

      <div class="navigation-buttons text-center">

        <button class="pagination-button" (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">
          <i class="pi pi-chevron-left"></i> Anterior
        </button>
        <button class="pagination-button" (click)="goToNextQuestion()"
          *ngIf="currentQuestionIndex !== quiz.questions.length - 1"> <!-- [disabled]="currentQuestionIndex === quiz.questions.length - 1" -->
          Próxima <i class="pi pi-chevron-right"></i>
        </button>
        <!-- Botão para voltar à tela inicial -->
        <button class="pagination-button" (click)="showStartScreen = true; scrollToTop();"
          *ngIf="currentQuestionIndex === quiz.questions.length - 1">
          <i class="pi pi-arrow-up" style="margin-right: 0.5rem;"></i> Resultados
        </button>
        
      </div>
    </div>

    <div *ngIf="showLoading" class="loading-indicator">Carregando...</div>

  </div>


</div>