<br>
<br>
<br>
<br>
<div class="container">

    <div style="display:inline;">
        <p style="margin-top: 20px; font-size: 30px;">Explicadores</p>
    </div>

    <p style="margin-top: 20px; font-size: 0.85rem;">Descubra uma seleção de explicadores disponíveis em Moçambique,
        incluindo detalhes como área de especialização,
        nível de ensino e experiência.</p>
    <p style="margin-bottom: 20px; font-size: 0.85rem;"> Na ku-DONDZA, facilitamos a busca por explicadores
        qualificados.<a style="color: #1c80cf; text-decoration: underline;" href="">Saiba mais</a>
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>