<div class="dashboard-container" style="margin-top: 70px;">
    <header class="dashboard-header">
        <h1>Dashboard do Aluno</h1>
        <p>Bem-vindo, {{ loggedUser.firstName }} {{ loggedUser.lastName }}!</p>
    </header>

    <main class="dashboard-main">
        <div class="card">
            <h2>Total de Quizzes Criados</h2>
            <p class="number">{{ UserDashboard.totalQuizzesCreated }}</p>
            <p class="description">Você participou de {{ UserDashboard.totalQuizzesCreated }} quizzes até agora.</p>
        </div>

        <div class="card">
            <h2>Participações em Campeonatos</h2>
            <p class="number">{{ UserDashboard.totalCompetitionsParticipating }}</p>
            <p class="description">Você participou de {{ UserDashboard.totalCompetitionsParticipating }} campeonatos.</p>
        </div>
    </main>

</div>